# Refugee claims filed in Canada, 2013- Sept. 2017

## Data obtained through an Access to Information request from the Immigration and Refugee Board of Canada.

Giving each year its own dataframe.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
claims_2013 = pd.read_excel("C:\Users\CARMANT\Documents\My data projects\CBC\Refugee Claims\Refugees_New.xlsx")

In [4]:
claims_2013.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel
0,MA1-10606,2001-10-15,2013-02-13,2013-02-15,F,Reopening,Final Decision,Positive,"BEAUQUIER, Jean-Pierre","Congo, Dem Rep (Zaire)",M,NaN,NaN,"Ottawa, ON",Ontario,Y,NaN,"KASHONGWE, KAKOMIRE"
1,MA6-07434,2006-10-25,2013-01-04,2013-02-15,E,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,Y,MA6-07435/MA6-07436/MA6-07437,"SLOAN, William"
2,MA6-07435,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William"
3,MA6-07436,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William"
4,MA6-07437,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William"

In [5]:
claims_2013.explanation.value_counts()

Negative              9458
Positive              7715
Withdrawn             2037
Abandoned              855
Neg. No Cred Basis     472
Expedited Positive      98
Deceased                27
Administrative          26
Transfer Out             1
Name: explanation, dtype: int64

In [6]:
claims_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20689 entries, 0 to 20688
Data columns (total 18 columns):
IRB_file_number     20689 non-null object
date_referred       20689 non-null datetime64[ns]
decision_date       20689 non-null datetime64[ns]
date_mailed         20689 non-null datetime64[ns]
language            20688 non-null object
intake_type         20689 non-null object
disposition_type    20689 non-null object
explanation         20689 non-null object
board_member        19917 non-null object
country             20689 non-null object
gender              20687 non-null object
category            13193 non-null object
type                13193 non-null object
location            20689 non-null object
residence_prov      20689 non-null object
head_of_family      20689 non-null object
associated_file     3564 non-null object
counsel             18399 non-null object
dtypes: datetime64[ns](3), object(15)
memory usage: 1.7+ MB

In [7]:
claims_2014 = pd.read_excel("C:\Users\CARMANT\Documents\My data projects\CBC\Refugee Claims\Refugees_New.xlsx", sheetname = 1)

In [8]:
claims_2015 = pd.read_excel("C:\Users\CARMANT\Documents\My data projects\CBC\Refugee Claims\Refugees_New.xlsx", sheetname = 2)

In [9]:
claims_2016 = pd.read_excel("C:\Users\CARMANT\Documents\My data projects\CBC\Refugee Claims\Refugees_New.xlsx", sheetname = 3)

In [10]:
claims_2017 = pd.read_excel("C:\Users\CARMANT\Documents\My data projects\CBC\Refugee Claims\Refugees_New.xlsx", sheetname = 4)

In [11]:
claims_2014.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel
0,MA1-01410,2001-02-15,2001-09-19,2014-12-04,F,First Time Referral,Final Decision,Positive,"LAPOMMERAY, JACQUES",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,Y,NaN,"ARPIN, DANIELLE"
1,MA4-02719,2004-04-20,2014-09-18,2014-09-18,E,First Time Referral,Final Decision,Abandoned,"COUSINEAU, LOUIS",Colombia,M,NaN,NaN,"Montreal, QC",Quebec,Y,NaN,NaN
2,MA6-05053,2006-08-14,2014-11-25,2014-12-12,F,Federal Return,Final Decision,Positive,"RAMACIERI, Donna",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,Y,MA6-05054/MA6-05055/MA6-05056,"JOFFE, Alain"
3,MA6-05054,2006-08-14,2014-11-25,2014-12-12,F,Federal Return,Final Decision,Positive,"RAMACIERI, Donna",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"JOFFE, Alain"
4,MA6-05055,2006-08-14,2014-11-25,2014-12-12,F,Federal Return,Final Decision,Positive,"RAMACIERI, Donna",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"JOFFE, Alain"

In [12]:
claims_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19929 entries, 0 to 19928
Data columns (total 18 columns):
IRB_file_number     19929 non-null object
date_referred       19928 non-null datetime64[ns]
decision_date       19929 non-null datetime64[ns]
date_mailed         19929 non-null datetime64[ns]
language            19928 non-null object
intake_type         19929 non-null object
disposition_type    19929 non-null object
explanation         19929 non-null object
board_member        19516 non-null object
country             19929 non-null object
gender              19928 non-null object
category            15891 non-null object
type                15891 non-null object
location            19929 non-null object
residence_prov      19929 non-null object
head_of_family      19929 non-null object
associated_file     3478 non-null object
counsel             18119 non-null object
dtypes: datetime64[ns](3), object(15)
memory usage: 1.6+ MB

In [13]:
claims_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16198 entries, 0 to 16197
Data columns (total 18 columns):
IRB_file_number     16198 non-null object
date_referred       16198 non-null datetime64[ns]
decision_date       16198 non-null datetime64[ns]
date_mailed         16198 non-null datetime64[ns]
language            16198 non-null object
intake_type         16198 non-null object
disposition_type    16198 non-null object
explanation         16198 non-null object
board_member        15930 non-null object
country             16198 non-null object
gender              16197 non-null object
category            14509 non-null object
type                14509 non-null object
location            16198 non-null object
residence_prov      16198 non-null object
head_of_family      16198 non-null object
associated_file     2846 non-null object
counsel             15215 non-null object
dtypes: datetime64[ns](3), object(15)
memory usage: 1.3+ MB

In [14]:
claims_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16442 entries, 0 to 16441
Data columns (total 18 columns):
IRB_file_number     16442 non-null object
date_referred       16441 non-null datetime64[ns]
decision_date       16442 non-null datetime64[ns]
date_mailed         16442 non-null datetime64[ns]
language            16441 non-null object
intake_type         16442 non-null object
disposition_type    16442 non-null object
explanation         16442 non-null object
board_member        16059 non-null object
country             16441 non-null object
gender              16441 non-null object
category            15595 non-null object
type                15595 non-null object
location            16442 non-null object
residence_prov      16442 non-null object
head_of_family      16442 non-null object
associated_file     2932 non-null object
counsel             15679 non-null object
dtypes: datetime64[ns](3), object(15)
memory usage: 1.3+ MB

In [15]:
claims_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16259 entries, 0 to 16258
Data columns (total 18 columns):
IRB_file_number     16259 non-null object
date_referred       16257 non-null datetime64[ns]
decision_date       16259 non-null datetime64[ns]
date_mailed         16259 non-null datetime64[ns]
language            16259 non-null object
intake_type         16259 non-null object
disposition_type    16259 non-null object
explanation         16259 non-null object
board_member        15902 non-null object
country             16259 non-null object
gender              16259 non-null object
category            15444 non-null object
type                15444 non-null object
location            16259 non-null object
residence_prov      16259 non-null object
head_of_family      16259 non-null object
associated_file     3016 non-null object
counsel             15574 non-null object
dtypes: datetime64[ns](3), object(15)
memory usage: 1.3+ MB

Joining all claims together into one dataframe.

In [16]:
claims = [claims_2013, claims_2014, claims_2015, claims_2016, claims_2017]

In [17]:
all_claims = pd.concat(claims)

In [18]:
all_claims.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel
0,MA1-10606,2001-10-15,2013-02-13,2013-02-15,F,Reopening,Final Decision,Positive,"BEAUQUIER, Jean-Pierre","Congo, Dem Rep (Zaire)",M,NaN,NaN,"Ottawa, ON",Ontario,Y,NaN,"KASHONGWE, KAKOMIRE"
1,MA6-07434,2006-10-25,2013-01-04,2013-02-15,E,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,Y,MA6-07435/MA6-07436/MA6-07437,"SLOAN, William"
2,MA6-07435,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William"
3,MA6-07436,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William"
4,MA6-07437,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William"

## All claims together

Query to see the details of the newly-joined dataset. There are 89,517 cases.

In [19]:
all_claims.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89517 entries, 0 to 16258
Data columns (total 18 columns):
IRB_file_number     89517 non-null object
date_referred       89513 non-null datetime64[ns]
decision_date       89517 non-null datetime64[ns]
date_mailed         89517 non-null datetime64[ns]
language            89514 non-null object
intake_type         89517 non-null object
disposition_type    89517 non-null object
explanation         89517 non-null object
board_member        87324 non-null object
country             89516 non-null object
gender              89512 non-null object
category            74632 non-null object
type                74632 non-null object
location            89517 non-null object
residence_prov      89517 non-null object
head_of_family      89517 non-null object
associated_file     15836 non-null object
counsel             82986 non-null object
dtypes: datetime64[ns](3), object(15)
memory usage: 7.9+ MB

Calculated processing time in days by calculating difference between date a decision was mailed and date the case was referred to the IRB.

In [20]:
all_claims["processing_time"] = all_claims['date_mailed'].sub(all_claims['date_referred'], axis=0)

In [21]:
all_claims.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel,processing_time
0,MA1-10606,2001-10-15,2013-02-13,2013-02-15,F,Reopening,Final Decision,Positive,"BEAUQUIER, Jean-Pierre","Congo, Dem Rep (Zaire)",M,NaN,NaN,"Ottawa, ON",Ontario,Y,NaN,"KASHONGWE, KAKOMIRE",4141 days
1,MA6-07434,2006-10-25,2013-01-04,2013-02-15,E,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,Y,MA6-07435/MA6-07436/MA6-07437,"SLOAN, William",2305 days
2,MA6-07435,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days
3,MA6-07436,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days
4,MA6-07437,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days

I know there are some duplicated unique IRB claim numbers in this dataset, so here I have counted the number of times each number occurs in the data. Some claims have as many as three different types of persecution associated with them. The duplicates appear to be related to individuals whose case appeared before the IRB more than once (returned to IRB on federal appeal, for example.)

In [22]:
all_claims.IRB_file_number.value_counts()

TA6-07395    3
TA6-04805    3
TB2-05895    3
MB1-04093    3
MB1-01842    3
TB4-02556    3
MB3-00028    3
MA9-13226    3
VB4-01251    3
MA9-13227    3
VB3-02929    3
MB4-00412    3
VB4-02114    3
VB5-01476    3
VB1-03613    3
MB0-06887    3
MB3-03558    3
TB2-05894    3
MB3-03376    3
VB5-01653    3
TA6-07394    3
MB1-02246    3
MB1-04100    3
TB2-05865    3
MB3-00323    3
VB3-03104    3
VB5-01755    2
MB1-03879    2
MB5-00851    2
TB2-02329    2
            ..
TB6-06873    1
TB6-06872    1
TB6-06875    1
TB6-06874    1
TB1-11588    1
TB1-11589    1
TB3-08911    1
VB3-01278    1
TB1-11586    1
MB2-07134    1
TB4-12113    1
MB2-07137    1
VB2-01362    1
TB1-18063    1
VB2-01360    1
VB2-01361    1
VB2-01366    1
TB1-18067    1
VB2-01364    1
TB1-18065    1
TB1-18068    1
TB6-10463    1
MB0-05949    1
TB4-12110    1
TB7-06432    1
MB2-07132    1
MB0-05942    1
MB0-05941    1
MB2-07131    1
MB2-02355    1
Name: IRB_file_number, Length: 88042, dtype: int64

The most common categories and types of reported persecution.

In [23]:
all_claims.category.value_counts()

No Nexus _ Criminality_Corruption              13304
Race_Ethnicity                                 10619
Religion                                       10343
Political Opinion  Activism                     9672
Particular Social Group  Gender_Age             7477
Particular Social Group  Sexual Orientation     6277
Political Opinion  Organization                 5094
Particular Social Group  Varied_Other           3472
Political Opinion  Varied_Other                 2802
Political Opinion _ State Policy Issues         2664
No Nexus  Varied_Other                          1737
Political Opinion  Military Service             1171
Name: category, dtype: int64

In [24]:
all_claims.type.value_counts()

Varied/Other                                                  13280
Anti government                                                5316
Roma                                                           4738
Female   Domestic violence                                     3587
Christian                                                      3481
Gay                                                            3097
Witness/Victim of Organized crime                              2619
Witness/Victim of Common crime                                 2526
Falun Gong                                                     2495
Personal vendetta/Family feud                                  2218
Bisexual                                                       1641
Witness/Victim of State agents                                 1424
Family Planning Policy (FPP)                                   1358
Witness/Victim of Guerrilla/Rebels                             1247
Lesbian                                                        1235
Ahmadi (unspecified)                                           1225
Witness/Victim of radical fundamentalist group                 1165
Female   Forced marriage                                       1109
Female   Other                                                 1041
Anti poverty/Community activist/NGO                             774
Christian  Coptic                                               743
Female   Non domestic sexual violence                           739
Tamil North/East/Central                                        703
State employee / Appointee / Police / Military                  635
Generalized risk                                                623
Journalist (Print/Radio/TV)                                     564
Female Genital Mutilation (FGM)                                 553
Illegal Exit                                                    526
Evasion                                                         483
Fear is unspecified/unclear                                     464
                                                              ...
Janatha Vimukthi Peramuna (JVP)                                   3
Tamil                                                             3
Rally for the Guinean People (RPG)                                3
Other foreign forces (UN/OAS/USA)                                 3
Buddhists                                                         3
Korean                                                            3
Pushtun                                                           3
Indo Fijian (Hindu)                                               2
People’s Progressive Party/Civic (PPP/Civic)                      2
Female   Dress code                                               2
Uighur                                                            2
Ashkali                                                           2
Sexual harassment                                                 2
Tribe Hill Tract                                                  2
Militant left wing (DHKP/C/TKP/ML/TKEP/MLPK)                      2
Hindu party  other                                                2
Muttahida Qaumi Movement   Altaf (MQM)                            2
Bihari                                                            2
Farabundo Marti Liberation Front (FMLN)                           2
Social Conservative Party / Colombia First (PSC)                  1
Pro Saudi/Arab alliance militia/group supporter/member            1
Pro Musharraf group                                               1
National Front for Change and Democracy (FNCD)                    1
Haqiqi (MQM)                                                      1
Shining Path/Sendero Luminoso (SL)                                1
Abkhazian                                                         1
National Action Party (PAN)                                       1
Albanian                                                          1
Communist Party of Nepal/United Marxist Leninist (CPN/UML)        1
Indigenous activist (including CONAIE, CMS & FEINE)               1
Name: type, Length: 236, dtype: int64

The countries responsible for the most refugee claims.

In [25]:
all_claims.country.value_counts()

China                     7259
Hungary                   5258
Pakistan                  4240
Nigeria                   3916
Colombia                  3593
Syria                     3304
India                     2553
Iraq                      2508
Turkey                    2407
Haiti                     2229
Afghanistan               2205
Somalia                   2015
Mexico                    1993
Eritrea                   1799
Congo, Dem Rep (Zaire)    1657
Sri Lanka                 1652
Burundi                   1536
Slovakia                  1370
El Salvador               1309
Iran                      1290
Egypt                     1269
Croatia                   1211
Venezuela                 1210
Ukraine                   1189
Libya                     1133
Bangladesh                1093
Ethiopia                  1077
Albania                   1065
Lebanon                   1049
Honduras                   959
                          ...
Singapore                   15
Mauritius                   14
Sudan (South)               14
Equatorial Guinea           13
Guinea-Bissau               11
Finland                     10
Slovenia                     9
Qatar                        8
Turkmenistan                 8
Dominica                     7
England                      7
Switzerland                  7
Laos                         7
Bermuda                      5
Stateless                    5
Paraguay                     5
Malta                        4
Cyprus                       4
Comoros                      4
Austria                      4
Seychelles                   4
Mozambique                   4
Malawi                       3
Oman                         3
Papua New Guinea             2
New Zealand                  2
San Marino                   1
Denmark                      1
Nevis                        1
Cape Verde                   1
Name: country, Length: 180, dtype: int64

The outcome of claims

In [26]:
all_claims.explanation.value_counts()

Positive              46183
Negative              30585
Withdrawn              6068
Abandoned              2749
Neg. No Cred Basis     2002
Expedited Positive     1798
Administrative           68
Deceased                 63
Transfer Out              1
Name: explanation, dtype: int64

Creating a decision year column based on the year value in the current date mailed column. This will make it easier to track changes in variables between 2013 and 2017.

In [27]:
all_claims["decision_year"] = all_claims["date_mailed"].dt.year

In [28]:
all_claims['date_mailed'] = pd.to_datetime(all_claims['date_mailed'])

In [29]:
all_claims.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel,processing_time,decision_year
0,MA1-10606,2001-10-15,2013-02-13,2013-02-15,F,Reopening,Final Decision,Positive,"BEAUQUIER, Jean-Pierre","Congo, Dem Rep (Zaire)",M,NaN,NaN,"Ottawa, ON",Ontario,Y,NaN,"KASHONGWE, KAKOMIRE",4141 days,2013
1,MA6-07434,2006-10-25,2013-01-04,2013-02-15,E,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,Y,MA6-07435/MA6-07436/MA6-07437,"SLOAN, William",2305 days,2013
2,MA6-07435,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days,2013
3,MA6-07436,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days,2013
4,MA6-07437,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days,2013

## Isolating refugee claims that were decided by the IRB

Isolating the cases in which the IRB made decisions on the file, or in other words, eliminating those that were abandoned or withdrawn.

In [30]:
decided = all_claims[(all_claims.explanation == "Positive") | (all_claims.explanation == "Expedited Positive") | (all_claims.explanation == "Neg. No Cred Basis") | (all_claims.explanation == "Negative")]

There were 80,568 claims for which the IRB made a decision during this time period.

In [31]:
decided.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80568 entries, 0 to 16251
Data columns (total 20 columns):
IRB_file_number     80568 non-null object
date_referred       80567 non-null datetime64[ns]
decision_date       80568 non-null datetime64[ns]
date_mailed         80568 non-null datetime64[ns]
language            80565 non-null object
intake_type         80568 non-null object
disposition_type    80568 non-null object
explanation         80568 non-null object
board_member        80564 non-null object
country             80567 non-null object
gender              80564 non-null object
category            69567 non-null object
type                69567 non-null object
location            80568 non-null object
residence_prov      80568 non-null object
head_of_family      80568 non-null object
associated_file     14397 non-null object
counsel             76823 non-null object
processing_time     80567 non-null timedelta64[ns]
decision_year       80568 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 8.3+ MB

Countries with the most decided claims

In [32]:
decided.country.value_counts()

China                     6579
Pakistan                  4106
Hungary                   4103
Nigeria                   3824
Colombia                  3370
Syria                     3220
Iraq                      2358
Turkey                    2301
Haiti                     2141
Afghanistan               2051
India                     2002
Eritrea                   1747
Somalia                   1719
Mexico                    1655
Sri Lanka                 1585
Congo, Dem Rep (Zaire)    1561
Burundi                   1518
El Salvador               1243
Iran                      1231
Egypt                     1229
Venezuela                 1167
Libya                     1117
Ukraine                   1109
Ethiopia                  1051
Bangladesh                1038
Slovakia                  1032
Lebanon                   1008
Albania                    989
Croatia                    890
Honduras                   881
                          ...
Sudan (South)               14
Mauritius                   13
Sweden                      13
Equatorial Guinea           13
Guinea-Bissau                9
Qatar                        8
England                      7
Switzerland                  7
Turkmenistan                 7
Laos                         7
Norway                       7
Finland                      6
Bermuda                      5
Stateless                    5
Paraguay                     5
Estonia                      5
Comoros                      4
Mozambique                   4
Slovenia                     4
Malta                        4
Seychelles                   4
Malawi                       3
Cyprus                       3
Dominica                     3
Austria                      2
Papua New Guinea             2
San Marino                   1
Cape Verde                   1
Nevis                        1
New Zealand                  1
Name: country, Length: 178, dtype: int64

## Calculating the average approval rate of all claims

In [33]:
outcomes = pd.pivot_table(decided, columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [34]:
outcomes.head()

explanation      Expedited Positive  Neg. No Cred Basis  Negative  Positive
IRB_file_number                1798                2002     30585     46183

In [35]:
outcomes["Total"] = outcomes.sum(axis=1)

In [36]:
outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total
IRB_file_number,1798,2002,30585,46183,80568

In [37]:
outcomes["Tot_Pos"] = outcomes[ "Positive"].add(outcomes["Expedited Positive"], axis=0)

In [38]:
outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos
IRB_file_number,1798,2002,30585,46183,80568,47981

In [39]:
outcomes["Rate_Pos"] = outcomes["Tot_Pos"]/outcomes["Total"]

In [40]:
outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
IRB_file_number,1798,2002,30585,46183,80568,47981,0.595534

Overall, 60 per cent of the claims decided by the IRB over this time period were positive.

## Calculating rates of positive decisions by country

In [41]:
import numpy as np

In [42]:
outcomes_country = pd.pivot_table(decided, index="country", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [43]:
outcomes_country.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive
country,,,,
Afghanistan,68.0,32.0,267.0,1684.0
Albania,NaN,31.0,503.0,455.0
Algeria,NaN,35.0,323.0,229.0
Angola,2.0,2.0,60.0,43.0
Antigua and Barbuda,NaN,3.0,39.0,57.0

In [44]:
outcomes_country.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, Afghanistan to Zimbabwe
Data columns (total 4 columns):
Expedited Positive    31 non-null float64
Neg. No Cred Basis    122 non-null float64
Negative              173 non-null float64
Positive              161 non-null float64
dtypes: float64(4)
memory usage: 6.3+ KB

In [45]:
outcomes_country.fillna(0, inplace=True)

In [46]:
outcomes_country["total"] = outcomes_country.sum(axis=1)

In [47]:
outcomes_country.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total
country,,,,,
Afghanistan,68.0,32.0,267.0,1684.0,2051.0
Albania,0.0,31.0,503.0,455.0,989.0
Algeria,0.0,35.0,323.0,229.0,587.0
Angola,2.0,2.0,60.0,43.0,107.0
Antigua and Barbuda,0.0,3.0,39.0,57.0,99.0

In [48]:
outcomes_country["tot_pos"] = outcomes_country[ "Positive"].add(outcomes_country["Expedited Positive"], axis=0)

In [49]:
outcomes_country.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos
country,,,,,,
Afghanistan,68.0,32.0,267.0,1684.0,2051.0,1752.0
Albania,0.0,31.0,503.0,455.0,989.0,455.0
Algeria,0.0,35.0,323.0,229.0,587.0,229.0
Angola,2.0,2.0,60.0,43.0,107.0,45.0
Antigua and Barbuda,0.0,3.0,39.0,57.0,99.0,57.0

In [50]:
outcomes_country["rate_pos"] = outcomes_country["tot_pos"]/outcomes_country["total"]

In [51]:
outcomes_country.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Afghanistan,68.0,32.0,267.0,1684.0,2051.0,1752.0,0.854217
Albania,0.0,31.0,503.0,455.0,989.0,455.0,0.460061
Algeria,0.0,35.0,323.0,229.0,587.0,229.0,0.390119
Angola,2.0,2.0,60.0,43.0,107.0,45.0,0.420561
Antigua and Barbuda,0.0,3.0,39.0,57.0,99.0,57.0,0.575758

List of countries ranked from highest to lowest rate of approval.

In [52]:
outcomes_country.sort_values("rate_pos", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Nevis,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Malawi,0.0,0.0,0.0,3.0,3.0,3.0,1.000000
Seychelles,0.0,0.0,0.0,4.0,4.0,4.0,1.000000
Sudan (South),0.0,0.0,0.0,14.0,14.0,14.0,1.000000
Syria,837.0,2.0,155.0,2226.0,3220.0,3063.0,0.951242
Yemen,57.0,1.0,55.0,543.0,656.0,600.0,0.914634
Eritrea,358.0,15.0,151.0,1223.0,1747.0,1581.0,0.904980
Central African Rep,0.0,0.0,7.0,56.0,63.0,56.0,0.888889
Egypt,51.0,3.0,148.0,1027.0,1229.0,1078.0,0.877136
Afghanistan,68.0,32.0,267.0,1684.0,2051.0,1752.0,0.854217
Iraq,203.0,13.0,337.0,1805.0,2358.0,2008.0,0.851569
Libya,0.0,2.0,165.0,950.0,1117.0,950.0,0.850492
Burundi,134.0,2.0,242.0,1140.0,1518.0,1274.0,0.839262
Bahrain,0.0,0.0,7.0,36.0,43.0,36.0,0.837209
Sudan,14.0,14.0,93.0,513.0,634.0,527.0,0.831230
Stateless,0.0,0.0,1.0,4.0,5.0,4.0,0.800000
Iran,3.0,8.0,239.0,981.0,1231.0,984.0,0.799350
Belize,0.0,0.0,3.0,11.0,14.0,11.0,0.785714
Pakistan,29.0,45.0,856.0,3176.0,4106.0,3205.0,0.780565
Azerbaijan,0.0,7.0,52.0,201.0,260.0,201.0,0.773077
Palestine,0.0,0.0,150.0,498.0,648.0,498.0,0.768519
Turkey,0.0,11.0,526.0,1764.0,2301.0,1764.0,0.766623
Djibouti,0.0,2.0,157.0,498.0,657.0,498.0,0.757991
Saudi Arabia,3.0,7.0,74.0,249.0,333.0,252.0,0.756757
Kazakhstan,0.0,2.0,22.0,73.0,97.0,73.0,0.752577
Tajikistan,0.0,0.0,9.0,26.0,35.0,26.0,0.742857
Venezuela,0.0,7.0,299.0,861.0,1167.0,861.0,0.737789
Turkmenistan,0.0,2.0,0.0,5.0,7.0,5.0,0.714286
Chad,0.0,5.0,107.0,279.0,391.0,279.0,0.713555
Russia,0.0,16.0,144.0,394.0,554.0,394.0,0.711191
...,...,...,...,...,...,...,...
Hong Kong (SAR),0.0,5.0,16.0,2.0,23.0,2.0,0.086957
Sweden,0.0,2.0,10.0,1.0,13.0,1.0,0.076923
Bosnia and Herzegovina,0.0,4.0,46.0,4.0,54.0,4.0,0.074074
Slovakia (Slovak Republic),0.0,0.0,14.0,1.0,15.0,1.0,0.066667
Korea DPR (North),0.0,97.0,215.0,22.0,334.0,22.0,0.065868
Greece,0.0,7.0,99.0,7.0,113.0,7.0,0.061947
Costa Rica,0.0,0.0,38.0,2.0,40.0,2.0,0.050000
Germany,0.0,3.0,19.0,1.0,23.0,1.0,0.043478
Japan,0.0,3.0,20.0,1.0,24.0,1.0,0.041667
Spain,0.0,9.0,89.0,3.0,101.0,3.0,0.029703
Belgium,0.0,0.0,38.0,1.0,39.0,1.0,0.025641
United States of America,0.0,10.0,506.0,11.0,527.0,11.0,0.020873
France,0.0,13.0,36.0,1.0,50.0,1.0,0.020000
Italy,0.0,9.0,145.0,1.0,155.0,1.0,0.006452
Uruguay,0.0,9.0,14.0,0.0,23.0,0.0,0.000000
Austria,0.0,0.0,2.0,0.0,2.0,0.0,0.000000
Cape Verde,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Turks and Caicos Islands,0.0,0.0,23.0,0.0,23.0,0.0,0.000000
Bermuda,0.0,0.0,5.0,0.0,5.0,0.0,0.000000
Switzerland,0.0,0.0,7.0,0.0,7.0,0.0,0.000000
Estonia,0.0,0.0,5.0,0.0,5.0,0.0,0.000000
Ireland,0.0,1.0,13.0,0.0,14.0,0.0,0.000000
Slovenia,0.0,1.0,3.0,0.0,4.0,0.0,0.000000
England,0.0,0.0,7.0,0.0,7.0,0.0,0.000000
San Marino,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Portugal,0.0,15.0,38.0,0.0,53.0,0.0,0.000000
New Zealand,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Malta,0.0,0.0,4.0,0.0,4.0,0.0,0.000000
Mozambique,0.0,0.0,4.0,0.0,4.0,0.0,0.000000
Finland,0.0,0.0,6.0,0.0,6.0,0.0,0.000000

Calculating what proportion of claims were accepted for certain countries of interest.

In [53]:
outcomes_country[outcomes_country.index == "Haiti"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Haiti,5.0,13.0,1192.0,931.0,2141.0,936.0,0.437179

In [54]:
outcomes_country[outcomes_country.index == "China"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
China,5.0,514.0,3089.0,2971.0,6579.0,2976.0,0.452348

In [55]:
outcomes_country[outcomes_country.index == "Nigeria"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Nigeria,3.0,142.0,1816.0,1863.0,3824.0,1866.0,0.487971

In [56]:
outcomes_country[outcomes_country.index == "Pakistan"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Pakistan,29.0,45.0,856.0,3176.0,4106.0,3205.0,0.780565

In [57]:
outcomes_country[outcomes_country.index == "Hungary"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Hungary,0.0,41.0,1949.0,2113.0,4103.0,2113.0,0.514989

In [58]:
outcomes_country[outcomes_country.index == "Colombia"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Colombia,1.0,49.0,1465.0,1855.0,3370.0,1856.0,0.550742

In [59]:
outcomes_country[outcomes_country.index == "Syria"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Syria,837.0,2.0,155.0,2226.0,3220.0,3063.0,0.951242

In [60]:
outcomes_country[outcomes_country.index == "Iraq"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Iraq,203.0,13.0,337.0,1805.0,2358.0,2008.0,0.851569

In [61]:
outcomes_country[outcomes_country.index == "Turkey"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Turkey,0.0,11.0,526.0,1764.0,2301.0,1764.0,0.766623

In [62]:
outcomes_country[outcomes_country.index == "Afghanistan"]

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,total,tot_pos,rate_pos
country,,,,,,,
Afghanistan,68.0,32.0,267.0,1684.0,2051.0,1752.0,0.854217

## Which types of persecution have higher approval rates?

In [63]:
outcomes_category = pd.pivot_table(decided, index="category", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [64]:
outcomes_category.head(20)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive
category,,,,
No Nexus Varied_Other,19,70,843,573
No Nexus _ Criminality_Corruption,28,378,6885,5027
Particular Social Group Gender_Age,54,135,2867,3989
Particular Social Group Sexual Orientation,4,192,1755,4110
Particular Social Group Varied_Other,17,268,1435,1485
Political Opinion Activism,416,114,2219,6599
Political Opinion Military Service,260,11,147,719
Political Opinion Organization,48,71,1596,3158
Political Opinion Varied_Other,113,22,639,1906
Political Opinion _ State Policy Issues,12,156,958,1075
Race_Ethnicity,123,121,3231,5801
Religion,601,121,2180,7016

In [65]:
outcomes_category["Total"] = outcomes_category.sum(axis=1)

In [66]:
outcomes_category["Tot_Pos"] = outcomes_category[ "Positive"].add(outcomes_category["Expedited Positive"], axis=0)

In [67]:
outcomes_category.head(20)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos
category,,,,,,
No Nexus Varied_Other,19,70,843,573,1505,592
No Nexus _ Criminality_Corruption,28,378,6885,5027,12318,5055
Particular Social Group Gender_Age,54,135,2867,3989,7045,4043
Particular Social Group Sexual Orientation,4,192,1755,4110,6061,4114
Particular Social Group Varied_Other,17,268,1435,1485,3205,1502
Political Opinion Activism,416,114,2219,6599,9348,7015
Political Opinion Military Service,260,11,147,719,1137,979
Political Opinion Organization,48,71,1596,3158,4873,3206
Political Opinion Varied_Other,113,22,639,1906,2680,2019
Political Opinion _ State Policy Issues,12,156,958,1075,2201,1087
Race_Ethnicity,123,121,3231,5801,9276,5924
Religion,601,121,2180,7016,9918,7617

In [68]:
outcomes_category.head(20)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos
category,,,,,,
No Nexus Varied_Other,19,70,843,573,1505,592
No Nexus _ Criminality_Corruption,28,378,6885,5027,12318,5055
Particular Social Group Gender_Age,54,135,2867,3989,7045,4043
Particular Social Group Sexual Orientation,4,192,1755,4110,6061,4114
Particular Social Group Varied_Other,17,268,1435,1485,3205,1502
Political Opinion Activism,416,114,2219,6599,9348,7015
Political Opinion Military Service,260,11,147,719,1137,979
Political Opinion Organization,48,71,1596,3158,4873,3206
Political Opinion Varied_Other,113,22,639,1906,2680,2019
Political Opinion _ State Policy Issues,12,156,958,1075,2201,1087
Race_Ethnicity,123,121,3231,5801,9276,5924
Religion,601,121,2180,7016,9918,7617

In [69]:
outcomes_category["Rate_Pos"] = outcomes_category["Tot_Pos"]/outcomes_category["Total"]

Political and religious refugees have a better chance of having their claim approved.

In [70]:
outcomes_category.sort_values("Rate_Pos", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
category,,,,,,,
Political Opinion Military Service,260,11,147,719,1137,979,0.861038
Religion,601,121,2180,7016,9918,7617,0.767998
Political Opinion Varied_Other,113,22,639,1906,2680,2019,0.753358
Political Opinion Activism,416,114,2219,6599,9348,7015,0.750428
Particular Social Group Sexual Orientation,4,192,1755,4110,6061,4114,0.678766
Political Opinion Organization,48,71,1596,3158,4873,3206,0.657911
Race_Ethnicity,123,121,3231,5801,9276,5924,0.638637
Particular Social Group Gender_Age,54,135,2867,3989,7045,4043,0.573882
Political Opinion _ State Policy Issues,12,156,958,1075,2201,1087,0.493866
Particular Social Group Varied_Other,17,268,1435,1485,3205,1502,0.468643
No Nexus _ Criminality_Corruption,28,378,6885,5027,12318,5055,0.410375
No Nexus Varied_Other,19,70,843,573,1505,592,0.393355

In [71]:
outcomes_category["Rate_Pos"].mean()

0.6206881306079014

## How has the approval rate changed over the years?

In [72]:
approval = pd.pivot_table(decided, index = "decision_year", columns = "explanation",values="IRB_file_number", aggfunc=np.count_nonzero)

In [73]:
approval.head()

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
decision_year
2013                         98.0               472.0    9458.0    7715.0
2014                          NaN               603.0    7178.0    9878.0
2015                         82.0               544.0    4797.0    9453.0
2016                        516.0               275.0    4701.0    9726.0
2017                       1102.0               108.0    4451.0    9411.0

In [74]:
approval.fillna(0, inplace=True)

In [75]:
approval["Total"] = approval.sum(axis=1)

In [76]:
approval["Tot_Pos"] = approval["Positive"].add(approval["Expedited Positive"])

In [77]:
approval["Rate_Pos"] = approval["Tot_Pos"]/approval["Total"]

In [78]:
approval.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,98.0,472.0,9458.0,7715.0,17743.0,7813.0,0.440343
2014,0.0,603.0,7178.0,9878.0,17659.0,9878.0,0.559375
2015,82.0,544.0,4797.0,9453.0,14876.0,9535.0,0.640965
2016,516.0,275.0,4701.0,9726.0,15218.0,10242.0,0.673019
2017,1102.0,108.0,4451.0,9411.0,15072.0,10513.0,0.697519

The IRB approval rate went from 44 per cent in 2013 to 70 per cent in 2017.

## Gender: Isolating the claims made by female refugees

In [79]:
all_female = all_claims[all_claims.gender == "F"]

Gender was a factor in more than 6,000 claims made by female refugees, more than any other category of persecution. These represented 15 per cent, or nearly one in six claims made by women. Of these, the most common cause cited was domestic violence.

In [80]:
all_female.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39982 entries, 2 to 16253
Data columns (total 20 columns):
IRB_file_number     39982 non-null object
date_referred       39981 non-null datetime64[ns]
decision_date       39982 non-null datetime64[ns]
date_mailed         39982 non-null datetime64[ns]
language            39981 non-null object
intake_type         39982 non-null object
disposition_type    39982 non-null object
explanation         39982 non-null object
board_member        39012 non-null object
country             39981 non-null object
gender              39982 non-null object
category            32389 non-null object
type                32389 non-null object
location            39982 non-null object
residence_prov      39982 non-null object
head_of_family      39982 non-null object
associated_file     7148 non-null object
counsel             37192 non-null object
processing_time     39981 non-null timedelta64[ns]
decision_year       39982 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 4.1+ MB

In [81]:
all_female.category.value_counts()

Particular Social Group  Gender_Age            6195
Religion                                       4840
No Nexus _ Criminality_Corruption              4815
Race_Ethnicity                                 3971
Political Opinion  Activism                    3757
Particular Social Group  Sexual Orientation    2033
Political Opinion  Organization                1671
Particular Social Group  Varied_Other          1617
Political Opinion _ State Policy Issues        1304
Political Opinion  Varied_Other                1099
No Nexus  Varied_Other                          710
Political Opinion  Military Service             377
Name: category, dtype: int64

In [82]:
all_female.type.value_counts()

Varied/Other                                        5108
Female   Domestic violence                          3077
Anti government                                     2142
Roma                                                2024
Christian                                           1687
Lesbian                                             1177
Falun Gong                                          1161
Witness/Victim of Organized crime                   1019
Female   Forced marriage                             990
Witness/Victim of Common crime                       954
Female   Other                                       891
Family Planning Policy (FPP)                         755
Personal vendetta/Family feud                        716
Ahmadi (unspecified)                                 661
Female   Non domestic sexual violence                653
Bisexual                                             648
Witness/Victim of Guerrilla/Rebels                   557
Witness/Victim of State agents                       472
Female Genital Mutilation (FGM)                      412
Christian  Coptic                                    390
Anti poverty/Community activist/NGO                  341
Witness/Victim of radical fundamentalist group       335
Illegal Exit                                         275
Generalized risk                                     254
Muslim  Sunni                                        238
State employee / Appointee / Police / Military       226
Journalist (Print/Radio/TV)                          214
Fear is unspecified/unclear                          199
Evasion                                              195
Muslim   Sunni                                       184
                                                    ...
Party of the Democratic Revolution (PRD)               2
Amhara                                                 2
Other foreign forces (UN/OAS/USA)                      2
Female   Dress code                                    2
Forced recruitment by Taliban                          2
Pro Islamic groups                                     2
Other Kashmir party                                    2
Babbar Khalsa International                            2
All India Sikh Student Federation (AISSF)              2
Uzbek                                                  2
Sinhalese                                              2
People’s Progressive Party/Civic (PPP/Civic)           1
Serb                                                   1
Buddhists                                              1
Social Democratic Front (SDF)                          1
Jehovah's Witness                                      1
Social Conservative Party / Colombia First (PSC)       1
Indo Fijian (Hindu)                                    1
Pushtun                                                1
Liberal Party of Honduras (PLH)                        1
Muttahida Qaumi Movement   Altaf (MQM)                 1
Tamil speaking Muslims                                 1
Albanian                                               1
Uighur                                                 1
Bundu Dia Kongo (BDK)                                  1
Tatar                                                  1
Kongra Gel (PKK/KADEK)                                 1
Janatha Vimukthi Peramuna (JVP)                        1
Indigenous                                             1
Pakistan Muslim League  Nawaz (PML N)                  1
Name: type, Length: 213, dtype: int64

What proportion of refugee claims from women were accepted?

In [83]:
female_outcomes = pd.pivot_table(all_female, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [84]:
female_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,,
2013,329.0,13.0,15.0,51.0,168.0,4035.0,3782.0,909.0
2014,389.0,3.0,6.0,NaN,235.0,3068.0,4650.0,620.0
2015,154.0,5.0,2.0,40.0,213.0,2013.0,4417.0,407.0
2016,117.0,6.0,7.0,270.0,99.0,1981.0,4427.0,385.0
2017,133.0,NaN,3.0,502.0,41.0,1885.0,4268.0,334.0

In [85]:
del female_outcomes ["Abandoned"]

In [86]:
del female_outcomes ["Administrative"]

In [87]:
del female_outcomes ["Deceased"]

In [88]:
del female_outcomes ["Withdrawn"]

In [89]:
female_outcomes["Total"] = female_outcomes.sum(axis=1)

In [90]:
female_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total
decision_year,,,,,
2013,51.0,168.0,4035.0,3782.0,8036.0
2014,NaN,235.0,3068.0,4650.0,7953.0
2015,40.0,213.0,2013.0,4417.0,6683.0
2016,270.0,99.0,1981.0,4427.0,6777.0
2017,502.0,41.0,1885.0,4268.0,6696.0

In [91]:
female_outcomes.loc['Total'] = female_outcomes.sum()

In [92]:
female_outcomes["Tot_Pos"] = female_outcomes["Positive"].add(female_outcomes["Expedited Positive"], axis=0)

In [93]:
female_outcomes["Rate_Pos"] = female_outcomes["Positive"]/female_outcomes["Total"]

Overall, 60% of female refugee claimants had their claim accepted.

In [94]:
female_outcomes.head(6)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,51.0,168.0,4035.0,3782.0,8036.0,3833.0,0.470632
2014,NaN,235.0,3068.0,4650.0,7953.0,NaN,0.584685
2015,40.0,213.0,2013.0,4417.0,6683.0,4457.0,0.660931
2016,270.0,99.0,1981.0,4427.0,6777.0,4697.0,0.653239
2017,502.0,41.0,1885.0,4268.0,6696.0,4770.0,0.637395
Total,863.0,756.0,12982.0,21544.0,36145.0,22407.0,0.596044

Putting all gender-related claims from female refugees in their own dataframe.

In [95]:
gender_related = all_female[all_female.category == "Particular Social Group  Gender_Age"]

By far the most women citing persecution on the basis of gender or age came from Nigeria.

In [96]:
gender_related.country.value_counts()

Nigeria                     880
Haiti                       307
Afghanistan                 191
Namibia                     167
India                       165
Pakistan                    162
Saint Vincent               162
Ukraine                     154
Congo, Dem Rep (Zaire)      144
Djibouti                    137
Cameroon                    136
Mexico                      116
Jamaica                     113
Saint Lucia                 111
Guinea                      111
Syria                       108
Lebanon                      95
Somalia                      92
Iraq                         91
Iran                         89
Algeria                      86
Albania                      82
Jordan                       81
Colombia                     79
Hungary                      78
Saudi Arabia                 75
China                        69
Senegal                      63
Russia                       62
Mali                         57
                           ...
Montenegro                    4
Equatorial Guinea             3
Bosnia and Herzegovina        3
Zambia                        3
Dominica                      3
Germany                       3
Belize                        3
Malaysia                      3
Sweden                        3
Romania                       3
Niger                         3
England                       3
Finland                       2
Thailand                      2
United Arab Emirates          2
Singapore                     1
Austria                       1
Kuwait                        1
Mauritius                     1
Stateless                     1
Paraguay                      1
Central African Rep           1
Uruguay                       1
Nevis                         1
Sudan (South)                 1
Panama                        1
Cape Verde                    1
Guinea-Bissau                 1
Norway                        1
Turks and Caicos Islands      1
Name: country, Length: 156, dtype: int64

Domestic violence and forced marriage are the most common gender-related reasons female refugees claim asylum.

In [97]:
gender_related.type.value_counts()

Female   Domestic violence                 3077
Female   Forced marriage                    990
Female   Other                              891
Female   Non domestic sexual violence       653
Female Genital Mutilation (FGM)             412
Female   Honour killing                      79
Mixed marriage                               24
Widowhood rites                              20
Child abuse                                  20
Male   Other                                 16
Female   Kidnapping/Forced prostitution       6
Female/Dress code/Headscarf                   3
Sexual harassment                             2
Female   Dress code                           2
Name: type, dtype: int64

In [98]:
gender_related.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6195 entries, 69 to 16229
Data columns (total 20 columns):
IRB_file_number     6195 non-null object
date_referred       6195 non-null datetime64[ns]
decision_date       6195 non-null datetime64[ns]
date_mailed         6195 non-null datetime64[ns]
language            6195 non-null object
intake_type         6195 non-null object
disposition_type    6195 non-null object
explanation         6195 non-null object
board_member        6144 non-null object
country             6195 non-null object
gender              6195 non-null object
category            6195 non-null object
type                6195 non-null object
location            6195 non-null object
residence_prov      6195 non-null object
head_of_family      6195 non-null object
associated_file     1341 non-null object
counsel             5882 non-null object
processing_time     6195 non-null timedelta64[ns]
decision_year       6195 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 653.4+ KB

The number of gender-related claims from female refugees has generally been declining over the years.

In [99]:
gender_related.decision_year.value_counts()

2013    1432
2014    1384
2016    1160
2015    1111
2017    1108
Name: decision_year, dtype: int64

How do outcomes compare among different types of gender-based persecution?

In [100]:
gender_types = pd.pivot_table(gender_related, index= "type", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [101]:
gender_types.head(20)

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
type,,,,,,,,
Child abuse,1.0,NaN,NaN,NaN,NaN,8.0,9.0,2.0
Female Domestic violence,61.0,1.0,1.0,3.0,49.0,1148.0,1666.0,148.0
Female Dress code,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
Female Forced marriage,20.0,NaN,NaN,5.0,14.0,331.0,589.0,31.0
Female Honour killing,7.0,1.0,NaN,NaN,NaN,29.0,40.0,2.0
Female Kidnapping/Forced prostitution,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0
Female Non domestic sexual violence,12.0,NaN,NaN,15.0,8.0,237.0,356.0,25.0
Female Other,22.0,NaN,1.0,28.0,12.0,280.0,531.0,17.0
Female Genital Mutilation (FGM),5.0,NaN,NaN,NaN,14.0,212.0,177.0,4.0
Female/Dress code/Headscarf,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN
Male Other,NaN,NaN,NaN,NaN,NaN,7.0,9.0,NaN
Mixed marriage,1.0,NaN,NaN,NaN,NaN,9.0,12.0,2.0
Sexual harassment,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
Widowhood rites,NaN,NaN,NaN,NaN,3.0,9.0,8.0,NaN

In [102]:
gender_types.fillna(0, inplace=True)

In [103]:
del gender_types["Abandoned"]

In [104]:
del gender_types["Administrative"]

In [105]:
del gender_types["Deceased"]

In [106]:
del gender_types["Withdrawn"]

In [107]:
gender_types["Total"] = gender_types.sum(axis=1)

In [108]:
gender_types["Tot_Pos"] = gender_types["Positive"].add(gender_types["Expedited Positive"])

In [109]:
gender_types["Rate_Pos"] = gender_types["Tot_Pos"]/gender_types["Total"]

In [110]:
gender_types.sort_values("Total", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
type,,,,,,,
Female Domestic violence,3.0,49.0,1148.0,1666.0,2866.0,1669.0,0.582345
Female Forced marriage,5.0,14.0,331.0,589.0,939.0,594.0,0.632588
Female Other,28.0,12.0,280.0,531.0,851.0,559.0,0.656874
Female Non domestic sexual violence,15.0,8.0,237.0,356.0,616.0,371.0,0.602273
Female Genital Mutilation (FGM),0.0,14.0,212.0,177.0,403.0,177.0,0.439206
Female Honour killing,0.0,0.0,29.0,40.0,69.0,40.0,0.579710
Mixed marriage,0.0,0.0,9.0,12.0,21.0,12.0,0.571429
Widowhood rites,0.0,3.0,9.0,8.0,20.0,8.0,0.400000
Child abuse,0.0,0.0,8.0,9.0,17.0,9.0,0.529412
Male Other,0.0,0.0,7.0,9.0,16.0,9.0,0.562500
Female Kidnapping/Forced prostitution,0.0,0.0,3.0,2.0,5.0,2.0,0.400000
Female/Dress code/Headscarf,0.0,0.0,1.0,2.0,3.0,2.0,0.666667
Female Dress code,0.0,0.0,0.0,2.0,2.0,2.0,1.000000
Sexual harassment,0.0,0.0,1.0,1.0,2.0,1.0,0.500000

In [111]:
gender_types.to_csv("gender_types.csv", encoding="utf-8")

Which countries have the most gender-related claims from women and how do their outcomes compare?

In [112]:
gender_countries = pd.pivot_table(gender_related, index = "country", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [113]:
gender_countries.head(10)

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
country,,,,,,,,
Afghanistan,8.0,NaN,NaN,4.0,4.0,22.0,148.0,5.0
Albania,1.0,NaN,NaN,NaN,1.0,26.0,51.0,3.0
Algeria,NaN,NaN,NaN,NaN,NaN,36.0,44.0,6.0
Angola,NaN,NaN,NaN,NaN,NaN,6.0,2.0,NaN
Antigua and Barbuda,3.0,NaN,NaN,NaN,NaN,12.0,12.0,1.0
Argentina,NaN,NaN,NaN,NaN,NaN,1.0,2.0,4.0
Armenia,NaN,NaN,NaN,NaN,NaN,1.0,5.0,1.0
Austria,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Azerbaijan,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN
Bahamas,3.0,NaN,NaN,NaN,1.0,10.0,8.0,NaN

In [114]:
gender_countries.fillna(0, inplace=True)

In [115]:
del gender_countries["Abandoned"]

In [116]:
del gender_countries["Administrative"]

In [117]:
del gender_countries["Deceased"]

In [118]:
del gender_countries["Withdrawn"]

In [119]:
gender_countries["Total"] = gender_countries.sum(axis=1)

In [120]:
gender_countries["Tot_Pos"] = gender_countries["Positive"].add(gender_countries["Expedited Positive"])

In [121]:
gender_countries["Rate_Pos"] = gender_countries["Tot_Pos"]/gender_countries["Total"]

By far the most gender-related claims come from Nigeria.

In [122]:
gender_countries.sort_values("Total", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
country,,,,,,,
Nigeria,0.0,30.0,430.0,407.0,867.0,407.0,0.469435
Haiti,1.0,0.0,111.0,192.0,304.0,193.0,0.634868
Afghanistan,4.0,4.0,22.0,148.0,178.0,152.0,0.853933
Namibia,1.0,6.0,106.0,44.0,157.0,45.0,0.286624
Pakistan,0.0,1.0,41.0,113.0,155.0,113.0,0.729032
Saint Vincent,0.0,2.0,72.0,77.0,151.0,77.0,0.509934
"Congo, Dem Rep (Zaire)",0.0,2.0,66.0,74.0,142.0,74.0,0.521127
Ukraine,0.0,6.0,42.0,91.0,139.0,91.0,0.654676
Cameroon,0.0,0.0,46.0,90.0,136.0,90.0,0.661765
Djibouti,0.0,1.0,22.0,113.0,136.0,113.0,0.830882
India,0.0,0.0,55.0,66.0,121.0,66.0,0.545455
Jamaica,0.0,4.0,57.0,49.0,110.0,49.0,0.445455
Guinea,1.0,0.0,33.0,75.0,109.0,76.0,0.697248
Syria,27.0,0.0,4.0,74.0,105.0,101.0,0.961905
Saint Lucia,0.0,2.0,50.0,52.0,104.0,52.0,0.500000
Mexico,0.0,2.0,48.0,49.0,99.0,49.0,0.494949
Lebanon,0.0,0.0,18.0,74.0,92.0,74.0,0.804348
Iraq,10.0,2.0,19.0,60.0,91.0,70.0,0.769231
Iran,0.0,0.0,10.0,78.0,88.0,78.0,0.886364
Jordan,0.0,0.0,22.0,58.0,80.0,58.0,0.725000
Algeria,0.0,0.0,36.0,44.0,80.0,44.0,0.550000
Albania,0.0,1.0,26.0,51.0,78.0,51.0,0.653846
Saudi Arabia,0.0,0.0,13.0,61.0,74.0,61.0,0.824324
Somalia,0.0,0.0,15.0,58.0,73.0,58.0,0.794521
Colombia,0.0,1.0,30.0,40.0,71.0,40.0,0.563380
Hungary,0.0,1.0,27.0,39.0,67.0,39.0,0.582090
China,0.0,6.0,32.0,28.0,66.0,28.0,0.424242
Senegal,0.0,0.0,16.0,43.0,59.0,43.0,0.728814
Russia,0.0,2.0,12.0,42.0,56.0,42.0,0.750000
Mali,0.0,1.0,24.0,29.0,54.0,29.0,0.537037
...,...,...,...,...,...,...,...
Niger,0.0,0.0,1.0,2.0,3.0,2.0,0.666667
Korea DPR (North),0.0,1.0,2.0,0.0,3.0,0.0,0.000000
Zambia,0.0,0.0,1.0,2.0,3.0,2.0,0.666667
Serbia,0.0,0.0,2.0,1.0,3.0,1.0,0.333333
Bosnia and Herzegovina,0.0,0.0,0.0,3.0,3.0,3.0,1.000000
Malaysia,0.0,0.0,2.0,1.0,3.0,1.0,0.333333
Romania,0.0,0.0,3.0,0.0,3.0,0.0,0.000000
England,0.0,0.0,3.0,0.0,3.0,0.0,0.000000
United Arab Emirates,0.0,0.0,1.0,1.0,2.0,1.0,0.500000
Slovakia,0.0,0.0,0.0,2.0,2.0,2.0,1.000000
Sweden,0.0,0.0,2.0,0.0,2.0,0.0,0.000000
Finland,0.0,0.0,2.0,0.0,2.0,0.0,0.000000
Dominica,0.0,0.0,1.0,1.0,2.0,1.0,0.500000
Thailand,0.0,0.0,2.0,0.0,2.0,0.0,0.000000
Czech Republic,0.0,0.0,0.0,2.0,2.0,2.0,1.000000
Turks and Caicos Islands,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Guinea-Bissau,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Austria,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Sudan (South),0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Stateless,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Singapore,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Cape Verde,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Central African Rep,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Panama,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Nevis,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Mauritius,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Kuwait,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Paraguay,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Uruguay,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Norway,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [123]:
gender_countries.to_csv("gender_countries.csv", encoding="utf-8")

The most claims from women who say they are fleeing domestic violence are also from Nigeria.

In [124]:
gender_related[gender_related.type == "Female   Domestic violence"].country.value_counts()

Nigeria                     303
Ukraine                     139
Saint Vincent               119
Jamaica                     104
Haiti                       102
Mexico                       95
Saint Lucia                  89
Namibia                      82
Hungary                      74
Colombia                     64
Pakistan                     63
India                        63
Russia                       59
Cameroon                     57
Iran                         54
Jordan                       54
Lebanon                      53
Djibouti                     47
Albania                      46
Uganda                       44
Georgia                      38
El Salvador                  36
Congo, Dem Rep (Zaire)       35
Saudi Arabia                 33
Iraq                         33
United States of America     32
Peru                         32
China                        31
Dominican Republic           30
Bangladesh                   30
                           ...
Vietnam                       3
Tajikistan                    3
Latvia                        3
Switzerland                   3
Equatorial Guinea             3
Benin                         3
Dominica                      2
Romania                       2
Mauritania                    2
Sweden                        2
Thailand                      2
Nepal                         2
England                       2
Niger                         2
Kosovo                        2
Norway                        1
Panama                        1
Uruguay                       1
Gambia                        1
Angola                        1
Malaysia                      1
Kuwait                        1
Zambia                        1
Paraguay                      1
Turks and Caicos Islands      1
Germany                       1
United Arab Emirates          1
Singapore                     1
Nevis                         1
Gabon                         1
Name: country, Length: 146, dtype: int64

How have outcomes of gender-related claims changed over time?

In [125]:
outcomes_gender = pd.pivot_table(gender_related, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [126]:
outcomes_gender.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,,
2013,29.0,1.0,1.0,7.0,19.0,643.0,657.0,75.0
2014,33.0,NaN,NaN,NaN,32.0,507.0,769.0,43.0
2015,18.0,1.0,NaN,1.0,28.0,373.0,658.0,32.0
2016,25.0,NaN,1.0,25.0,11.0,373.0,684.0,41.0
2017,24.0,NaN,NaN,18.0,10.0,379.0,636.0,41.0

In [127]:
del outcomes_gender["Abandoned"]

In [128]:
outcomes_gender.head()

explanation,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,
2013,1.0,1.0,7.0,19.0,643.0,657.0,75.0
2014,NaN,NaN,NaN,32.0,507.0,769.0,43.0
2015,1.0,NaN,1.0,28.0,373.0,658.0,32.0
2016,NaN,1.0,25.0,11.0,373.0,684.0,41.0
2017,NaN,NaN,18.0,10.0,379.0,636.0,41.0

In [129]:
del outcomes_gender["Administrative"]

In [130]:
del outcomes_gender["Deceased"]

In [131]:
del outcomes_gender["Withdrawn"]

In [132]:
outcomes_gender.fillna(0, inplace=True)

In [133]:
outcomes_gender.head()

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
decision_year
2013                          7.0                19.0     643.0     657.0
2014                          0.0                32.0     507.0     769.0
2015                          1.0                28.0     373.0     658.0
2016                         25.0                11.0     373.0     684.0
2017                         18.0                10.0     379.0     636.0

In [134]:
outcomes_gender["Total"] = outcomes_gender.sum(axis=1)

In [135]:
outcomes_gender["Tot_Pos"] = outcomes_gender["Positive"].add(outcomes_gender["Expedited Positive"], axis=0)

In [136]:
outcomes_gender["Rate_Pos"] = outcomes_gender["Tot_Pos"]/outcomes_gender["Total"]

The acceptance rate for female refugees who claimed to be fleeing gender-based persecution increased significantly to 65% in 2016 from 50% in 2013, although it dropped slightly in 2017.

In [137]:
outcomes_gender.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,7.0,19.0,643.0,657.0,1326.0,664.0,0.500754
2014,0.0,32.0,507.0,769.0,1308.0,769.0,0.587920
2015,1.0,28.0,373.0,658.0,1060.0,659.0,0.621698
2016,25.0,11.0,373.0,684.0,1093.0,709.0,0.648673
2017,18.0,10.0,379.0,636.0,1043.0,654.0,0.627037

## Gender: Isolating the claims made by male refugees

In [138]:
all_male = all_claims[all_claims.gender == "M"]

There were more claims made by males (55%) than females (45%) over this time period.

In [139]:
all_male.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49519 entries, 0 to 16258
Data columns (total 20 columns):
IRB_file_number     49519 non-null object
date_referred       49516 non-null datetime64[ns]
decision_date       49519 non-null datetime64[ns]
date_mailed         49519 non-null datetime64[ns]
language            49517 non-null object
intake_type         49519 non-null object
disposition_type    49519 non-null object
explanation         49519 non-null object
board_member        48297 non-null object
country             49519 non-null object
gender              49519 non-null object
category            42229 non-null object
type                42229 non-null object
location            49519 non-null object
residence_prov      49519 non-null object
head_of_family      49519 non-null object
associated_file     8685 non-null object
counsel             45780 non-null object
processing_time     49516 non-null timedelta64[ns]
decision_year       49519 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 5.1+ MB

For men, the most commonly cited reason for persecution was No Nexus - Criminality/Corruption, which is kind of a catch-all category for people whose persecution is not linked to a protected characteristic such as gender, religion or sexual orientation.

In [140]:
all_male.category.value_counts()

No Nexus _ Criminality_Corruption              8488
Race_Ethnicity                                 6645
Political Opinion  Activism                    5911
Religion                                       5501
Particular Social Group  Sexual Orientation    4240
Political Opinion  Organization                3423
Particular Social Group  Varied_Other          1855
Political Opinion  Varied_Other                1703
Political Opinion _ State Policy Issues        1360
Particular Social Group  Gender_Age            1282
No Nexus  Varied_Other                         1027
Political Opinion  Military Service             794
Name: category, dtype: int64

In [141]:
all_male.type.value_counts()

Varied/Other                                                  8168
Anti government                                               3171
Gay                                                           3010
Roma                                                          2712
Christian                                                     1792
Witness/Victim of Organized crime                             1600
Witness/Victim of Common crime                                1572
Personal vendetta/Family feud                                 1502
Falun Gong                                                    1334
Bisexual                                                       993
Witness/Victim of State agents                                 952
Witness/Victim of radical fundamentalist group                 830
Witness/Victim of Guerrilla/Rebels                             690
Tamil North/East/Central                                       612
Family Planning Policy (FPP)                                   603
Ahmadi (unspecified)                                           564
Female   Domestic violence                                     510
Anti poverty/Community activist/NGO                            433
State employee / Appointee / Police / Military                 409
Generalized risk                                               369
Christian  Coptic                                              353
Journalist (Print/Radio/TV)                                    349
Evasion                                                        288
Land expropriation                                             283
Alevi Kurd                                                     271
Fear is unspecified/unclear                                    265
Shia Muslim                                                    258
Illegal Exit                                                   251
Kurd                                                           236
Academics/Artists/Intellectuals                                232
                                                              ...
National Party of Honduras (PHN)                                 2
Janatha Vimukthi Peramuna (JVP)                                  2
Pro Aristide                                                     2
Hindu party  other                                               2
Female/Dress code/Headscarf                                      2
Pushtun                                                          2
Liberal Party of Honduras (PLH)                                  2
Farabundo Marti Liberation Front (FMLN)                          2
Tribe Hill Tract                                                 2
Ashkali                                                          2
Bihari                                                           2
Buddhists                                                        2
Militant left wing (DHKP/C/TKP/ML/TKEP/MLPK)                     2
Abkhazian                                                        1
National Front for Change and Democracy (FNCD)                   1
Druze                                                            1
Indigenous activist (including CONAIE, CMS & FEINE)              1
Pro Saudi/Arab alliance militia/group supporter/member           1
Haqiqi (MQM)                                                     1
Muttahida Qaumi Movement   Altaf (MQM)                           1
Pro Musharraf group                                              1
Shining Path/Sendero Luminoso (SL)                               1
Korean                                                           1
Uighur                                                           1
Indo Fijian (Hindu)                                              1
Other foreign forces (UN/OAS/USA)                                1
Communist Party of Nepal/United Marxist Leninist (CPN/UML)       1
Jehovah’s Witness                                                1
People’s Progressive Party/Civic (PPP/Civic)                     1
National Action Party (PAN)                                      1
Name: type, Length: 231, dtype: int64

In [142]:
male_outcomes = pd.pivot_table(all_male, columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [143]:
male_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Transfer Out,Withdrawn
IRB_file_number,1624,40,30,935,1246,17603,24628,1,3412

In [144]:
del male_outcomes ["Abandoned"]

In [145]:
del male_outcomes ["Administrative"]

In [146]:
del male_outcomes ["Deceased"]

In [147]:
del male_outcomes ["Transfer Out"]

In [148]:
del male_outcomes ["Withdrawn"]

In [149]:
male_outcomes["Total"] = male_outcomes.sum(axis=1)

In [150]:
male_outcomes["Tot_Pos"] = male_outcomes["Positive"].add(male_outcomes["Expedited Positive"], axis=0)

In [151]:
male_outcomes["Rate_Pos"] = male_outcomes["Positive"]/male_outcomes["Total"]

Overall male refugee claimants were slightly less likely to have their claim accepted than female claimants.

In [152]:
male_outcomes.head(6)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
IRB_file_number,935,1246,17603,24628,44412,25563,0.554535

## Sexual orientation claims

Isolating claims based on sexual orientation

In [153]:
sex_orient = all_claims[all_claims.category == "Particular Social Group  Sexual Orientation"]

In [154]:
sex_orient.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6277 entries, 289 to 16209
Data columns (total 20 columns):
IRB_file_number     6277 non-null object
date_referred       6276 non-null datetime64[ns]
decision_date       6277 non-null datetime64[ns]
date_mailed         6277 non-null datetime64[ns]
language            6276 non-null object
intake_type         6277 non-null object
disposition_type    6277 non-null object
explanation         6277 non-null object
board_member        6224 non-null object
country             6276 non-null object
gender              6275 non-null object
category            6277 non-null object
type                6277 non-null object
location            6277 non-null object
residence_prov      6277 non-null object
head_of_family      6277 non-null object
associated_file     532 non-null object
counsel             6045 non-null object
processing_time     6276 non-null timedelta64[ns]
decision_year       6277 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 662.0+ KB

As we have previously reported, by far the most claims based on sexual orientation (one in four) have come from Nigerian nationals. Nigeria represented 60 per cent of claims from bisexuals, but 10 per cent of claims from gay men and 12 per cent of claims from lesbian women.

In [155]:
sex_orient.country.value_counts()

Nigeria                   1520
Jamaica                    406
Cameroon                   391
Ukraine                    289
Ghana                      206
Uganda                     206
Albania                    170
Russia                     167
Saint Lucia                152
Pakistan                   144
Bahamas                    142
Senegal                    120
Turkey                     114
India                       99
Saint Vincent               98
Barbados                    95
Kenya                       86
Iran                        83
Mali                        79
Namibia                     76
Guinea                      73
Croatia                     65
Venezuela                   60
Congo, Dem Rep (Zaire)      58
Tanzania                    55
Mongolia                    54
Algeria                     50
Antigua and Barbuda         48
Hungary                     45
Haiti                       42
                          ...
Singapore                    2
Vietnam                      2
Qatar                        2
Gabon                        2
Bosnia and Herzegovina       2
Argentina                    2
France                       1
Dominica                     1
Comoros                      1
Portugal                     1
United Kingdom               1
Equatorial Guinea            1
Kuwait                       1
Uruguay                      1
Sweden                       1
Mauritius                    1
Oman                         1
Slovenia                     1
Paraguay                     1
Papua New Guinea             1
Panama                       1
Nepal                        1
Italy                        1
Fiji                         1
Hong Kong (SAR)              1
Estonia                      1
Belize                       1
Ecuador                      1
Costa Rica                   1
Cambodia                     1
Name: country, Length: 145, dtype: int64

More than twice as many sexual orientation claims are made by gay men as by lesbian women. There are also more claims from bisexuals that there are from lesbians.

In [156]:
sex_orient.type.value_counts()

Gay             3097
Bisexual        1641
Lesbian         1235
Varied/Other     304
Name: type, dtype: int64

In [157]:
sex_orient[sex_orient.type == "Gay"].country.value_counts()

Nigeria                   310
Cameroon                  219
Jamaica                   177
Ukraine                   173
Ghana                     132
Pakistan                  128
Albania                   115
Russia                    107
Senegal                    94
Turkey                     88
Uganda                     83
Bahamas                    77
India                      73
Iran                       69
Mali                       68
Venezuela                  51
Guinea                     48
Barbados                   47
Algeria                    41
Croatia                    38
Saint Vincent              36
Hungary                    33
Mongolia                   33
Lebanon                    32
Congo, Dem Rep (Zaire)     32
Georgia                    29
Kenya                      29
Togo                       28
Namibia                    28
Saint Lucia                27
                         ...
Singapore                   2
Sudan                       2
Malawi                      2
Bulgaria                    2
Czech Republic              2
Angola                      2
Thailand                    1
South Africa                1
Cambodia                    1
Paraguay                    1
Mauritius                   1
France                      1
Equatorial Guinea           1
Macedonia                   1
Romania                     1
Bahrain                     1
Madagascar                  1
Bosnia and Herzegovina      1
Ecuador                     1
Qatar                       1
Belize                      1
Spain                       1
Gabon                       1
Liberia                     1
Oman                        1
Estonia                     1
Unknown                     1
Costa Rica                  1
Portugal                    1
Comoros                     1
Name: country, Length: 132, dtype: int64

Nigeria had 10 times more refugee claims based on being bisexual than any other country.

In [158]:
sex_orient[sex_orient.type == "Bisexual"].country.value_counts()

Nigeria                   981
Saint Lucia                97
Jamaica                    76
Ghana                      38
Cameroon                   35
Uganda                     35
Ukraine                    35
Saint Vincent              33
Albania                    32
Namibia                    30
Tanzania                   20
Kenya                      19
Antigua and Barbuda        18
Russia                     14
Croatia                    14
Barbados                   14
Pakistan                   12
Zimbabwe                   11
Georgia                     8
Mali                        7
Bahamas                     7
Senegal                     7
Mongolia                    5
South Africa                4
Venezuela                   4
Turkey                      4
Dominican Republic          4
Hungary                     4
Guinea                      4
Gambia                      3
                         ...
Trinidad and Tobago         2
Lebanon                     2
Zambia                      2
Peru                        2
Congo, Dem Rep (Zaire)      2
Mexico                      1
Ethiopia                    1
Angola                      1
Iran                        1
Bulgaria                    1
United Kingdom              1
Burkina Faso                1
Kazakhstan                  1
Korea R. (South)            1
Jordan                      1
Togo                        1
Dominica                    1
Montenegro                  1
Kosovo                      1
Iraq                        1
Liberia                     1
China                       1
Guyana                      1
Poland                      1
Rwanda                      1
Morocco                     1
Sudan                       1
Bangladesh                  1
Unknown                     1
Botswana                    1
Name: country, Length: 73, dtype: int64

In [159]:
sex_orient[sex_orient.type == "Lesbian"].country.value_counts()

Nigeria                     155
Jamaica                     145
Cameroon                    129
Ukraine                      75
Uganda                       72
Bahamas                      52
Russia                       44
Kenya                        30
Barbados                     29
Saint Lucia                  27
Saint Vincent                27
Ghana                        24
Congo, Dem Rep (Zaire)       22
Albania                      19
Guinea                       18
Namibia                      18
Turkey                       17
Senegal                      16
Haiti                        16
Antigua and Barbuda          16
India                        15
Zimbabwe                     15
Mongolia                     14
Rwanda                       14
Burundi                      13
Sri Lanka                    11
Tanzania                     10
Iran                         10
Cuba                          7
Tunisia                       6
                           ...
Swaziland                     1
China                         1
Bosnia and Herzegovina        1
Serbia                        1
Israel                        1
United States of America      1
Nepal                         1
Qatar                         1
Bahrain                       1
Korea R. (South)              1
El Salvador                   1
Malaysia                      1
Azerbaijan                    1
Thailand                      1
Macedonia                     1
Hong Kong (SAR)               1
Mauritania                    1
Uruguay                       1
Armenia                       1
Jordan                        1
Papua New Guinea              1
Montenegro                    1
Romania                       1
Madagascar                    1
Italy                         1
Czech Republic                1
Gabon                         1
Sierra Leone                  1
Syria                         1
Chile                         1
Name: country, Length: 103, dtype: int64

The number of claims based on sexual orientation has been increasing since 2013

In [160]:
sex_orient.decision_year.value_counts()

2016    1434
2017    1375
2015    1288
2014    1228
2013     952
Name: decision_year, dtype: int64

In [161]:
sex_orient_years = pd.pivot_table(sex_orient, index="country", columns="decision_year", values="IRB_file_number", aggfunc=np.count_nonzero)

In [162]:
sex_orient_years.fillna(0, inplace=True)

In [163]:
sex_orient_years.head()

decision_year        2013  2014  2015  2016  2017
country
Afghanistan           0.0   1.0   1.0   1.0   0.0
Albania              28.0  40.0  26.0  33.0  43.0
Algeria              11.0  14.0  13.0   3.0   9.0
Angola                1.0   0.0   1.0   1.0   0.0
Antigua and Barbuda  10.0   7.0   7.0  12.0  12.0

In [164]:
sex_orient_years["Total"] = sex_orient_years.sum(axis=1)

Nigeria has been reponsible for much of the recent increase in sexual orientation claims. Claims from many countries were, however, responsible for the increase between 2013 and 2014.

In [165]:
sex_orient_years.sort_values("Total", ascending=False)

decision_year            2013   2014   2015   2016   2017   Total
country
Nigeria                 105.0  190.0  307.0  429.0  489.0  1520.0
Jamaica                  64.0  113.0  105.0   74.0   50.0   406.0
Cameroon                 43.0   97.0  106.0   87.0   58.0   391.0
Ukraine                  28.0   72.0   83.0   70.0   36.0   289.0
Ghana                    27.0   40.0   50.0   45.0   44.0   206.0
Uganda                   17.0   35.0   45.0   50.0   59.0   206.0
Albania                  28.0   40.0   26.0   33.0   43.0   170.0
Russia                   47.0   53.0   19.0   33.0   15.0   167.0
Saint Lucia              96.0   26.0   21.0    3.0    6.0   152.0
Pakistan                 32.0   41.0   22.0   30.0   19.0   144.0
Bahamas                   6.0   12.0   20.0   49.0   55.0   142.0
Senegal                  18.0   28.0   29.0   29.0   16.0   120.0
Turkey                   11.0    9.0   14.0   34.0   46.0   114.0
India                     6.0   11.0   25.0   35.0   22.0    99.0
Saint Vincent            44.0   31.0   13.0    5.0    5.0    98.0
Barbados                 15.0   15.0   17.0   27.0   21.0    95.0
Kenya                     3.0   25.0   23.0   15.0   20.0    86.0
Iran                     16.0   16.0   13.0   12.0   26.0    83.0
Mali                      0.0    7.0   19.0   38.0   15.0    79.0
Namibia                  50.0   23.0    2.0    1.0    0.0    76.0
Guinea                   10.0   15.0   19.0   12.0   17.0    73.0
Croatia                  25.0   20.0   16.0    3.0    1.0    65.0
Venezuela                 1.0   14.0   13.0   13.0   19.0    60.0
Congo, Dem Rep (Zaire)    5.0   11.0   18.0   15.0    9.0    58.0
Tanzania                  4.0   10.0   10.0   16.0   15.0    55.0
Mongolia                  8.0   16.0   14.0   11.0    5.0    54.0
Algeria                  11.0   14.0   13.0    3.0    9.0    50.0
Antigua and Barbuda      10.0    7.0    7.0   12.0   12.0    48.0
Hungary                  15.0   15.0    4.0    6.0    5.0    45.0
Haiti                     3.0    1.0    3.0   18.0   17.0    42.0
...                       ...    ...    ...    ...    ...     ...
Macedonia                 0.0    0.0    1.0    1.0    0.0     2.0
Vietnam                   0.0    1.0    1.0    0.0    0.0     2.0
Bosnia and Herzegovina    1.0    0.0    0.0    0.0    1.0     2.0
Madagascar                0.0    1.0    0.0    0.0    1.0     2.0
Unknown                   1.0    0.0    0.0    1.0    0.0     2.0
Bahrain                   0.0    0.0    0.0    2.0    0.0     2.0
Kuwait                    1.0    0.0    0.0    0.0    0.0     1.0
United Kingdom            1.0    0.0    0.0    0.0    0.0     1.0
Belize                    0.0    0.0    0.0    1.0    0.0     1.0
Oman                      0.0    1.0    0.0    0.0    0.0     1.0
Uruguay                   0.0    0.0    0.0    1.0    0.0     1.0
Comoros                   1.0    0.0    0.0    0.0    0.0     1.0
Mauritius                 0.0    1.0    0.0    0.0    0.0     1.0
Cambodia                  0.0    1.0    0.0    0.0    0.0     1.0
Dominica                  0.0    0.0    0.0    0.0    1.0     1.0
Costa Rica                1.0    0.0    0.0    0.0    0.0     1.0
Panama                    1.0    0.0    0.0    0.0    0.0     1.0
Papua New Guinea          1.0    0.0    0.0    0.0    0.0     1.0
Italy                     1.0    0.0    0.0    0.0    0.0     1.0
Ecuador                   0.0    0.0    1.0    0.0    0.0     1.0
Sweden                    0.0    0.0    0.0    0.0    1.0     1.0
Paraguay                  0.0    1.0    0.0    0.0    0.0     1.0
Equatorial Guinea         0.0    0.0    0.0    0.0    1.0     1.0
Estonia                   1.0    0.0    0.0    0.0    0.0     1.0
Fiji                      1.0    0.0    0.0    0.0    0.0     1.0
France                    1.0    0.0    0.0    0.0    0.0     1.0
Nepal                     0.0    0.0    1.0    0.0    0.0     1.0
Portugal                  0.0    0.0    0.0    1.0    0.0     1.0
Hong Kong (SAR)           0.0    0.0    1.0    0.0    0.0     1.0
Slovenia                  0.0    1.0    0.0    0.0    0.0     1.0

[145 rows x 6 columns]

How have outcomes on sexual orientation claims changed over time?

In [166]:
sex_orient_outcomes = pd.pivot_table(sex_orient, index="decision_year", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [167]:
sex_orient_outcomes.head()

explanation,Abandoned,Administrative,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,
2013,21.0,NaN,NaN,27.0,339.0,529.0,36.0
2014,12.0,NaN,NaN,42.0,331.0,793.0,50.0
2015,7.0,1.0,1.0,87.0,287.0,882.0,23.0
2016,5.0,NaN,1.0,28.0,422.0,959.0,19.0
2017,8.0,NaN,2.0,8.0,376.0,947.0,34.0

In [168]:
del sex_orient_outcomes["Abandoned"]

In [169]:
del sex_orient_outcomes["Administrative"]

In [170]:
sex_orient_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,
2013,NaN,27.0,339.0,529.0,36.0
2014,NaN,42.0,331.0,793.0,50.0
2015,1.0,87.0,287.0,882.0,23.0
2016,1.0,28.0,422.0,959.0,19.0
2017,2.0,8.0,376.0,947.0,34.0

In [171]:
sex_orient_outcomes.fillna(0, inplace=True)

In [172]:
sex_orient_outcomes["Total"] = sex_orient_outcomes.sum(axis=1)

In [173]:
sex_orient_outcomes["Tot_Pos"] = sex_orient_outcomes["Positive"].add(sex_orient_outcomes["Expedited Positive"], axis=0)

In [174]:
sex_orient_outcomes["Rate_Pos"] = sex_orient_outcomes["Tot_Pos"]/sex_orient_outcomes["Total"]

Sexual orientation claims were about as likely to be accepted as other types of perseuction.

In [175]:
sex_orient_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,,
2013,0.0,27.0,339.0,529.0,36.0,931.0,529.0,0.568206
2014,0.0,42.0,331.0,793.0,50.0,1216.0,793.0,0.652138
2015,1.0,87.0,287.0,882.0,23.0,1280.0,883.0,0.689844
2016,1.0,28.0,422.0,959.0,19.0,1429.0,960.0,0.671798
2017,2.0,8.0,376.0,947.0,34.0,1367.0,949.0,0.694221

How do outcomes for sexual orientation claims compare between countries?

In [176]:
orient_countries = pd.pivot_table(sex_orient, index="country", columns ="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [177]:
orient_countries.head()

explanation,Abandoned,Administrative,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
country,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,2.0,1.0
Albania,2.0,NaN,NaN,3.0,46.0,115.0,4.0
Algeria,NaN,NaN,NaN,NaN,19.0,31.0,NaN
Angola,NaN,NaN,NaN,NaN,2.0,1.0,NaN
Antigua and Barbuda,NaN,NaN,NaN,2.0,10.0,35.0,1.0

In [178]:
orient_countries.fillna(0, inplace=True)

In [179]:
del orient_countries["Abandoned"]

In [180]:
del orient_countries["Administrative"]

In [181]:
del orient_countries["Withdrawn"]

In [182]:
orient_countries["Total"] = orient_countries.sum(axis=1)

In [183]:
orient_countries["Tot_Pos"] = orient_countries["Positive"].add(orient_countries["Expedited Positive"], axis=0)

In [184]:
orient_countries["Rate_Pos"] = orient_countries["Tot_Pos"]/orient_countries["Total"]

Claims from Russia, Ukraine and Turkey were more likley to be accepted.

In [185]:
orient_countries.sort_values("Total", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
country,,,,,,,
Nigeria,0.0,53.0,536.0,911.0,1500.0,911.0,0.607333
Jamaica,0.0,28.0,100.0,272.0,400.0,272.0,0.680000
Cameroon,0.0,7.0,101.0,280.0,388.0,280.0,0.721649
Ukraine,0.0,10.0,54.0,213.0,277.0,213.0,0.768953
Uganda,0.0,7.0,50.0,147.0,204.0,147.0,0.720588
Ghana,0.0,9.0,76.0,117.0,202.0,117.0,0.579208
Albania,0.0,3.0,46.0,115.0,164.0,115.0,0.701220
Russia,0.0,4.0,13.0,137.0,154.0,137.0,0.889610
Saint Lucia,0.0,10.0,54.0,78.0,142.0,78.0,0.549296
Bahamas,0.0,1.0,21.0,117.0,139.0,117.0,0.841727
Pakistan,0.0,2.0,40.0,94.0,136.0,94.0,0.691176
Senegal,0.0,3.0,38.0,78.0,119.0,78.0,0.655462
Turkey,0.0,1.0,20.0,86.0,107.0,86.0,0.803738
India,0.0,3.0,23.0,70.0,96.0,70.0,0.729167
Barbados,0.0,1.0,10.0,82.0,93.0,82.0,0.881720
Saint Vincent,0.0,11.0,36.0,46.0,93.0,46.0,0.494624
Kenya,0.0,4.0,23.0,57.0,84.0,57.0,0.678571
Iran,0.0,0.0,11.0,71.0,82.0,71.0,0.865854
Mali,0.0,6.0,27.0,44.0,77.0,44.0,0.571429
Guinea,0.0,0.0,40.0,33.0,73.0,33.0,0.452055
Namibia,0.0,4.0,30.0,35.0,69.0,35.0,0.507246
Venezuela,0.0,0.0,7.0,52.0,59.0,52.0,0.881356
"Congo, Dem Rep (Zaire)",0.0,5.0,20.0,30.0,55.0,30.0,0.545455
Mongolia,0.0,0.0,15.0,38.0,53.0,38.0,0.716981
Tanzania,0.0,0.0,15.0,38.0,53.0,38.0,0.716981
Algeria,0.0,0.0,19.0,31.0,50.0,31.0,0.620000
Croatia,0.0,2.0,34.0,13.0,49.0,13.0,0.265306
Antigua and Barbuda,0.0,2.0,10.0,35.0,47.0,35.0,0.744681
Haiti,0.0,0.0,10.0,32.0,42.0,32.0,0.761905
Rwanda,0.0,1.0,6.0,32.0,39.0,32.0,0.820513
...,...,...,...,...,...,...,...
Macedonia,0.0,0.0,0.0,2.0,2.0,2.0,1.000000
Afghanistan,0.0,0.0,0.0,2.0,2.0,2.0,1.000000
Singapore,0.0,0.0,1.0,1.0,2.0,1.0,0.500000
Gabon,0.0,0.0,2.0,0.0,2.0,0.0,0.000000
Slovenia,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Papua New Guinea,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Mauritius,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Argentina,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Portugal,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Nepal,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Kuwait,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Uruguay,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Italy,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
United Kingdom,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Belize,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Paraguay,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Cambodia,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Comoros,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Costa Rica,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Panama,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Dominica,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
Ecuador,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Romania,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Equatorial Guinea,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Estonia,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Fiji,0.0,0.0,0.0,1.0,1.0,1.0,1.000000
France,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Hong Kong (SAR),0.0,0.0,0.0,0.0,0.0,0.0,NaN
Oman,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Sweden,0.0,0.0,0.0,0.0,0.0,0.0,NaN

## Race and Ethnicity

Isolating refugee claims made on the basis of race or ethnicity. There are 10,619 of these claims.

In [186]:
race = all_claims[all_claims.category == "Race_Ethnicity"]

One in four claims based on race and ethnicity originate in Hungary.

In [187]:
race.country.value_counts()

Hungary                     2735
Somalia                      998
Slovakia                     998
Sri Lanka                    763
Turkey                       601
Croatia                      429
China                        415
Ukraine                      295
Czech Republic               285
Palestine                    221
Romania                      206
Ethiopia                     186
Lebanon                      182
Burundi                      180
Syria                        167
Poland                       125
Eritrea                      121
Libya                        117
Djibouti                     114
Russia                       102
Iraq                          87
Kuwait                        71
Afghanistan                   69
Saudi Arabia                  66
India                         60
Unknown                       45
Rwanda                        43
Jordan                        43
Bulgaria                      42
Chad                          41
                            ...
Singapore                      2
Slovenia                       2
France                         2
Netherlands                    2
United Kingdom                 2
Swaziland                      2
Cuba                           2
Finland                        1
Taiwan                         1
Burkina Faso                   1
Qatar                          1
Panama                         1
Dominican Republic             1
Namibia                        1
Turks and Caicos Islands       1
Stateless                      1
Switzerland                    1
Barbados                       1
Angola                         1
Portugal                       1
Mexico                         1
Haiti                          1
Costa Rica                     1
Belgium                        1
Montenegro                     1
Lithuania                      1
Niger                          1
Senegal                        1
Azerbaijan                     1
Tunisia                        1
Name: country, Length: 126, dtype: int64

Almost half (45%) of claims made on the basis of Race and Ethnicity are from Roma.

In [188]:
race.type.value_counts()

Roma                                 4738
Varied/Other                         2015
Tamil North/East/Central              703
Alevi Kurd                            388
Kurd                                  303
Midgan/Madiban                        296
Tibetan                               295
Palestinian                           223
Tutsi                                 187
Asharaf/Ashraf                        161
Oromo                                 136
Jiberti                               124
Muslim Ouighor                        115
Sheekhaal/Sheikhal/Shikal              90
Bedun                                  57
Hazaras                                47
Tuni                                   46
Russian                                39
Reer Hamar                             39
Tamil Colombo                          38
Toubou (Gorane)                        36
Caste issues                           35
Darod                                  32
Jewish                                 32
Tomal/Tumal                            31
Bajuni                                 31
Chinese                                29
Afro Colombian                         27
Tutsi/Banyamulenge                     26
Barawan/Bravan/Reer Brava/Benadir      25
                                     ...
Armenian                               23
Ossetian                               19
Yibir                                  19
Former Soviet Union National           17
Hutu                                   16
Mixed Hutu Tutsi                       16
Digil                                  14
Amhara                                 11
Ethnic Eritrean                        10
Dir                                     9
Tamil speaking Muslims                  9
Uzbek                                   8
Serb                                    8
Tajik                                   8
Afro American                           8
Tatar                                   8
Sinhalese                               8
Indigenous                              8
Azeri                                   6
Ogoni/Ogboni                            4
Pushtun                                 3
Tamil                                   3
Korean                                  3
Tribe Hill Tract                        2
Indo Fijian (Hindu)                     2
Uighur                                  2
Ashkali                                 2
Bihari                                  2
Albanian                                1
Abkhazian                               1
Name: type, Length: 61, dtype: int64

In [189]:
roma = all_claims[all_claims.type == "Roma"]

The vast majority of Roma claims originate in Hungary or Slovakia.

In [190]:
roma.country.value_counts()

Hungary                       2701
Slovakia                       985
Czech Republic                 281
Ukraine                        218
Romania                        197
Croatia                        147
Poland                         118
Bulgaria                        42
Macedonia                       11
Kosovo                           9
Unknown                          6
Slovakia (Slovak Republic)       5
Serbia                           4
Russia                           4
Egypt                            2
Spain                            2
Slovenia                         2
Georgia                          1
United States of America         1
Colombia                         1
Latvia                           1
Name: country, dtype: int64

In [191]:
roma_outcomes = pd.pivot_table(roma, index="decision_year", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [192]:
roma_outcomes.head()

explanation,Abandoned,Deceased,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,
2013,49.0,NaN,17.0,456.0,149.0,129.0
2014,27.0,1.0,8.0,304.0,359.0,125.0
2015,62.0,NaN,16.0,226.0,741.0,163.0
2016,4.0,2.0,1.0,302.0,787.0,218.0
2017,33.0,NaN,NaN,121.0,322.0,116.0

In [193]:
roma_outcomes.fillna(0, inplace=True)

In [194]:
del roma_outcomes["Deceased"]

In [195]:
del roma_outcomes["Withdrawn"]

In [196]:
del roma_outcomes["Abandoned"]

In [197]:
roma_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                         17.0     456.0     149.0
2014                          8.0     304.0     359.0
2015                         16.0     226.0     741.0
2016                          1.0     302.0     787.0
2017                          0.0     121.0     322.0

In [198]:
roma_outcomes["Total"] = roma_outcomes.sum(axis=1)

In [199]:
roma_outcomes["Rate_pos"] = roma_outcomes["Positive"] / roma_outcomes["Total"]

Roma claims have undergone a stunning turnaround in terms of outcome. Fewer than one in four were positive in 2013, compared with close to three-quarters this year. The overall number of Roma claims, is, however, down significantly this year.

In [200]:
roma_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive   Total  Rate_pos
decision_year
2013                         17.0     456.0     149.0   622.0  0.239550
2014                          8.0     304.0     359.0   671.0  0.535022
2015                         16.0     226.0     741.0   983.0  0.753815
2016                          1.0     302.0     787.0  1090.0  0.722018
2017                          0.0     121.0     322.0   443.0  0.726862

The vast majority lived in Ontario.

In [201]:
roma.residence_prov.value_counts()

Ontario             4286
Quebec               342
British Columbia      57
Alberta               47
Manitoba               2
Nova Scotia            2
Saskatchewan           2
Name: residence_prov, dtype: int64

## Have the countries representing the most claims changed over time?

Top source countries of refugee claims in 2013. Hungary was the top source country.

In [202]:
claims_2013.country.value_counts()

Hungary                     1991
China                       1587
Colombia                    1030
Mexico                      1015
Pakistan                     961
Sri Lanka                    561
Haiti                        540
Syria                        496
India                        495
Croatia                      452
Nigeria                      437
Congo, Dem Rep (Zaire)       425
Afghanistan                  385
El Salvador                  382
Turkey                       374
Saint Lucia                  332
Saint Vincent                332
Somalia                      329
Honduras                     312
Namibia                      311
Iran                         302
Egypt                        276
Albania                      268
Korea DPR (North)            255
Jamaica                      228
Burundi                      223
United States of America     216
Algeria                      216
Guatemala                    214
Romania                      206
                            ...
Montenegro                     7
Taiwan                         7
Sierra Leone                   7
Laos                           6
Turks and Caicos Islands       6
Bermuda                        5
Myanmar, Burma                 5
Switzerland                    5
Equatorial Guinea              5
Qatar                          5
Norway                         5
Zambia                         4
Finland                        4
Paraguay                       4
Singapore                      4
Austria                        3
Dominica                       3
Guinea-Bissau                  3
United Arab Emirates           2
Comoros                        2
Slovenia                       2
Papua New Guinea               2
England                        1
Cape Verde                     1
Mozambique                     1
New Zealand                    1
Malawi                         1
Madagascar                     1
Ireland                        1
Belize                         1
Name: country, Length: 169, dtype: int64

Top source countries of refugee claims in 2014. China and Pakistan overtake Hungary, likely due to federal policy changes.

In [203]:
claims_2014.country.value_counts()

China                     2141
Pakistan                  1097
Hungary                    974
Colombia                   790
Syria                      725
India                      624
Nigeria                    621
Korea DPR (North)          608
Afghanistan                512
Haiti                      487
Congo, Dem Rep (Zaire)     409
Iraq                       401
Sri Lanka                  390
Croatia                    373
Ukraine                    365
Slovakia                   365
Iran                       360
Bangladesh                 360
Egypt                      347
Somalia                    329
Mexico                     324
Albania                    321
Turkey                     296
El Salvador                276
Honduras                   263
Jamaica                    258
Eritrea                    236
Cameroon                   235
Lebanon                    213
Cuba                       197
                          ...
Norway                       4
Swaziland                    4
Bolivia                      4
Sudan (South)                4
Malta                        4
Guinea-Bissau                4
Taiwan                       4
Panama                       4
Thailand                     4
Japan                        3
England                      3
Slovenia                     3
Oman                         3
Turkmenistan                 3
United Arab Emirates         3
Comoros                      2
Cyprus                       2
Montenegro                   2
Equatorial Guinea            2
Zambia                       2
Sweden                       2
Mauritius                    2
Uruguay                      2
Stateless                    1
Laos                         1
Nevis                        1
Switzerland                  1
Dominica                     1
Macedonia                    1
Paraguay                     1
Name: country, Length: 167, dtype: int64

Top source countries of refugee claims in 2015.

In [204]:
claims_2015.country.value_counts()

China                         1528
Hungary                        955
Pakistan                       890
Nigeria                        702
Colombia                       643
Syria                          635
Iraq                           604
India                          500
Libya                          433
Afghanistan                    389
Haiti                          384
Somalia                        383
Slovakia                       331
Ukraine                        327
Congo, Dem Rep (Zaire)         314
Sri Lanka                      312
Eritrea                        284
Croatia                        269
El Salvador                    245
Ethiopia                       237
Bangladesh                     232
Lebanon                        214
Venezuela                      210
Cameroon                       208
Turkey                         193
Egypt                          189
Albania                        189
Jamaica                        187
Burundi                        176
Mexico                         172
                              ...
Serbia                           5
Lithuania                        5
Malaysia                         5
Myanmar, Burma                   5
Bahrain                          5
Madagascar                       5
Tajikistan                       4
Uruguay                          4
Bolivia                          4
Slovenia                         4
Moldova                          4
Macedonia                        3
England                          3
Fiji                             3
Thailand                         3
Hong Kong (SAR)                  3
Singapore                        3
Equatorial Guinea                3
Sweden                           2
Norway                           2
Guinea-Bissau                    2
San Marino                       1
Belize                           1
Stateless                        1
Austria                          1
Malawi                           1
Cyprus                           1
Slovakia (Slovak Republic)       1
Qatar                            1
Turkmenistan                     1
Name: country, Length: 160, dtype: int64

In [205]:
claims_2016.country.value_counts()

China                             1088
Hungary                            929
Nigeria                            881
Syria                              799
Iraq                               740
Pakistan                           723
Afghanistan                        571
Colombia                           566
India                              538
Somalia                            494
Turkey                             483
Haiti                              413
Burundi                            405
Slovakia                           368
Venezuela                          368
Eritrea                            334
Ethiopia                           314
Libya                              297
Congo, Dem Rep (Zaire)             296
Lebanon                            256
Ukraine                            240
Egypt                              223
El Salvador                        215
Bangladesh                         213
Yemen                              179
Cameroon                           178
Sri Lanka                          174
Albania                            165
Iran                               163
Palestine                          161
                                  ...
Montenegro                           3
Swaziland                            3
Niger                                3
Macedonia                            3
Armenia                              3
Germany                              3
Zambia                               3
Finland                              2
Madagascar                           2
United Kingdom                       2
Grenada                              2
Gabon                                2
Trinidad and Tobago                  2
Taiwan                               2
Uruguay                              2
Saint Kitts and Nevis, Fed. Of       2
Dominica                             2
Netherlands                          2
Korea DPR (North)                    2
Nicaragua                            2
Vietnam                              2
Qatar                                1
Singapore                            1
Latvia                               1
Cyprus                               1
Belize                               1
Panama                               1
Denmark                              1
Guinea-Bissau                        1
Fiji                                 1
Name: country, Length: 157, dtype: int64

This year, Nigeria overtook China as the top source country for refugee claims to Canada. The number of claims from Nigeria has nearly tripled since 2013. China has dropped to third-largest after Nigeria and Turkey.

In [206]:
claims_2017.country.value_counts()

Nigeria                   1275
Turkey                    1061
China                      915
Eritrea                    744
Syria                      649
Burundi                    586
Iraq                       579
Pakistan                   569
Colombia                   564
Somalia                    480
Hungary                    409
Haiti                      405
India                      396
Venezuela                  382
Afghanistan                348
Mexico                     346
Palestine                  313
Iran                       294
Sudan                      288
Yemen                      285
Ethiopia                   250
Djibouti                   235
Egypt                      234
Lebanon                    221
Sri Lanka                  215
Congo, Dem Rep (Zaire)     213
Libya                      209
El Salvador                191
Azerbaijan                 160
Bangladesh                 147
                          ...
Belize                       3
Myanmar, Burma               3
Zambia                       3
Equatorial Guinea            3
Taiwan                       3
Nicaragua                    3
Mozambique                   3
Latvia                       3
Korea DPR (North)            2
Namibia                      2
Japan                        2
Bosnia and Herzegovina       2
Hong Kong (SAR)              2
Singapore                    2
Grenada                      2
United Kingdom               2
Belarus(Byelorussia)         2
Germany                      2
Malawi                       1
Dominica                     1
Qatar                        1
Armenia                      1
Bulgaria                     1
Norway                       1
Switzerland                  1
Moldova                      1
Guinea-Bissau                1
Madagascar                   1
Mauritius                    1
New Zealand                  1
Name: country, Length: 155, dtype: int64

This is a placeholder query allows me to search any country and see how many refugee claims came from each country over the time period.

In [207]:
all_claims[all_claims.country == "Mexico"].decision_year.value_counts()

2013    1015
2017     346
2014     324
2015     172
2016     136
Name: decision_year, dtype: int64

## Religion

Which kinds of religious persecution are more likely to result in IRB approval?

In [208]:
religion = all_claims[all_claims.category == "Religion"]

In [209]:
religion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10343 entries, 164 to 16160
Data columns (total 20 columns):
IRB_file_number     10343 non-null object
date_referred       10343 non-null datetime64[ns]
decision_date       10343 non-null datetime64[ns]
date_mailed         10343 non-null datetime64[ns]
language            10342 non-null object
intake_type         10343 non-null object
disposition_type    10343 non-null object
explanation         10343 non-null object
board_member        10259 non-null object
country             10343 non-null object
gender              10343 non-null object
category            10343 non-null object
type                10343 non-null object
location            10343 non-null object
residence_prov      10343 non-null object
head_of_family      10343 non-null object
associated_file     2109 non-null object
counsel             9948 non-null object
processing_time     10343 non-null timedelta64[ns]
decision_year       10343 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 1.1+ MB

Sixty per cent of the claims citing religion came from just four countries: Pakistan, Iraq, Syria and China. Pakistan alone accounts for more than one in five religion claims.

In [210]:
religion.country.value_counts()

Pakistan                    2333
Iraq                        1377
Syria                       1278
China                       1200
Egypt                        850
Iran                         542
Eritrea                      374
Nigeria                      290
Bangladesh                   245
Turkey                       158
India                        127
Lebanon                      126
Somalia                       94
Afghanistan                   94
Yemen                         83
Saudi Arabia                  80
Russia                        80
Algeria                       64
Jordan                        52
Kazakhstan                    46
Ghana                         44
Sudan                         43
Ukraine                       38
Morocco                       37
Tunisia                       36
Israel                        33
Sri Lanka                     28
Namibia                       27
Bahrain                       22
United States of America      21
                            ...
Guatemala                      2
Spain                          2
Gabon                          2
Norway                         2
Myanmar, Burma                 2
Tanzania                       2
Turkmenistan                   2
Finland                        1
Macedonia                      1
Ecuador                        1
Denmark                        1
Portugal                       1
Slovenia                       1
Hong Kong (SAR)                1
Honduras                       1
Trinidad and Tobago            1
Fiji                           1
Poland                         1
Ireland                        1
Dominican Republic             1
Saint Lucia                    1
Niger                          1
Nepal                          1
Sweden                         1
Romania                        1
Japan                          1
Greece                         1
Cyprus                         1
Ivory Coast                    1
Swaziland                      1
Name: country, Length: 117, dtype: int64

In [211]:
religion.type.value_counts()

Christian               3481
Varied/Other            1953
Ahmadi (unspecified)    1225
Christian  Coptic        743
Muslim  Sunni            450
Shia Muslim              415
Muslim   Sunni           404
Pentecostal              264
Muslim   Shia            188
Ahmadi (Lahori)          185
Hindu                    174
Apostasy                 129
Alevi                    116
Ahmadi (Qadiani)         115
Traditional               89
Christian  Other          82
Muslim                    71
Bahai                     54
Sikh                      46
Chieftaincy Issues        40
Fetish Priest issues      36
Buddhist                  28
Sunni Muslim              27
Ahmadi                     8
Ismaili                    6
Jehovah's Witness          4
Jehovah’s Witness          4
Buddhists                  3
Druze                      3
Name: type, dtype: int64

Compiling all claims from Christians into one dataframe.

In [212]:
christian = religion[(religion.type == "Christian") | (religion.type == "Christian  Coptic") | (religion.type == "Pentecostal") | (religion.type == "Christian  Other")]

Close to half (44 per cent) of all refugee claims cited Christianity in some form as the cause of persecution.

In [213]:
christian.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4570 entries, 1149 to 16160
Data columns (total 20 columns):
IRB_file_number     4570 non-null object
date_referred       4570 non-null datetime64[ns]
decision_date       4570 non-null datetime64[ns]
date_mailed         4570 non-null datetime64[ns]
language            4569 non-null object
intake_type         4570 non-null object
disposition_type    4570 non-null object
explanation         4570 non-null object
board_member        4534 non-null object
country             4570 non-null object
gender              4570 non-null object
category            4570 non-null object
type                4570 non-null object
location            4570 non-null object
residence_prov      4570 non-null object
head_of_family      4570 non-null object
associated_file     910 non-null object
counsel             4355 non-null object
processing_time     4570 non-null timedelta64[ns]
decision_year       4570 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 482.0+ KB

The most claims from Christians came from China.

In [214]:
christian.country.value_counts()

China                       993
Egypt                       825
Iraq                        693
Syria                       663
Eritrea                     323
Iran                        319
Pakistan                    290
Nigeria                     119
Bangladesh                   53
Lebanon                      42
Jordan                       38
Sudan                        34
India                        31
Israel                       22
Turkey                       19
Guinea                       17
Indonesia                    14
Korea DPR (North)            13
Afghanistan                  13
United Kingdom                9
Netherlands                   6
Sri Lanka                     6
United States of America      5
Ethiopia                      5
Unknown                       4
Norway                        2
Angola                        2
South Africa                  2
Armenia                       1
Sweden                        1
Denmark                       1
Kenya                         1
Namibia                       1
Mexico                        1
Cameroon                      1
Korea R. (South)              1
Name: country, dtype: int64

Calculating approval rates for Christians in different countries.

In [215]:
christian_outcomes = pd.pivot_table(christian, index = "country", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [216]:
christian_outcomes.fillna(0, inplace=True)

In [217]:
christian_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
country,,,,,,,,
Afghanistan,5.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
Angola,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
Armenia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Bangladesh,0.0,0.0,0.0,0.0,0.0,11.0,42.0,0.0
Cameroon,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [218]:
del christian_outcomes["Deceased"]

In [219]:
del christian_outcomes["Abandoned"]

In [220]:
del christian_outcomes["Administrative"]

In [221]:
del christian_outcomes["Withdrawn"]

In [222]:
christian_outcomes["Total"] = christian_outcomes.sum(axis=1)

In [223]:
christian_outcomes["Tot_Pos"] = christian_outcomes["Positive"].add(christian_outcomes["Expedited Positive"], axis=0)

In [224]:
christian_outcomes["Rate_Pos"] = christian_outcomes["Tot_Pos"]/christian_outcomes["Total"]

Of the countries with significant number of claims from Christians, refugees from Syria, Sudan and Egypt were the most likely to be admitted. The positive claims from the U.K. the CBC has confirmed to be mistakes in the IRB data which refer to Iraqi nationals. The country field is prone to error because it is based on what the refugee claimant initially tells a CBSA or IRCC officer. China, the source of the most claims from Christians, has only a 37 per cent success rate.

In [225]:
christian_outcomes.sort_values("Rate_Pos", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
country,,,,,,,
Afghanistan,0.0,0.0,0.0,8.0,8.0,8.0,1.000000
Angola,2.0,0.0,0.0,0.0,2.0,2.0,1.000000
United Kingdom,0.0,0.0,0.0,9.0,9.0,9.0,1.000000
Norway,0.0,0.0,0.0,2.0,2.0,2.0,1.000000
Netherlands,0.0,0.0,0.0,4.0,4.0,4.0,1.000000
Unknown,0.0,0.0,0.0,4.0,4.0,4.0,1.000000
Syria,132.0,0.0,13.0,511.0,656.0,643.0,0.980183
Sudan,0.0,0.0,1.0,31.0,32.0,31.0,0.968750
Egypt,46.0,0.0,31.0,732.0,809.0,778.0,0.961681
Iraq,35.0,0.0,53.0,587.0,675.0,622.0,0.921481
Pakistan,1.0,1.0,44.0,239.0,285.0,240.0,0.842105
Iran,1.0,2.0,55.0,249.0,307.0,250.0,0.814332
Eritrea,15.0,4.0,56.0,228.0,303.0,243.0,0.801980
Bangladesh,0.0,0.0,11.0,42.0,53.0,42.0,0.792453
Sri Lanka,0.0,0.0,2.0,4.0,6.0,4.0,0.666667
Turkey,0.0,0.0,7.0,9.0,16.0,9.0,0.562500
Ethiopia,0.0,0.0,3.0,2.0,5.0,2.0,0.400000
Nigeria,0.0,5.0,69.0,44.0,118.0,44.0,0.372881
China,0.0,44.0,495.0,320.0,859.0,320.0,0.372526
Indonesia,0.0,0.0,9.0,5.0,14.0,5.0,0.357143
Jordan,0.0,0.0,28.0,9.0,37.0,9.0,0.243243
India,0.0,0.0,23.0,7.0,30.0,7.0,0.233333
Lebanon,0.0,2.0,30.0,8.0,40.0,8.0,0.200000
Guinea,0.0,0.0,12.0,3.0,15.0,3.0,0.200000
Korea DPR (North),0.0,0.0,5.0,1.0,6.0,1.0,0.166667
Israel,0.0,0.0,18.0,3.0,21.0,3.0,0.142857
South Africa,0.0,0.0,2.0,0.0,2.0,0.0,0.000000
Cameroon,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Mexico,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Sweden,0.0,1.0,0.0,0.0,1.0,0.0,0.000000
Kenya,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Armenia,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
United States of America,0.0,0.0,4.0,0.0,4.0,0.0,0.000000
Namibia,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Denmark,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Korea R. (South),0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [226]:
christian_all = pd.pivot_table(christian, columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [227]:
christian_all.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
IRB_file_number,89,1,4,232,59,976,3061,148

In [228]:
del christian_all["Deceased"]

In [229]:
del christian_all["Abandoned"]

In [230]:
del christian_all["Administrative"]

In [231]:
del christian_all["Withdrawn"]

In [232]:
christian_all["Total"] = christian_all.sum(axis=1)

In [233]:
christian_all["Tot_Pos"] = christian_all["Positive"].add(christian_all["Expedited Positive"], axis=0)

In [234]:
christian_all["Rate_Pos"] = christian_all["Tot_Pos"]/christian_all["Total"]

Overall, three-quarters of religious claims from Christians were accepted by the IRB. Most of the negative claims for Christians were from China.

In [235]:
christian_all.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
IRB_file_number,232,59,976,3061,4328,3293,0.76086

Compiling all claims from Muslims into one dataframe.

In [236]:
muslim = religion[(religion.type == "Ahmadi (unspecified)") | (religion.type == "Muslim  Sunni") | (religion.type == "Shia Muslim") | (religion.type == "Muslim   Sunni") | (religion.type == "Muslim   Shia") | (religion.type == "Ahmadi (Lahori)") | (religion.type == "Alevi") | (religion.type == "Ahmadi (Qadiani)")| (religion.type == "Muslim") | (religion.type == "Sunni Muslim")| (religion.type == "Ahmadi") | (religion.type == "Ismaili")]

Nearly one in three (31%) of religion claims came from Muslims.

In [237]:
muslim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3210 entries, 1321 to 16127
Data columns (total 20 columns):
IRB_file_number     3210 non-null object
date_referred       3210 non-null datetime64[ns]
decision_date       3210 non-null datetime64[ns]
date_mailed         3210 non-null datetime64[ns]
language            3210 non-null object
intake_type         3210 non-null object
disposition_type    3210 non-null object
explanation         3210 non-null object
board_member        3191 non-null object
country             3210 non-null object
gender              3210 non-null object
category            3210 non-null object
type                3210 non-null object
location            3210 non-null object
residence_prov      3210 non-null object
head_of_family      3210 non-null object
associated_file     726 non-null object
counsel             3137 non-null object
processing_time     3210 non-null timedelta64[ns]
decision_year       3210 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 338.6+ KB

The majority (60%) of claims of persecution of Muslims came from Pakistan.

In [238]:
muslim.country.value_counts()

Pakistan                    1938
Iraq                         521
Syria                        443
Turkey                       114
Lebanon                       54
India                         28
Afghanistan                   26
Bangladesh                    21
Sri Lanka                     18
United States of America       8
Saudi Arabia                   7
Israel                         7
Venezuela                      5
Unknown                        4
Algeria                        3
Bosnia and Herzegovina         3
Ecuador                        1
Greece                         1
South Africa                   1
Indonesia                      1
Libya                          1
Hong Kong (SAR)                1
Saint Lucia                    1
United Kingdom                 1
Germany                        1
Belarus(Byelorussia)           1
Name: country, dtype: int64

Almost 80 per cent of the Muslims from Pakistan were Ahmadi. They represent two-thirds (65%) of all religion claims from Pakistan.

In [239]:
muslim[muslim.country == "Pakistan"].type.value_counts()

Ahmadi (unspecified)    1218
Shia Muslim              394
Ahmadi (Lahori)          184
Ahmadi (Qadiani)         115
Sunni Muslim              27
Name: type, dtype: int64

In [240]:
muslim_all = pd.pivot_table(muslim, columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [241]:
muslim_all.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
IRB_file_number,17,1,2,304,13,348,2474,51

In [242]:
del muslim_all["Deceased"]

In [243]:
del muslim_all["Abandoned"]

In [244]:
del muslim_all["Administrative"]

In [245]:
del muslim_all["Withdrawn"]

In [246]:
muslim_all["Total"] = muslim_all.sum(axis=1)

In [247]:
muslim_all["Tot_Pos"] = muslim_all["Positive"].add(muslim_all["Expedited Positive"], axis=0)

In [248]:
muslim_all["Rate_Pos"] = muslim_all["Tot_Pos"]/muslim_all["Total"]

Overall, 88 per cent of claims based on persecution of Muslims were accepted by the IRB.

In [249]:
muslim_all.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
IRB_file_number,304,13,348,2474,3139,2778,0.884995

In [250]:
muslim.type.value_counts()

Ahmadi (unspecified)    1225
Muslim  Sunni            450
Shia Muslim              415
Muslim   Sunni           404
Muslim   Shia            188
Ahmadi (Lahori)          185
Alevi                    116
Ahmadi (Qadiani)         115
Muslim                    71
Sunni Muslim              27
Ahmadi                     8
Ismaili                    6
Name: type, dtype: int64

Ahmadis represent almost half (48%) of religion claims from Muslims and 15 % of all religion-based claims. Calculating the positive rate of Ahmadi claims.

In [251]:
ahmadi = religion[(religion.type == "Ahmadi (unspecified)") |  (religion.type == "Ahmadi (Lahori)") | (religion.type == "Ahmadi (Qadiani)")|  (religion.type == "Ahmadi")]

In [252]:
ahmadi.country.value_counts()

Pakistan                    1517
Bangladesh                     8
Germany                        1
United Kingdom                 1
South Africa                   1
Libya                          1
United States of America       1
Saint Lucia                    1
Unknown                        1
Hong Kong (SAR)                1
Name: country, dtype: int64

In [253]:
ahmadi_outcomes = pd.pivot_table(ahmadi, columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

Almost all (97%) of claims from Ahmadis were positive.

In [254]:
ahmadi_outcomes.head()

explanation,Abandoned,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
IRB_file_number,1,1,7,4,39,1472,9

Stripping out Ahmadi claims to calculate acceptance rate of non-Ahmadi Muslim claims.

In [255]:
muslim_no_ahmadi = religion[(religion.type == "Muslim  Sunni") | (religion.type == "Shia Muslim") | (religion.type == "Muslim   Sunni") | (religion.type == "Muslim   Shia") | (religion.type == "Alevi") | (religion.type == "Muslim") | (religion.type == "Sunni Muslim")| (religion.type == "Ismaili")]

In [256]:
muslim_no_ahmadi_outcomes = pd.pivot_table(muslim_no_ahmadi, columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

If Ahmadi claims are removed from the analysis, claims from Muslims have an acceptance rate of 80%

In [257]:
muslim_no_ahmadi_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
IRB_file_number,16,1,1,297,9,309,1002,42

## Location of hearings

Are there differences in approval rates in different regions of Canada? To find out, we need to look only at claims that were decided by the IRB, which are represented in the Decided dataset. However, the location field needs to be treated with caution. The IRB only has members in Vancouver, Calgary, Toronto and Montreal. Where other cities appear in this field, they may in fact refer to where the claimant lives.

How many hearings were held in each city?

In [258]:
decided.location.value_counts()

Toronto, ON           47634
Montreal, QC          19791
Vancouver, BC          3756
Ottawa, ON             3098
Calgary, AB            3085
Edmonton, AB           1733
Winnipeg, MB            713
Halifax, NS             182
ADRP                    121
Regina, SK              118
Saskatoon, SK            98
Saint John, NB           59
St. John's, NL           56
Charlottetown, PEI       32
Fredericton, NB          27
Moncton, NB              22
Gander, NL               15
ST. Stephen, NB          11
Emerson, MB               7
Coutts, AB                3
TORONTO                   2
Toronto I, ON             1
Vancouver                 1
VANIER                    1
Calgary                   1
MISSISSAUGA               1
Name: location, dtype: int64

In [259]:
decided.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80568 entries, 0 to 16251
Data columns (total 20 columns):
IRB_file_number     80568 non-null object
date_referred       80567 non-null datetime64[ns]
decision_date       80568 non-null datetime64[ns]
date_mailed         80568 non-null datetime64[ns]
language            80565 non-null object
intake_type         80568 non-null object
disposition_type    80568 non-null object
explanation         80568 non-null object
board_member        80564 non-null object
country             80567 non-null object
gender              80564 non-null object
category            69567 non-null object
type                69567 non-null object
location            80568 non-null object
residence_prov      80568 non-null object
head_of_family      80568 non-null object
associated_file     14397 non-null object
counsel             76823 non-null object
processing_time     80567 non-null timedelta64[ns]
decision_year       80568 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 10.3+ MB

More than half (59%) of all hearings were held in Toronto and a quarter (25%) were held in Montreal. Just five per cent were held in Vancouver.

In [260]:
locations = pd.pivot_table(decided, index = "location", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [261]:
locations.head(25)

explanation         Expedited Positive  Neg. No Cred Basis  Negative  Positive
location
ADRP                               4.0                 6.0      37.0      74.0
Calgary                            NaN                 NaN       1.0       NaN
Calgary, AB                       75.0                16.0    1133.0    1861.0
Charlottetown, PEI                 1.0                 NaN      12.0      19.0
Coutts, AB                         NaN                 NaN       1.0       2.0
Edmonton, AB                      57.0                16.0     766.0     894.0
Emerson, MB                        5.0                 NaN       NaN       2.0
Fredericton, NB                    NaN                 1.0       8.0      18.0
Gander, NL                         NaN                 NaN       2.0      13.0
Halifax, NS                        7.0                 NaN      54.0     121.0
MISSISSAUGA                        NaN                 NaN       1.0       NaN
Moncton, NB                        2.0                 NaN      13.0       7.0
Montreal, QC                     398.0               286.0    8863.0   10244.0
Ottawa, ON                        69.0                34.0    1069.0    1926.0
Regina, SK                         3.0                 1.0      50.0      64.0
ST. Stephen, NB                    NaN                 NaN       1.0      10.0
Saint John, NB                     2.0                 NaN      27.0      30.0
Saskatoon, SK                      1.0                 NaN      40.0      57.0
St. John's, NL                     NaN                 NaN      14.0      42.0
TORONTO                            NaN                 NaN       1.0       1.0
Toronto I, ON                      1.0                 NaN       NaN       NaN
Toronto, ON                     1039.0              1607.0   16901.0   28087.0
VANIER                             NaN                 NaN       1.0       NaN
Vancouver                          NaN                 NaN       1.0       NaN
Vancouver, BC                    117.0                29.0    1289.0    2321.0

In [262]:
locations.fillna(0, inplace=True)

In [263]:
locations["Total"] = locations.sum(axis=1)

In [264]:
locations["Tot_Pos"] = locations["Positive"].add(locations["Expedited Positive"], axis=0)

In [265]:
locations["Rate_Pos"] = locations["Tot_Pos"]/locations["Total"]

Of the cities where more than 1000 refugee claims were decided over the four years, Vancouver had the highest rate of approval at 65%. Montreal, at 54%, was the lowest. Toronto, where the most claims are decided, was in the middle at 61% positive.

In [266]:
locations.sort_values("Rate_Pos", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
location,,,,,,,
"Toronto I, ON",1.0,0.0,0.0,0.0,1.0,1.0,1.000000
"Emerson, MB",5.0,0.0,0.0,2.0,7.0,7.0,1.000000
"ST. Stephen, NB",0.0,0.0,1.0,10.0,11.0,10.0,0.909091
"Gander, NL",0.0,0.0,2.0,13.0,15.0,13.0,0.866667
"St. John's, NL",0.0,0.0,14.0,42.0,56.0,42.0,0.750000
"Halifax, NS",7.0,0.0,54.0,121.0,182.0,128.0,0.703297
"Coutts, AB",0.0,0.0,1.0,2.0,3.0,2.0,0.666667
"Fredericton, NB",0.0,1.0,8.0,18.0,27.0,18.0,0.666667
"Vancouver, BC",117.0,29.0,1289.0,2321.0,3756.0,2438.0,0.649095
ADRP,4.0,6.0,37.0,74.0,121.0,78.0,0.644628
"Ottawa, ON",69.0,34.0,1069.0,1926.0,3098.0,1995.0,0.643964
"Calgary, AB",75.0,16.0,1133.0,1861.0,3085.0,1936.0,0.627553
"Charlottetown, PEI",1.0,0.0,12.0,19.0,32.0,20.0,0.625000
"Toronto, ON",1039.0,1607.0,16901.0,28087.0,47634.0,29126.0,0.611454
"Saskatoon, SK",1.0,0.0,40.0,57.0,98.0,58.0,0.591837
"Winnipeg, MB",17.0,6.0,300.0,390.0,713.0,407.0,0.570827
"Regina, SK",3.0,1.0,50.0,64.0,118.0,67.0,0.567797
"Edmonton, AB",57.0,16.0,766.0,894.0,1733.0,951.0,0.548759
"Saint John, NB",2.0,0.0,27.0,30.0,59.0,32.0,0.542373
"Montreal, QC",398.0,286.0,8863.0,10244.0,19791.0,10642.0,0.537719
TORONTO,0.0,0.0,1.0,1.0,2.0,1.0,0.500000
"Moncton, NB",2.0,0.0,13.0,7.0,22.0,9.0,0.409091
Calgary,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
MISSISSAUGA,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
VANIER,0.0,0.0,1.0,0.0,1.0,0.0,0.000000
Vancouver,0.0,0.0,1.0,0.0,1.0,0.0,0.000000

In [267]:
locations.to_csv("locations.csv", encoding="utf-8")

Giving Toronto its own dataframe.

In [268]:
toronto = decided[(decided.location == "Toronto, ON")|(decided.location == "TORONTO")|(decided.location == "Toronto I, ON")]

In [269]:
toronto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47637 entries, 6211 to 16162
Data columns (total 20 columns):
IRB_file_number     47637 non-null object
date_referred       47636 non-null datetime64[ns]
decision_date       47637 non-null datetime64[ns]
date_mailed         47637 non-null datetime64[ns]
language            47635 non-null object
intake_type         47637 non-null object
disposition_type    47637 non-null object
explanation         47637 non-null object
board_member        47633 non-null object
country             47636 non-null object
gender              47635 non-null object
category            41508 non-null object
type                41508 non-null object
location            47637 non-null object
residence_prov      47637 non-null object
head_of_family      47637 non-null object
associated_file     8756 non-null object
counsel             45715 non-null object
processing_time     47636 non-null timedelta64[ns]
decision_year       47637 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 4.9+ MB

The source countries of refugee claims made in Toronto essentially reflect the overall data.

In [270]:
toronto.country.value_counts()

China                  6041
Hungary                3430
Nigeria                3243
Pakistan               2918
Colombia               1785
Turkey                 1658
Syria                  1610
Iraq                   1533
Eritrea                1390
Afghanistan            1388
Somalia                1258
Sri Lanka              1237
Slovakia               1028
Ukraine                 936
Iran                    832
Ethiopia                801
Egypt                   766
Jamaica                 761
Bangladesh              594
Albania                 577
Libya                   508
Sudan                   497
Venezuela               482
El Salvador             473
Palestine               464
Croatia                 422
Saint Lucia             418
Russia                  414
Lebanon                 408
Namibia                 389
                       ...
Equatorial Guinea         6
Laos                      6
Cambodia                  6
Central African Rep       5
Bermuda                   5
Switzerland               5
Estonia                   5
Zambia                    5
Slovenia                  4
Singapore                 4
Belgium                   4
Mozambique                4
Malta                     4
Malawi                    3
Paraguay                  3
Dominica                  3
Uruguay                   3
Stateless                 3
Cyprus                    2
Fiji                      2
Belize                    2
Finland                   2
Turkmenistan              2
Nevis                     1
England                   1
Papua New Guinea          1
Norway                    1
Guinea-Bissau             1
Austria                   1
Madagascar                1
Name: country, Length: 170, dtype: int64

In [271]:
to_outcomes = pd.pivot_table(toronto, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [272]:
to_outcomes.head()

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
decision_year
2013                         63.0               348.0    5268.0    4673.0
2014                          NaN               505.0    3695.0    6100.0
2015                         35.0               475.0    2467.0    5928.0
2016                        288.0               224.0    2715.0    5781.0
2017                        654.0                55.0    2757.0    5606.0

In [273]:
to_outcomes.fillna(0, inplace=True)

In [274]:
to_outcomes["Total"] = to_outcomes.sum(axis=1)

In [275]:
to_outcomes["Tot_Pos"] = to_outcomes["Positive"].add(to_outcomes["Expedited Positive"])

In [276]:
to_outcomes["Rate_Pos"] = to_outcomes["Tot_Pos"]/to_outcomes["Total"]

In [277]:
to_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,63.0,348.0,5268.0,4673.0,10352.0,4736.0,0.457496
2014,0.0,505.0,3695.0,6100.0,10300.0,6100.0,0.592233
2015,35.0,475.0,2467.0,5928.0,8905.0,5963.0,0.669624
2016,288.0,224.0,2715.0,5781.0,9008.0,6069.0,0.673734
2017,654.0,55.0,2757.0,5606.0,9072.0,6260.0,0.690035

In [278]:
to_outcomes.to_csv("to_outcomes.csv", encoding="utf-8")

Giving Montreal its own dataframe.

In [279]:
montreal = decided[decided.location == "Montreal, QC"]

In [280]:
montreal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19791 entries, 1 to 15570
Data columns (total 20 columns):
IRB_file_number     19791 non-null object
date_referred       19791 non-null datetime64[ns]
decision_date       19791 non-null datetime64[ns]
date_mailed         19791 non-null datetime64[ns]
language            19791 non-null object
intake_type         19791 non-null object
disposition_type    19791 non-null object
explanation         19791 non-null object
board_member        19791 non-null object
country             19791 non-null object
gender              19790 non-null object
category            17032 non-null object
type                17032 non-null object
location            19791 non-null object
residence_prov      19791 non-null object
head_of_family      19791 non-null object
associated_file     3359 non-null object
counsel             19243 non-null object
processing_time     19791 non-null timedelta64[ns]
decision_year       19791 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 2.0+ MB

The top source countries of refugee claims heard in Montreal are signficantly different from Toronto.

In [281]:
montreal.country.value_counts()

Haiti                             1710
India                             1455
Syria                             1139
Mexico                            1023
Colombia                          1001
Congo, Dem Rep (Zaire)             848
Burundi                            773
Algeria                            550
Pakistan                           527
Venezuela                          444
Hungary                            429
El Salvador                        417
Cameroon                           414
Croatia                            378
Egypt                              348
Lebanon                            344
Turkey                             334
Guinea                             312
Honduras                           310
Chad                               304
Bangladesh                         299
Iraq                               252
Nigeria                            246
Mali                               238
Guatemala                          219
Djibouti                           219
Cuba                               214
Senegal                            213
Tunisia                            206
United States of America           189
                                  ...
Portugal                             4
Seychelles                           4
Singapore                            4
Slovakia (Slovak Republic)           3
Bahrain                              3
Japan                                3
Serbia                               3
Bulgaria                             3
Stateless                            2
Slovakia                             2
Macedonia                            2
Germany                              2
Comoros                              2
Zambia                               2
Guyana                               2
Taiwan                               2
Paraguay                             2
Montenegro                           1
Turkmenistan                         1
Tajikistan                           1
Cape Verde                           1
Equatorial Guinea                    1
Saint Kitts and Nevis, Fed. Of       1
Thailand                             1
Sudan (South)                        1
Finland                              1
Myanmar, Burma                       1
Qatar                                1
San Marino                           1
Czech Republic                       1
Name: country, Length: 157, dtype: int64

In [282]:
mtl_outcomes = pd.pivot_table(montreal, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [283]:
mtl_outcomes.head()

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
decision_year
2013                         23.0               106.0    2729.0    1725.0
2014                          NaN                70.0    2266.0    2103.0
2015                         19.0                33.0    1557.0    2178.0
2016                        107.0                35.0    1243.0    2337.0
2017                        249.0                42.0    1068.0    1901.0

In [284]:
mtl_outcomes.fillna(0, inplace=True)

In [285]:
mtl_outcomes["Total"] = mtl_outcomes.sum(axis=1)

In [286]:
mtl_outcomes["Tot_Pos"] = mtl_outcomes["Positive"].add(mtl_outcomes["Expedited Positive"])

In [287]:
mtl_outcomes["Rate_Pos"] = mtl_outcomes["Tot_Pos"]/mtl_outcomes["Total"]

In [288]:
mtl_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,23.0,106.0,2729.0,1725.0,4583.0,1748.0,0.381410
2014,0.0,70.0,2266.0,2103.0,4439.0,2103.0,0.473755
2015,19.0,33.0,1557.0,2178.0,3787.0,2197.0,0.580143
2016,107.0,35.0,1243.0,2337.0,3722.0,2444.0,0.656636
2017,249.0,42.0,1068.0,1901.0,3260.0,2150.0,0.659509

In [289]:
mtl_outcomes.to_csv("mtl_outcomes.csv", encoding="utf-8")

Giving Vancouver its own dataframe.

In [290]:
vancouver = decided[decided.location == "Vancouver, BC"]

In [291]:
vancouver.country.value_counts()

China                       413
Afghanistan                 359
Iraq                        309
Colombia                    220
Iran                        213
Honduras                    202
Pakistan                    138
Mexico                      130
Sri Lanka                   120
India                       102
Syria                       102
Turkey                       90
Hungary                      88
El Salvador                  88
Libya                        66
Nigeria                      46
Venezuela                    45
Burundi                      44
Palestine                    42
United States of America     38
Saudi Arabia                 37
Mongolia                     36
Lebanon                      35
Albania                      35
Ukraine                      30
Guatemala                    30
Zimbabwe                     27
Yemen                        26
Ethiopia                     26
Cuba                         25
                           ...
Bahamas                       2
Georgia                       2
Haiti                         2
Tunisia                       1
Liberia                       1
Bosnia and Herzegovina        1
United Kingdom                1
Burkina Faso                  1
Qatar                         1
Swaziland                     1
Guyana                        1
Equatorial Guinea             1
Kuwait                        1
New Zealand                   1
Slovakia                      1
Belarus(Byelorussia)          1
Netherlands                   1
Saint Vincent                 1
Sudan (South)                 1
Norway                        1
Uzbekistan                    1
Djibouti                      1
Papua New Guinea              1
Panama                        1
Barbados                      1
Tajikistan                    1
Italy                         1
Azerbaijan                    1
United Arab Emirates          1
Turkmenistan                  1
Name: country, Length: 131, dtype: int64

In [292]:
van_outcomes = pd.pivot_table(vancouver, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [293]:
van_outcomes.fillna(0, inplace=True)

In [294]:
van_outcomes["Total"] = van_outcomes.sum(axis=1)

In [295]:
van_outcomes["Tot_Pos"] = van_outcomes["Positive"].add(van_outcomes["Expedited Positive"])

In [296]:
van_outcomes["Rate_Pos"] = van_outcomes["Tot_Pos"]/van_outcomes["Total"]

In [297]:
van_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,0.0,6.0,445.0,362.0,813.0,362.0,0.445264
2014,0.0,3.0,307.0,544.0,854.0,544.0,0.637002
2015,4.0,9.0,146.0,378.0,537.0,382.0,0.711359
2016,48.0,6.0,198.0,473.0,725.0,521.0,0.718621
2017,65.0,5.0,193.0,564.0,827.0,629.0,0.760580

The differences in the countries refugee claims come from in each hearing city could account for differences in approval rates. To explore this further, let's look at claims from the same countries and the same cause of persecution heard in each of the three cities (Toronto, Montreal, Vancouver) where the vast majority of claims are heard. There are enough claims from Colombia, Iraq and Pakistan heard in each city to do this.

First let's see what the most common type of persecution is for claimants from each country. We will restrict it to claims that were decided by the IRB (so, not including Abandoned or Withdrawn).

In [298]:
colombia = decided[decided.country == "Colombia"]

In [299]:
colombia.category.value_counts()

No Nexus _ Criminality_Corruption              1928
Political Opinion  Organization                 372
Political Opinion  Activism                     201
Particular Social Group  Gender_Age              80
No Nexus  Varied_Other                           60
Political Opinion  Varied_Other                  43
Particular Social Group  Varied_Other            29
Particular Social Group  Sexual Orientation      29
Race_Ethnicity                                   28
Political Opinion  Military Service               1
Name: category, dtype: int64

The next step is to isolate criminality/corruption claims from Colombia, calculate an overall approval rate and then break it down by hearing city.

In [300]:
colombia_crim = colombia[colombia.category == "No Nexus _ Criminality_Corruption"]

In [301]:
colombia_crim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 97 to 16180
Data columns (total 20 columns):
IRB_file_number     1928 non-null object
date_referred       1928 non-null datetime64[ns]
decision_date       1928 non-null datetime64[ns]
date_mailed         1928 non-null datetime64[ns]
language            1928 non-null object
intake_type         1928 non-null object
disposition_type    1928 non-null object
explanation         1928 non-null object
board_member        1928 non-null object
country             1928 non-null object
gender              1928 non-null object
category            1928 non-null object
type                1928 non-null object
location            1928 non-null object
residence_prov      1928 non-null object
head_of_family      1928 non-null object
associated_file     567 non-null object
counsel             1854 non-null object
processing_time     1928 non-null timedelta64[ns]
decision_year       1928 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 203.3+ KB

In [302]:
colombia_crim_outcomes = pd.pivot_table(colombia_crim, index = "location", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [303]:
colombia_crim_outcomes.head(15)

explanation      Expedited Positive  Neg. No Cred Basis  Negative  Positive
location
ADRP                            NaN                 NaN       NaN       4.0
Calgary, AB                     NaN                 NaN      56.0      46.0
Edmonton, AB                    NaN                 3.0      30.0      28.0
Fredericton, NB                 NaN                 NaN       1.0       NaN
Halifax, NS                     NaN                 NaN       3.0       NaN
Montreal, QC                    1.0                 6.0     301.0     298.0
Ottawa, ON                      NaN                 1.0      13.0       4.0
St. John's, NL                  NaN                 NaN       3.0       NaN
Toronto, ON                     NaN                23.0     444.0     545.0
Vancouver, BC                   NaN                 NaN      38.0      78.0
Winnipeg, MB                    NaN                 NaN       NaN       2.0

In [304]:
colombia_crim_outcomes.fillna(0, inplace=True)

In [305]:
colombia_crim_outcomes["Total"] = colombia_crim_outcomes.sum(axis=1)

In [306]:
colombia_crim_outcomes["Tot_Pos"] = colombia_crim_outcomes["Positive"].add(colombia_crim_outcomes["Expedited Positive"], axis=0)

In [307]:
colombia_crim_outcomes["Rate_Pos"] = colombia_crim_outcomes["Tot_Pos"]/colombia_crim_outcomes["Total"]

So the pattern holds true in this instance when looking at the same variable across all three cities. Refugees from Colombia who claimed to be persecuted by criminals were accepted 67% of the time in Vancouver, 54% of the time in Toronto and 49% of the time in Montreal.

In [308]:
colombia_crim_outcomes.sort_values("Rate_Pos", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
location,,,,,,,
ADRP,0.0,0.0,0.0,4.0,4.0,4.0,1.000000
"Winnipeg, MB",0.0,0.0,0.0,2.0,2.0,2.0,1.000000
"Vancouver, BC",0.0,0.0,38.0,78.0,116.0,78.0,0.672414
"Toronto, ON",0.0,23.0,444.0,545.0,1012.0,545.0,0.538538
"Montreal, QC",1.0,6.0,301.0,298.0,606.0,299.0,0.493399
"Edmonton, AB",0.0,3.0,30.0,28.0,61.0,28.0,0.459016
"Calgary, AB",0.0,0.0,56.0,46.0,102.0,46.0,0.450980
"Ottawa, ON",0.0,1.0,13.0,4.0,18.0,4.0,0.222222
"Fredericton, NB",0.0,0.0,1.0,0.0,1.0,0.0,0.000000
"Halifax, NS",0.0,0.0,3.0,0.0,3.0,0.0,0.000000
"St. John's, NL",0.0,0.0,3.0,0.0,3.0,0.0,0.000000

Now let's look at Iraq.

In [309]:
iraq = decided[decided.country == "Iraq"]

In [310]:
iraq.category.value_counts()

Religion                                       1338
No Nexus _ Criminality_Corruption               277
Political Opinion  Activism                     224
Particular Social Group  Gender_Age             119
Political Opinion  Varied_Other                 114
Race_Ethnicity                                   76
Political Opinion  Organization                  50
No Nexus  Varied_Other                           46
Particular Social Group  Varied_Other            46
Particular Social Group  Sexual Orientation       7
Political Opinion  Military Service               2
Political Opinion _ State Policy Issues           1
Name: category, dtype: int64

The most common category of persecution claimed by refugees from Iraq is Religion, so let's look at acceptance rates for those refugees in all three cities.

In [311]:
iraq_rel = iraq[iraq.category == "Religion"]

In [312]:
iraq_rel_outcomes = pd.pivot_table(iraq_rel, index = "location", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [313]:
iraq_rel_outcomes.head(15)

explanation     Expedited Positive  Neg. No Cred Basis  Negative  Positive
location
ADRP                           NaN                 NaN       NaN       4.0
Calgary, AB                   30.0                 NaN       1.0      23.0
Edmonton, AB                   2.0                 NaN       NaN      10.0
Montreal, QC                   NaN                 NaN      14.0      66.0
Ottawa, ON                     3.0                 NaN       5.0      48.0
Regina, SK                     NaN                 NaN       NaN       3.0
Saint John, NB                 1.0                 NaN       NaN       NaN
Toronto, ON                   81.0                 6.0      80.0     863.0
Vancouver, BC                 20.0                 NaN       7.0      68.0
Winnipeg, MB                   NaN                 NaN       NaN       3.0

In [314]:
iraq_rel_outcomes.fillna(0, inplace=True)

In [315]:
iraq_rel_outcomes["Total"] = iraq_rel_outcomes.sum(axis=1)

In [316]:
iraq_rel_outcomes["Tot_Pos"] = iraq_rel_outcomes["Positive"].add(iraq_rel_outcomes["Expedited Positive"], axis=0)

In [317]:
iraq_rel_outcomes["Rate_Pos"] = iraq_rel_outcomes["Tot_Pos"]/iraq_rel_outcomes["Total"]

Vancouver only had 95 religion-based claims from Iraq, but the pattern also holds true on this query, although the difference between Vancouver and Toronto is insignificant. In Vancouver, 93% of these refugees were accepted, compared with 92% in Toronto and 83% in Montreal.

In [318]:
iraq_rel_outcomes.sort_values("Rate_Pos", ascending=False)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
location,,,,,,,
ADRP,0.0,0.0,0.0,4.0,4.0,4.0,1.000000
"Edmonton, AB",2.0,0.0,0.0,10.0,12.0,12.0,1.000000
"Regina, SK",0.0,0.0,0.0,3.0,3.0,3.0,1.000000
"Saint John, NB",1.0,0.0,0.0,0.0,1.0,1.0,1.000000
"Winnipeg, MB",0.0,0.0,0.0,3.0,3.0,3.0,1.000000
"Calgary, AB",30.0,0.0,1.0,23.0,54.0,53.0,0.981481
"Vancouver, BC",20.0,0.0,7.0,68.0,95.0,88.0,0.926316
"Toronto, ON",81.0,6.0,80.0,863.0,1030.0,944.0,0.916505
"Ottawa, ON",3.0,0.0,5.0,48.0,56.0,51.0,0.910714
"Montreal, QC",0.0,0.0,14.0,66.0,80.0,66.0,0.825000

Now Pakistan.

In [319]:
pakistan = decided[decided.country == "Pakistan"]

In [320]:
pakistan.category.value_counts()

Religion                                       2301
No Nexus _ Criminality_Corruption               394
Particular Social Group  Gender_Age             221
Political Opinion  Activism                     203
Particular Social Group  Sexual Orientation     136
Political Opinion  Organization                 131
Political Opinion  Varied_Other                  48
Particular Social Group  Varied_Other            26
No Nexus  Varied_Other                           20
Race_Ethnicity                                    7
Name: category, dtype: int64

For cases from Pakistan, religion is the most commonly cited cause of persecution.

In [321]:
pak_rel = pakistan[pakistan.category == "Religion"]

In [322]:
pak_rel_outcomes = pd.pivot_table(pak_rel, index = "location", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [323]:
pak_rel_outcomes.head(15)

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
location
ADRP                          NaN                 NaN       NaN       8.0
Calgary, AB                   NaN                 NaN      24.0     121.0
Edmonton, AB                  NaN                 NaN       4.0      22.0
Halifax, NS                   NaN                 NaN       NaN       1.0
Montreal, QC                  1.0                 NaN      29.0     144.0
Regina, SK                    NaN                 NaN       3.0      16.0
Saskatoon, SK                 NaN                 NaN       NaN       7.0
Toronto, ON                   6.0                 8.0     188.0    1613.0
Vancouver, BC                 NaN                 NaN       6.0      78.0
Winnipeg, MB                  NaN                 NaN       5.0      17.0

In [324]:
pak_rel_outcomes.fillna(0, inplace=True)

In [325]:
pak_rel_outcomes["Total"] = pak_rel_outcomes.sum(axis=1)

In [326]:
pak_rel_outcomes["Tot_Pos"] = pak_rel_outcomes["Positive"].add(pak_rel_outcomes["Expedited Positive"], axis=0)

In [327]:
pak_rel_outcomes["Rate_Pos"] = pak_rel_outcomes["Tot_Pos"]/pak_rel_outcomes["Total"]

In Vancouver, 93% of claims from Pakistan citing religion were accepted, compared to 89% in Toronto and 83% in Montreal.

In [328]:
pak_rel_outcomes.head(15)

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
location,,,,,,,
ADRP,0.0,0.0,0.0,8.0,8.0,8.0,1.000000
"Calgary, AB",0.0,0.0,24.0,121.0,145.0,121.0,0.834483
"Edmonton, AB",0.0,0.0,4.0,22.0,26.0,22.0,0.846154
"Halifax, NS",0.0,0.0,0.0,1.0,1.0,1.0,1.000000
"Montreal, QC",1.0,0.0,29.0,144.0,174.0,145.0,0.833333
"Regina, SK",0.0,0.0,3.0,16.0,19.0,16.0,0.842105
"Saskatoon, SK",0.0,0.0,0.0,7.0,7.0,7.0,1.000000
"Toronto, ON",6.0,8.0,188.0,1613.0,1815.0,1619.0,0.892011
"Vancouver, BC",0.0,0.0,6.0,78.0,84.0,78.0,0.928571
"Winnipeg, MB",0.0,0.0,5.0,17.0,22.0,17.0,0.772727

## Specific countries of interest

Taking a closer look at refugee claims coming from certain countries of interest, including China, Nigeria, Turkey, the US and Haiti. This analysis will only look at claims from these countries that were decided by the IRB.

## China

Giving China its own dataframe.

In [329]:
china = decided[decided.country == "China"]

Most common categories and types of persecution from China.

In [330]:
china.category.value_counts()

Particular Social Group  Varied_Other          2319
Political Opinion _ State Policy Issues        1690
Religion                                       1058
Race_Ethnicity                                  401
Political Opinion  Activism                     137
No Nexus _ Criminality_Corruption                90
Particular Social Group  Gender_Age              80
No Nexus  Varied_Other                           54
Political Opinion  Varied_Other                  29
Particular Social Group  Sexual Orientation      21
Political Opinion  Organization                  17
Political Opinion  Military Service               1
Name: category, dtype: int64

In [331]:
china.type.value_counts()

Falun Gong                                        2264
Family Planning Policy (FPP)                      1292
Christian                                          859
Varied/Other                                       433
Land expropriation                                 366
Tibetan                                            252
Muslim Ouighor                                     114
Anti government                                     90
Female   Other                                      42
Witness/Victim of Common crime                      31
Female   Domestic violence                          30
Witness/Victim of State agents                      19
Personal vendetta/Family feud                       16
China Democratic Party                              13
Buddhist                                            12
Fear is unspecified/unclear                         11
Gay                                                 11
Illegal Exit                                         6
State employee / Appointee / Police / Military       5
Anti poverty/Community activist/NGO                  5
Witness/Victim of Organized crime                    5
Male   Other                                         4
Student activist/organizer                           3
Female   Non domestic sexual violence                2
Uzbek                                                2
Trade/Labour unionist                                2
Female   Forced marriage                             2
Lesbian                                              1
Academics/Artists/Intellectuals                      1
Bisexual                                             1
Journalist (Print/Radio/TV)                          1
Generalized risk                                     1
Taliban                                              1
Name: type, dtype: int64

In [332]:
china.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6579 entries, 1149 to 15923
Data columns (total 20 columns):
IRB_file_number     6579 non-null object
date_referred       6579 non-null datetime64[ns]
decision_date       6579 non-null datetime64[ns]
date_mailed         6579 non-null datetime64[ns]
language            6578 non-null object
intake_type         6579 non-null object
disposition_type    6579 non-null object
explanation         6579 non-null object
board_member        6579 non-null object
country             6579 non-null object
gender              6579 non-null object
category            5897 non-null object
type                5897 non-null object
location            6579 non-null object
residence_prov      6579 non-null object
head_of_family      6579 non-null object
associated_file     1160 non-null object
counsel             6467 non-null object
processing_time     6579 non-null timedelta64[ns]
decision_year       6579 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 693.9+ KB

How have Falun Gong claims changed throughout the years and what is their success rate?

In [333]:
falun = china[china.type == "Falun Gong"]

In [334]:
falun_gong = pd.pivot_table(falun, index="decision_year", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [335]:
falun_gong.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                           20       192       163
2014                           66       345       335
2015                          117       240       216
2016                           51       158        97
2017                            3       145       116

In [336]:
falun_gong["Total"] = falun_gong.sum(axis=1)

In [337]:
falun_gong["Rate_Pos"] = falun_gong["Positive"]/falun_gong["Total"]

Falun gong claims spiked in 2014 but have been dropping off in numbers since then. So this is a big part of what's driving the drop in claims from China. Acceptance rates have not really changed.

In [338]:
falun_gong.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total  Rate_Pos
decision_year
2013                           20       192       163    375  0.434667
2014                           66       345       335    746  0.449062
2015                          117       240       216    573  0.376963
2016                           51       158        97    306  0.316993
2017                            3       145       116    264  0.439394

Giving claims from China based on family planning policy their own dataframe.

In [339]:
family = china[china.type == "Family Planning Policy (FPP)"]

In [340]:
family_plan = pd.pivot_table(family, index="decision_year", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [341]:
family_plan.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                            8        60        65
2014                            9       105       221
2015                           27       105       308
2016                           15       128        91
2017                            3        89        58

In [342]:
family_plan["Total"] = family_plan.sum(axis =1)

In [343]:
family_plan["Rate_Pos"] = family_plan["Positive"]/family_plan["Total"]

There were far fewer claims from China made on this basis after the one-child policy ended on Jan. 1, 2016. They were also far less likely to be successful, which makes sense.

In [344]:
family_plan.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total  Rate_Pos
decision_year
2013                            8        60        65    133  0.488722
2014                            9       105       221    335  0.659701
2015                           27       105       308    440  0.700000
2016                           15       128        91    234  0.388889
2017                            3        89        58    150  0.386667

Are claims from Christians in China increasing or decreasing?

In [345]:
china_christ = china[china.type == "Christian"]

In [346]:
china_christ.to_csv("china_christ.csv")

In [347]:
china_christ_outcomes = pd.pivot_table(china_christ, index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [348]:
china_christ_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                           16       182        64
2014                           12       133        80
2015                            8        55        51
2016                            6        53        39
2017                            2        72        86

In [349]:
china_christ_outcomes["Total"] = china_christ_outcomes.sum(axis=1)

In [350]:
china_christ_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total
decision_year
2013                           16       182        64    262
2014                           12       133        80    225
2015                            8        55        51    114
2016                            6        53        39     98
2017                            2        72        86    160

In [351]:
china_christ_outcomes["Rate_Pos"] = china_christ_outcomes["Positive"]/china_christ_outcomes["Total"]

In [352]:
china_christ_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total  Rate_Pos
decision_year
2013                           16       182        64    262  0.244275
2014                           12       133        80    225  0.355556
2015                            8        55        51    114  0.447368
2016                            6        53        39     98  0.397959
2017                            2        72        86    160  0.537500

In [353]:
china_outcomes = pd.pivot_table(china,  index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

## Haiti

Giving Haiti its own dataframe.

In [354]:
haiti = decided[decided.country == "Haiti"]

The most claimants from Haiti said they were fleeing criminals or organized crime. There are also a significant number of female claimants who said they were fleeing domestic or sexual violence.

In [355]:
haiti.category.value_counts()

No Nexus _ Criminality_Corruption              912
Particular Social Group  Gender_Age            338
Political Opinion  Activism                    275
Political Opinion  Organization                146
No Nexus  Varied_Other                          88
Political Opinion  Varied_Other                 69
Particular Social Group  Varied_Other           46
Particular Social Group  Sexual Orientation     42
Religion                                        11
Political Opinion _ State Policy Issues          7
Name: category, dtype: int64

In [356]:
haiti.type.value_counts()

Witness/Victim of Common crime                       530
Varied/Other                                         388
Female   Non domestic sexual violence                169
Witness/Victim of Organized crime                    148
Female   Domestic violence                           116
Anti government                                      116
Personal vendetta/Family feud                         66
Anti poverty/Community activist/NGO                   58
Female   Other                                        53
Generalized risk                                      41
Witness/Victim of State agents                        37
Gay                                                   24
La Fanmi Lavalas/Lavalas Family Party (FL)            23
Journalist (Print/Radio/TV)                           22
Anti Aristide                                         16
State employee / Appointee / Police / Military        16
Lesbian                                               16
Fear is unspecified/unclear                           15
Assembly of Progressive National Democrats (RDNP)     15
Student activist/organizer                            15
Witness/Victim of Chimeres                            14
Returning expatriate                                  12
Struggling People's Organization (OPL)                 9
Pro Aristide                                           6
Other foreign forces (UN/OAS/USA)                      3
Economic migrant                                       2
Academics/Artists/Intellectuals                        2
National Front for Change and Democracy (FNCD)         1
Trade/Labour unionist                                  1
Name: type, dtype: int64

In [357]:
haiti.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2141 entries, 44 to 16024
Data columns (total 20 columns):
IRB_file_number     2141 non-null object
date_referred       2141 non-null datetime64[ns]
decision_date       2141 non-null datetime64[ns]
date_mailed         2141 non-null datetime64[ns]
language            2141 non-null object
intake_type         2141 non-null object
disposition_type    2141 non-null object
explanation         2141 non-null object
board_member        2141 non-null object
country             2141 non-null object
gender              2141 non-null object
category            1934 non-null object
type                1934 non-null object
location            2141 non-null object
residence_prov      2141 non-null object
head_of_family      2141 non-null object
associated_file     392 non-null object
counsel             2052 non-null object
processing_time     2141 non-null timedelta64[ns]
decision_year       2141 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 225.8+ KB

In [358]:
haiti_outcomes = pd.pivot_table(haiti, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [359]:
haiti_outcomes["Total"] = haiti_outcomes.sum(axis =1)

In [360]:
haiti_outcomes["Rate_Pos"] = haiti_outcomes["Positive"]/haiti_outcomes["Total"]

The number of decisions made on claims from Haiti is relatively constant, but we see a big drop in the approval rate between 2016 and 2017.

In [361]:
haiti_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Rate_Pos
decision_year,,,,,,
2013,4.0,1.0,301.0,212.0,518.0,0.409266
2014,NaN,5.0,259.0,202.0,466.0,0.433476
2015,1.0,4.0,207.0,157.0,369.0,0.425474
2016,NaN,1.0,196.0,207.0,404.0,0.512376
2017,NaN,2.0,229.0,153.0,384.0,0.398438

## Nigeria

Giving Nigeria its own dataframe.

In [362]:
nigeria = decided[decided.country == "Nigeria"]

Almost one in four claims from Nigeria was made on the basis of sexual orientation. Close to two-thirds of those were from bisexuals. But notably there were also a significant number based on female genital mutilation and domestic violence.

In [363]:
nigeria.category.value_counts()

Particular Social Group  Sexual Orientation    1500
Particular Social Group  Gender_Age            1132
No Nexus _ Criminality_Corruption               355
Religion                                        287
Particular Social Group  Varied_Other            83
Political Opinion  Activism                      70
Political Opinion  Organization                  58
No Nexus  Varied_Other                           41
Political Opinion  Varied_Other                  33
Race_Ethnicity                                   15
Political Opinion _ State Policy Issues           2
Political Opinion  Military Service               1
Name: category, dtype: int64

In [364]:
nigeria.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3824 entries, 289 to 16155
Data columns (total 20 columns):
IRB_file_number     3824 non-null object
date_referred       3824 non-null datetime64[ns]
decision_date       3824 non-null datetime64[ns]
date_mailed         3824 non-null datetime64[ns]
language            3824 non-null object
intake_type         3824 non-null object
disposition_type    3824 non-null object
explanation         3824 non-null object
board_member        3824 non-null object
country             3824 non-null object
gender              3824 non-null object
category            3577 non-null object
type                3577 non-null object
location            3824 non-null object
residence_prov      3824 non-null object
head_of_family      3824 non-null object
associated_file     661 non-null object
counsel             3726 non-null object
processing_time     3824 non-null timedelta64[ns]
decision_year       3824 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 403.3+ KB

In [365]:
nigeria.type.value_counts()

Bisexual                                                                     966
Female Genital Mutilation (FGM)                                              516
Female   Domestic violence                                                   374
Varied/Other                                                                 354
Gay                                                                          305
Lesbian                                                                      155
Personal vendetta/Family feud                                                148
Christian                                                                    118
Female   Forced marriage                                                     104
Traditional                                                                   88
Female   Other                                                                79
Witness/Victim of Organized crime                                             45
Witness/Victim of radical fundamentalist group                                42
Witness/Victim of Common crime                                                41
Chieftaincy Issues                                                            35
Anti government                                                               30
Witness/Victim of State agents                                                25
Widowhood rites                                                               24
Movement for the Actualization of the Sovereign State of Biafra (MASSOB),     22
Female   Non domestic sexual violence                                         21
Witness/Victim of Guerrilla/Rebels                                            20
Fear is unspecified/unclear                                                   19
Peoples Democratic Party (PDP)                                                18
Male   Other                                                                  14
Journalist (Print/Radio/TV)                                                    5
Ogoni/Ogboni                                                                   3
Academics/Artists/Intellectuals                                                2
Oodua People's Congress (OPC)                                                  2
Trade/Labour unionist                                                          1
Anti poverty/Community activist/NGO                                            1
Name: type, dtype: int64

Taking a closer look at sexual orientation claims from Nigeria.

In [366]:
nigeria_orient = nigeria[nigeria.category == "Particular Social Group  Sexual Orientation"]

In [367]:
nigeria_orient_outcomes = pd.pivot_table(nigeria_orient, index="decision_year", columns="explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [368]:
nigeria_orient_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                            4        45        54
2014                            6        66       115
2015                           26        85       192
2016                           13       180       235
2017                            4       160       315

In [369]:
nigeria_orient_outcomes["Total"] = nigeria_orient_outcomes.sum(axis=1)

In [370]:
nigeria_orient_outcomes["Rate_Pos"] =  nigeria_orient_outcomes["Positive"]/nigeria_orient_outcomes["Total"]

The number of sexual orientation claims from Nigeria has more than quadrupled since 2013. In 2017 by the end of Sept there were already more claims than in all of 2016. And in 2017, almost two-thirds were positive.

In [371]:
nigeria_orient_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total  Rate_Pos
decision_year
2013                            4        45        54    103  0.524272
2014                            6        66       115    187  0.614973
2015                           26        85       192    303  0.633663
2016                           13       180       235    428  0.549065
2017                            4       160       315    479  0.657620

## Turkey

Giving Turkey its own dataframe.

In [372]:
turkey = decided[decided.country =="Turkey"]

In [373]:
turkey.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2301 entries, 1084 to 16200
Data columns (total 20 columns):
IRB_file_number     2301 non-null object
date_referred       2301 non-null datetime64[ns]
decision_date       2301 non-null datetime64[ns]
date_mailed         2301 non-null datetime64[ns]
language            2301 non-null object
intake_type         2301 non-null object
disposition_type    2301 non-null object
explanation         2301 non-null object
board_member        2301 non-null object
country             2301 non-null object
gender              2301 non-null object
category            2136 non-null object
type                2136 non-null object
location            2301 non-null object
residence_prov      2301 non-null object
head_of_family      2301 non-null object
associated_file     418 non-null object
counsel             2233 non-null object
processing_time     2301 non-null timedelta64[ns]
decision_year       2301 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 242.7+ KB

Claims from Turkey are generally from Kurds or are political in nature.

In [374]:
turkey.category.value_counts()

Race_Ethnicity                                 577
Political Opinion  Organization                568
Political Opinion  Activism                    421
Religion                                       149
Political Opinion  Varied_Other                142
Particular Social Group  Sexual Orientation    107
Particular Social Group  Gender_Age             47
Political Opinion  Military Service             38
Particular Social Group  Varied_Other           36
No Nexus _ Criminality_Corruption               24
Political Opinion _ State Policy Issues         18
No Nexus  Varied_Other                           9
Name: category, dtype: int64

In [375]:
turkey.type.value_counts()

Varied/Other                                      714
Alevi Kurd                                        370
Anti government                                   216
Hizmet (Gulen) Movement                           201
Kurd                                              194
Alevi                                             109
Gay                                                82
Female   Domestic violence                         34
Democratic People's Party (DEHAP/HADEP)            33
Academics/Artists/Intellectuals                    27
Evasion                                            20
State employee / Appointee / Police / Military     20
Lesbian                                            16
Christian                                          16
Student activist/organizer                         11
Personal vendetta/Family feud                      10
Journalist (Print/Radio/TV)                         9
Witness/Victim of Organized crime                   7
Female   Forced marriage                            5
Fear is unspecified/unclear                         4
Generalized risk                                    4
Kongra Gel (PKK/KADEK)                              4
Anti poverty/Community activist/NGO                 4
Female   Other                                      4
Bisexual                                            4
Witness/Victim of State agents                      4
Male   Other                                        3
Desertion                                           2
Militant left wing (DHKP/C/TKP/ML/TKEP/MLPK)        2
Palestinian                                         2
Trade/Labour unionist                               1
Hazaras                                             1
Witness/Victim of radical fundamentalist group      1
Witness/Victim of Guerrilla/Rebels                  1
Female   Non domestic sexual violence               1
Name: type, dtype: int64

In [376]:
turk_kurd = turkey[(turkey.type == "Alevi Kurd") | (turkey.type == "Kurd")]

In [377]:
kurd = pd.pivot_table(turk_kurd, index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [378]:
kurd.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                          1.0      65.0      74.0
2014                          2.0      44.0      78.0
2015                          2.0      32.0      45.0
2016                          NaN      19.0      94.0
2017                          NaN      23.0      85.0

In [379]:
kurd["Total"] = kurd.sum(axis=1)

In [380]:
kurd["Rate_Pos"] = kurd["Positive"]/kurd["Total"]

The number of claims from Kurds that have been decided has been pretty constant. Percentage approved has increased significantly.

In [381]:
kurd.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total  Rate_Pos
decision_year
2013                          1.0      65.0      74.0  140.0  0.528571
2014                          2.0      44.0      78.0  124.0  0.629032
2015                          2.0      32.0      45.0   79.0  0.569620
2016                          NaN      19.0      94.0  113.0  0.831858
2017                          NaN      23.0      85.0  108.0  0.787037

Isolating political claims from Turkey to look at acceptance rates and changes over the years.

In [382]:
turkey_pol = turkey[(turkey.category == "Political Opinion  Organization") | (turkey.category == "Political Opinion  Activism") | (turkey.category == "Political Opinion  Varied_Other") ]

In [383]:
turkey_pol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1131 entries, 2846 to 16200
Data columns (total 20 columns):
IRB_file_number     1131 non-null object
date_referred       1131 non-null datetime64[ns]
decision_date       1131 non-null datetime64[ns]
date_mailed         1131 non-null datetime64[ns]
language            1131 non-null object
intake_type         1131 non-null object
disposition_type    1131 non-null object
explanation         1131 non-null object
board_member        1131 non-null object
country             1131 non-null object
gender              1131 non-null object
category            1131 non-null object
type                1131 non-null object
location            1131 non-null object
residence_prov      1131 non-null object
head_of_family      1131 non-null object
associated_file     228 non-null object
counsel             1114 non-null object
processing_time     1131 non-null timedelta64[ns]
decision_year       1131 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 119.3+ KB

In [384]:
turkey_pol.type.value_counts()

Varied/Other                                      603
Anti government                                   216
Hizmet (Gulen) Movement                           201
Democratic People's Party (DEHAP/HADEP)            33
Academics/Artists/Intellectuals                    27
State employee / Appointee / Police / Military     20
Student activist/organizer                         11
Journalist (Print/Radio/TV)                         9
Kongra Gel (PKK/KADEK)                              4
Anti poverty/Community activist/NGO                 4
Militant left wing (DHKP/C/TKP/ML/TKEP/MLPK)        2
Trade/Labour unionist                               1
Name: type, dtype: int64

In [385]:
turk_pol_outcomes = pd.pivot_table(turkey_pol, index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero )

In [386]:
turk_pol_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                          NaN      12.0      21.0
2014                          1.0      16.0      35.0
2015                          1.0      10.0      34.0
2016                          1.0      28.0     231.0
2017                          NaN      68.0     673.0

In [387]:
turk_pol_outcomes["Total"] = turk_pol_outcomes.sum(axis=1)

In [388]:
turk_pol_outcomes["Rate_Pos"] = turk_pol_outcomes["Positive"]/turk_pol_outcomes["Total"]

Political claims from Turkey have increased significantly in the last year as have acceptance rates. Political claims are mainly what's driving the increase in refugee claims from Turkey.

In [389]:
turk_pol_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive  Total  Rate_Pos
decision_year
2013                          NaN      12.0      21.0   33.0  0.636364
2014                          1.0      16.0      35.0   52.0  0.673077
2015                          1.0      10.0      34.0   45.0  0.755556
2016                          1.0      28.0     231.0  260.0  0.888462
2017                          NaN      68.0     673.0  741.0  0.908232

## US

Giving claims from the US their own dataframe. For the US we will examine all claims as well as just the ones the IRB has decided on.

In [390]:
us_all = all_claims[all_claims.country == "United States of America"]

In [391]:
us_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 732 entries, 60 to 16256
Data columns (total 20 columns):
IRB_file_number     732 non-null object
date_referred       732 non-null datetime64[ns]
decision_date       732 non-null datetime64[ns]
date_mailed         732 non-null datetime64[ns]
language            732 non-null object
intake_type         732 non-null object
disposition_type    732 non-null object
explanation         732 non-null object
board_member        704 non-null object
country             732 non-null object
gender              732 non-null object
category            354 non-null object
type                354 non-null object
location            732 non-null object
residence_prov      732 non-null object
head_of_family      732 non-null object
associated_file     63 non-null object
counsel             512 non-null object
processing_time     732 non-null timedelta64[ns]
decision_year       732 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 77.2+ KB

In [392]:
us_all.category.value_counts()

No Nexus _ Criminality_Corruption              93
Particular Social Group  Gender_Age            79
No Nexus  Varied_Other                         58
Political Opinion  Activism                    37
Race_Ethnicity                                 24
Religion                                       21
Political Opinion  Varied_Other                11
Political Opinion  Organization                 9
Particular Social Group  Sexual Orientation     8
Particular Social Group  Varied_Other           8
Political Opinion _ State Policy Issues         5
Political Opinion  Military Service             1
Name: category, dtype: int64

In [393]:
us = decided[decided.country == "United States of America"]

In [394]:
us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 527 entries, 256 to 16251
Data columns (total 20 columns):
IRB_file_number     527 non-null object
date_referred       527 non-null datetime64[ns]
decision_date       527 non-null datetime64[ns]
date_mailed         527 non-null datetime64[ns]
language            527 non-null object
intake_type         527 non-null object
disposition_type    527 non-null object
explanation         527 non-null object
board_member        527 non-null object
country             527 non-null object
gender              527 non-null object
category            285 non-null object
type                285 non-null object
location            527 non-null object
residence_prov      527 non-null object
head_of_family      527 non-null object
associated_file     41 non-null object
counsel             413 non-null object
processing_time     527 non-null timedelta64[ns]
decision_year       527 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 55.6+ KB

In [395]:
us_all.type.value_counts()

Varied/Other                                         79
Female   Domestic violence                           47
Fear is unspecified/unclear                          34
Witness/Victim of Organized crime                    31
Anti government                                      28
Witness/Victim of Common crime                       21
Personal vendetta/Family feud                        10
Female   Other                                       10
Witness/Victim of State agents                       10
Female   Non domestic sexual violence                 8
Afro American                                         8
Child abuse                                           7
Palestinian                                           5
Democratic Party of Albania (DP  DPSH)                4
Female Genital Mutilation (FGM)                       4
Gay                                                   3
Witness/Victim of Guerrilla/Rebels                    3
Christian                                             3
Bisexual                                              3
Muslim  Sunni                                         3
Muslim   Sunni                                        2
Blood feud                                            2
State employee / Appointee / Police / Military        2
Anti poverty/Community activist/NGO                   2
Generalized risk                                      2
Forced recruitment/collusion by gangs                 1
Christian  Other                                      1
Student activist/organizer                            1
Journalist (Print/Radio/TV)                           1
Muslim                                                1
Witness/Survivor of Genocide                          1
Alevi                                                 1
Female   Forced marriage                              1
Ahmadi (unspecified)                                  1
Witness/Victim of Chimeres                            1
Pentecostal                                           1
Lesbian                                               1
Economic migrant                                      1
Hamas                                                 1
Tutsi                                                 1
Roma                                                  1
Assembly of Progressive National Democrats (RDNP)     1
Female   Honour killing                               1
Land dispute                                          1
Female/Dress code/Headscarf                           1
Collaborator/Informer   Security service              1
Alevi Kurd                                            1
Witness/Victim of Paramilitary                        1
Name: type, dtype: int64

In [396]:
us_all_years = pd.pivot_table(us_all, index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [397]:
us_all_years.head()

explanation,Abandoned,Administrative,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,
2013,13.0,1.0,2.0,156.0,3.0,41.0
2014,13.0,1.0,3.0,118.0,1.0,31.0
2015,9.0,NaN,2.0,78.0,3.0,21.0
2016,4.0,NaN,1.0,65.0,2.0,25.0
2017,12.0,1.0,2.0,89.0,2.0,33.0

In [398]:
us_all_years["Total"] = us_all_years.sum(axis=1)

Claims from the US had been dropping off, but they picked up again this year.

In [399]:
us_all_years.head()

explanation,Abandoned,Administrative,Neg. No Cred Basis,Negative,Positive,Withdrawn,Total
decision_year,,,,,,,
2013,13.0,1.0,2.0,156.0,3.0,41.0,216.0
2014,13.0,1.0,3.0,118.0,1.0,31.0,167.0
2015,9.0,NaN,2.0,78.0,3.0,21.0,113.0
2016,4.0,NaN,1.0,65.0,2.0,25.0,97.0
2017,12.0,1.0,2.0,89.0,2.0,33.0,139.0

In [400]:
us_outcomes = pd.pivot_table(us, index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [401]:
us_outcomes.head()

explanation    Neg. No Cred Basis  Negative  Positive
decision_year
2013                            2       156         3
2014                            3       118         1
2015                            2        78         3
2016                            1        65         2
2017                            2        89         2

In [402]:
us_pos = us_all[us_all.explanation == "Positive"]

There were 11 claims from the US that were accepted over this time period. Some of these may not in fact be from the US as the country field here is as it's first entered by the IRCC or CBSA officer. It sometimes changes. Three were anti-government, two were organized crime related, one gay person and one Ahmadi Muslim.

In [403]:
us_pos.head(12)

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel,processing_time,decision_year
2820,MB1-06534,2011-11-14,2013-01-16,2013-01-19,E,First Time Referral,Final Decision,Positive,"BYCZAK, MICHEL A. (BYCZ M)",United States of America,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"ROA SANCHEZ, Carolina",432 days,2013
12568,TB2-02162,2012-02-16,2013-06-05,2013-06-12,E,First Time Referral,Final Decision,Positive,"COTE, MAUDE",United States of America,F,Political Opinion Activism,Anti government,"Toronto, ON",Ontario,N,NaN,"BHARDWAJ, PAMILA",482 days,2013
18563,VB1-01019,2011-04-08,2013-11-27,2013-11-29,E,Federal Return,Final Decision,Positive,"DHILLON, BARRY (DHIL V)",United States of America,F,NaN,NaN,"Saskatoon, SK",Saskatchewan,Y,NaN,"VEEMAN, Christopher",966 days,2013
415,MB0-06888,2010-11-19,2014-01-14,2014-01-27,F,De Novo,Final Decision,Positive,"BOURQUE, RENEE (BOUR)",United States of America,F,NaN,NaN,"Montreal, QC",Quebec,Y,MB0-06889,"Markaki, Styliani",1165 days,2014
848,MB2-04652,2012-08-23,2015-01-28,2015-02-26,F,First Time Referral,Final Decision,Positive,"JACQUES, Darin",United States of America,M,Political Opinion Activism,Anti government,"Montreal, QC",Quebec,N,NaN,"VENTURELLI, SABINE",917 days,2015
849,MB2-04653,2012-08-23,2015-01-28,2015-02-26,F,First Time Referral,Final Decision,Positive,"JACQUES, Darin",United States of America,F,Political Opinion Activism,Anti government,"Montreal, QC",Quebec,N,NaN,"VENTURELLI, SABINE",917 days,2015
11171,TB5-04421,2015-05-01,2015-07-22,2015-09-15,E,First Time Referral,Final Decision,Positive,"PEARSON, HEATHER",United States of America,F,Religion,Ahmadi (unspecified),"Toronto, ON",Ontario,N,NaN,"ROSENBLATT, LISA",137 days,2015
3052,MB6-02139,2016-04-22,2016-11-07,2016-11-25,F,First Time Referral,Final Decision,Positive,"ATALLAH, Sherif",United States of America,F,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Montreal, QC",Quebec,Y,MB6-02140,"BARRAZA, GISELA",217 days,2016
3053,MB6-02140,2016-04-22,2016-11-07,2016-11-25,F,First Time Referral,Final Decision,Positive,"ATALLAH, Sherif",United States of America,M,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Montreal, QC",Quebec,N,NaN,"BARRAZA, GISELA",217 days,2016
6321,TB6-09281,2016-07-14,2016-12-21,2017-01-16,E,First Time Referral,Final Decision,Positive,"BAFARO, ROBERT",United States of America,M,Particular Social Group Sexual Orientation,Gay,"Toronto, ON",Ontario,N,NaN,"AKHBARI, M. Mary",186 days,2017
10280,TB7-01752,2017-01-29,2017-03-27,2017-03-27,E,First Time Referral,Final Decision,Positive,"CARTY, MAUREEN",United States of America,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"LEXCHIN, ESTHER",57 days,2017

In [404]:
us_pos.to_csv("us_pos.csv")

In [405]:
us_pos.type.value_counts()

Anti government                      3
Witness/Victim of Organized crime    2
Gay                                  1
Ahmadi (unspecified)                 1
Name: type, dtype: int64

In [406]:
us_all.residence_prov.value_counts()

Ontario                      348
Quebec                       234
British Columbia              87
Alberta                       35
Manitoba                      17
Saskatchewan                   5
New Brunswick                  4
Yukon                          1
Newfoundland and Labrador      1
Name: residence_prov, dtype: int64

## Claims from journalists

Which countries have the most claims from journalists and how successful are they?

In [407]:
journos = decided[decided.type =="Journalist (Print/Radio/TV)"]

In [408]:
journos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536 entries, 593 to 16179
Data columns (total 20 columns):
IRB_file_number     536 non-null object
date_referred       536 non-null datetime64[ns]
decision_date       536 non-null datetime64[ns]
date_mailed         536 non-null datetime64[ns]
language            536 non-null object
intake_type         536 non-null object
disposition_type    536 non-null object
explanation         536 non-null object
board_member        536 non-null object
country             536 non-null object
gender              536 non-null object
category            536 non-null object
type                536 non-null object
location            536 non-null object
residence_prov      536 non-null object
head_of_family      536 non-null object
associated_file     94 non-null object
counsel             525 non-null object
processing_time     536 non-null timedelta64[ns]
decision_year       536 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 56.5+ KB

Here are the countries with the most claims from journalists.

In [409]:
journos.country.value_counts()

Afghanistan                 66
Iraq                        47
Congo, Dem Rep (Zaire)      32
Venezuela                   29
Azerbaijan                  29
Pakistan                    28
Burundi                     27
Bangladesh                  24
Haiti                       22
Syria                       19
Ethiopia                    18
Sri Lanka                   15
Colombia                    14
Iran                        13
Somalia                     13
Ukraine                     12
Libya                       10
Turkey                       9
Mexico                       8
Nepal                        8
Egypt                        7
Kosovo                       6
Cameroon                     6
Palestine                    5
Nigeria                      5
Eritrea                      5
Israel                       5
Honduras                     4
India                        4
Indonesia                    4
Zimbabwe                     4
Congo (Brazzaville)          3
Sudan                        3
Rwanda                       3
Bolivia                      2
Mauritania                   2
Brazil                       2
Algeria                      2
Argentina                    2
Croatia                      2
France                       1
Lebanon                      1
Tunisia                      1
Uganda                       1
Korea R. (South)             1
Mongolia                     1
Georgia                      1
Ivory Coast                  1
Chad                         1
Ghana                        1
Russia                       1
Yemen                        1
United States of America     1
China                        1
Sierra Leone                 1
Jordan                       1
Ecuador                      1
Name: country, dtype: int64

In [410]:
journo_outcomes = pd.pivot_table(journos, index="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [411]:
journo_outcomes.fillna(0, inplace=True)

In [412]:
journo_outcomes.head()

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
decision_year
2013                          0.0                 3.0      13.0      54.0
2014                          0.0                 4.0      17.0      63.0
2015                          1.0                 4.0      21.0      72.0
2016                          1.0                 0.0      25.0     115.0
2017                         22.0                 1.0      18.0     102.0

In [413]:
journo_outcomes["Total"] = journo_outcomes.sum(axis=1)

In [414]:
journo_outcomes["Tot_Pos"] = journo_outcomes["Positive"].add(journo_outcomes["Expedited Positive"])

In [415]:
journo_outcomes["Rate_Pos"] = journo_outcomes["Tot_Pos"]/journo_outcomes["Total"]

In [416]:
journo_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,0.0,3.0,13.0,54.0,70.0,54.0,0.771429
2014,0.0,4.0,17.0,63.0,84.0,63.0,0.750000
2015,1.0,4.0,21.0,72.0,98.0,73.0,0.744898
2016,1.0,0.0,25.0,115.0,141.0,116.0,0.822695
2017,22.0,1.0,18.0,102.0,143.0,124.0,0.867133

In [417]:
journo_countries = pd.pivot_table(journos, index = "country", columns = "decision_year", values="IRB_file_number", aggfunc=np.count_nonzero)

In [418]:
journo_countries.head()

decision_year  2013  2014  2015  2016  2017
country
Afghanistan    12.0  12.0   7.0  21.0  14.0
Algeria         NaN   NaN   2.0   NaN   NaN
Argentina       NaN   NaN   NaN   2.0   NaN
Azerbaijan      3.0   NaN   3.0  15.0   8.0
Bangladesh      1.0   5.0   4.0  13.0   1.0

In [419]:
journo_countries["Total"] = journo_countries.sum(axis=1)

The increase in claims from journalists in 2017 seems to be mainly driven by claims from Iraq and Burundi.

In [420]:
journo_countries.sort_values("Total", ascending=False)

decision_year             2013  2014  2015  2016  2017  Total
country
Afghanistan               12.0  12.0   7.0  21.0  14.0   66.0
Iraq                       NaN   2.0   1.0  19.0  25.0   47.0
Congo, Dem Rep (Zaire)     7.0   9.0   7.0   4.0   5.0   32.0
Azerbaijan                 3.0   NaN   3.0  15.0   8.0   29.0
Venezuela                  1.0   3.0  11.0   9.0   5.0   29.0
Pakistan                   2.0   4.0  11.0   9.0   2.0   28.0
Burundi                    4.0   3.0   NaN   3.0  17.0   27.0
Bangladesh                 1.0   5.0   4.0  13.0   1.0   24.0
Haiti                      1.0   3.0   6.0   4.0   8.0   22.0
Syria                      NaN   5.0  10.0   2.0   2.0   19.0
Ethiopia                   2.0   NaN   7.0   4.0   5.0   18.0
Sri Lanka                  9.0   NaN   3.0   1.0   2.0   15.0
Colombia                   5.0   3.0   2.0   NaN   4.0   14.0
Somalia                    1.0   2.0   2.0   3.0   5.0   13.0
Iran                       9.0   2.0   NaN   NaN   2.0   13.0
Ukraine                    NaN   5.0   6.0   NaN   1.0   12.0
Libya                      NaN   NaN   2.0   8.0   NaN   10.0
Turkey                     NaN   3.0   NaN   2.0   4.0    9.0
Nepal                      2.0   NaN   2.0   3.0   1.0    8.0
Mexico                     3.0   3.0   2.0   NaN   NaN    8.0
Egypt                      1.0   5.0   NaN   NaN   1.0    7.0
Cameroon                   NaN   2.0   2.0   2.0   NaN    6.0
Kosovo                     NaN   1.0   4.0   NaN   1.0    6.0
Palestine                  NaN   NaN   NaN   NaN   5.0    5.0
Nigeria                    1.0   NaN   NaN   NaN   4.0    5.0
Israel                     NaN   NaN   NaN   5.0   NaN    5.0
Eritrea                    NaN   2.0   NaN   NaN   3.0    5.0
Indonesia                  NaN   NaN   NaN   NaN   4.0    4.0
Honduras                   2.0   1.0   NaN   1.0   NaN    4.0
India                      NaN   NaN   NaN   NaN   4.0    4.0
Zimbabwe                   NaN   NaN   1.0   1.0   2.0    4.0
Rwanda                     1.0   1.0   NaN   1.0   NaN    3.0
Sudan                      NaN   NaN   NaN   1.0   2.0    3.0
Congo (Brazzaville)        NaN   1.0   NaN   NaN   2.0    3.0
Croatia                    1.0   NaN   1.0   NaN   NaN    2.0
Argentina                  NaN   NaN   NaN   2.0   NaN    2.0
Mauritania                 NaN   NaN   NaN   1.0   1.0    2.0
Bolivia                    NaN   NaN   NaN   2.0   NaN    2.0
Brazil                     1.0   NaN   1.0   NaN   NaN    2.0
Algeria                    NaN   NaN   2.0   NaN   NaN    2.0
China                      NaN   NaN   NaN   1.0   NaN    1.0
Yemen                      NaN   1.0   NaN   NaN   NaN    1.0
United States of America   NaN   NaN   NaN   1.0   NaN    1.0
Uganda                     NaN   1.0   NaN   NaN   NaN    1.0
Tunisia                    NaN   1.0   NaN   NaN   NaN    1.0
Chad                       NaN   NaN   1.0   NaN   NaN    1.0
Korea R. (South)           NaN   NaN   NaN   NaN   1.0    1.0
Jordan                     NaN   NaN   NaN   NaN   1.0    1.0
Russia                     NaN   1.0   NaN   NaN   NaN    1.0
Ecuador                    NaN   1.0   NaN   NaN   NaN    1.0
Ivory Coast                NaN   NaN   NaN   1.0   NaN    1.0
France                     NaN   NaN   NaN   NaN   1.0    1.0
Mongolia                   NaN   1.0   NaN   NaN   NaN    1.0
Georgia                    1.0   NaN   NaN   NaN   NaN    1.0
Ghana                      NaN   1.0   NaN   NaN   NaN    1.0
Lebanon                    NaN   NaN   NaN   1.0   NaN    1.0
Sierra Leone               NaN   NaN   NaN   1.0   NaN    1.0

## Processing Times

In [421]:
decided.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel,processing_time,decision_year
0,MA1-10606,2001-10-15,2013-02-13,2013-02-15,F,Reopening,Final Decision,Positive,"BEAUQUIER, Jean-Pierre","Congo, Dem Rep (Zaire)",M,NaN,NaN,"Ottawa, ON",Ontario,Y,NaN,"KASHONGWE, KAKOMIRE",4141 days,2013
1,MA6-07434,2006-10-25,2013-01-04,2013-02-15,E,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,Y,MA6-07435/MA6-07436/MA6-07437,"SLOAN, William",2305 days,2013
2,MA6-07435,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days,2013
3,MA6-07436,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days,2013
4,MA6-07437,2006-10-25,2013-01-04,2013-02-15,F,Federal Return,Final Decision,Negative,"BYCZAK, MICHEL A. (BYCZ M)",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"SLOAN, William",2305 days,2013

Decided cases by processing time sorted from longest to shortest. In the first three cases there is a pretty massive discrepancy between the date the claim was decided and when it was mailed. Should check if these are mistakes. But some of the other ones took as many as 13 years to decide.

In [422]:
decided.sort_values("processing_time", ascending=False)

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel,processing_time,decision_year
6211,T90-07434,1990-09-18,1991-04-11,2013-03-08,E,First Time Referral,Final Decision,Expedited Positive,"REFORD, ROBERT (REFO T)",Somalia,M,NaN,NaN,"Toronto I, ON",Ontario,Y,NaN,NaN,8207 days,2013
18349,U93-06532,1993-03-26,1993-08-31,2013-03-08,E,First Time Referral,Final Decision,Expedited Positive,"THOMAS, BARRY (THOS T)",Sri Lanka,M,NaN,NaN,"Toronto, ON",Ontario,Y,NaN,"BRUCH, NICHOLAS",7287 days,2013
0,MA1-01410,2001-02-15,2001-09-19,2014-12-04,F,First Time Referral,Final Decision,Positive,"LAPOMMERAY, JACQUES",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,Y,NaN,"ARPIN, DANIELLE",5040 days,2014
6212,TA1-06402,2001-04-10,2013-01-08,2013-01-16,E,Undefined Secondary Intake,Final Decision,Negative,"PETTINELLA, M.",Hungary,M,NaN,NaN,"Toronto, ON",Ontario,Y,TA1-06403/TA1-06404,"Sribanan, Dushahi",4299 days,2013
6214,TA1-06404,2001-04-10,2013-01-08,2013-01-16,E,Undefined Secondary Intake,Final Decision,Negative,"PETTINELLA, M.",Hungary,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"Sribanan, Dushahi",4299 days,2013
6213,TA1-06403,2001-04-10,2013-01-08,2013-01-16,E,Undefined Secondary Intake,Final Decision,Negative,"PETTINELLA, M.",Hungary,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"Sribanan, Dushahi",4299 days,2013
0,MA1-10606,2001-10-15,2013-02-13,2013-02-15,F,Reopening,Final Decision,Positive,"BEAUQUIER, Jean-Pierre","Congo, Dem Rep (Zaire)",M,NaN,NaN,"Ottawa, ON",Ontario,Y,NaN,"KASHONGWE, KAKOMIRE",4141 days,2013
6215,TA3-17408,2003-08-27,2013-06-12,2013-06-13,E,Federal Return,Final Decision,Positive,"SHEPHERD, HAROLD",Costa Rica,F,Particular Social Group Gender_Age,Female Domestic violence,"Toronto, ON",Ontario,Y,TA3-17409,"SAPRU, PREEVANDA",3578 days,2013
6216,TA3-17409,2003-08-27,2013-06-12,2013-06-13,E,Federal Return,Final Decision,Positive,"SHEPHERD, HAROLD",Costa Rica,F,Particular Social Group Gender_Age,Female Domestic violence,"Toronto, ON",Ontario,N,NaN,"SAPRU, PREEVANDA",3578 days,2013
4689,TA6-04805,2006-04-11,2015-10-01,2015-11-04,E,Application Allowed,Final Decision,Positive,"GOFF, DECHEN",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"ANANI, LINA",3494 days,2015
2,MA7-08468,2007-12-01,2017-05-01,2017-05-04,F,Federal Return,Final Decision,Positive,"JAM, JEAN-GUY",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"Cumplido, Fanny",3442 days,2017
0,MA7-08466,2007-12-01,2017-05-01,2017-05-04,F,Federal Return,Final Decision,Positive,"JAM, JEAN-GUY",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,Y,MA7-08467/MA7-08468/MA7-08469,"Cumplido, Fanny",3442 days,2017
1,MA7-08467,2007-12-01,2017-05-01,2017-05-04,F,Federal Return,Final Decision,Positive,"JAM, JEAN-GUY",Mexico,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"Cumplido, Fanny",3442 days,2017
3,MA7-08469,2007-12-01,2017-05-01,2017-05-04,F,Federal Return,Final Decision,Positive,"JAM, JEAN-GUY",Mexico,M,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"Cumplido, Fanny",3442 days,2017
4690,TA6-07394,2006-06-11,2015-10-01,2015-11-04,E,Application Allowed,Final Decision,Positive,"GOFF, DECHEN",Mexico,F,Particular Social Group Gender_Age,Female Domestic violence,"Toronto, ON",Ontario,Y,TA6-04805/TA6-07395,"ANANI, LINA",3433 days,2015
4691,TA6-07395,2006-06-11,2015-10-01,2015-11-04,E,Application Allowed,Final Decision,Positive,"GOFF, DECHEN",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"ANANI, LINA",3433 days,2015
18350,VA4-00778,2004-03-29,2013-06-07,2013-07-03,E,Application Allowed,Final Decision,Positive,"AZMUDEH, NEGAR (AZMU V)",El Salvador,F,NaN,NaN,"Vancouver, BC",British Columbia,Y,VB2-03043,"ANDREWS, EMMA",3383 days,2013
4695,TA8-03803,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,Y,TA8-03804/TA8-03805/TA8-03806/TA8-03807/TA8-03...,"STOTHERS, SIMONE",3114 days,2015
4700,TA8-03808,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4696,TA8-03804,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4697,TA8-03805,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4698,TA8-03806,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4699,TA8-03807,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4701,TA8-03809,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4703,TA8-03811,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4704,TA8-03812,2007-04-18,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3114 days,2015
4702,TA8-03810,2007-04-19,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3113 days,2015
4705,TA8-03813,2007-04-19,2015-10-14,2015-10-27,E,First Time Referral,Final Decision,Negative,"MCBEAN, DAVID",Mexico,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"STOTHERS, SIMONE",3113 days,2015
4,MA8-15250,2008-11-14,2017-05-02,2017-05-18,F,Federal Return,Final Decision,Positive,"BEAUQUIER, Jean-Pierre",Colombia,M,No Nexus _ Criminality_Corruption,Varied/Other,"Montreal, QC",Quebec,N,NaN,"ROA SANCHEZ, Carolina",3107 days,2017
7,MA8-15294,2008-11-14,2017-05-02,2017-05-18,F,Federal Return,Final Decision,Positive,"BEAUQUIER, Jean-Pierre",Colombia,M,No Nexus _ Criminality_Corruption,Varied/Other,"Montreal, QC",Quebec,N,NaN,"ROA SANCHEZ, Carolina",3107 days,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10742,TB7-02894,2017-02-13,2017-03-15,2017-03-17,E,First Time Referral,Final Decision,Expedited Positive,"MEKHAEL, RANDA",Eritrea,F,Political Opinion Military Service,Desertion,"Toronto, ON",Ontario,Y,NaN,"VANDERVENNEN, PAUL",32 days,2017
16191,VB5-03491,2015-11-15,2015-12-15,2015-12-16,E,First Time Referral,Final Decision,Expedited Positive,"DAVIDSON, JESSE",Syria,F,Political Opinion Activism,Anti government,"Winnipeg, MB",Manitoba,Y,NaN,"MATAS, DAVID",31 days,2015
16282,TB4-06680,2014-07-22,2014-08-22,2014-08-22,E,First Time Referral,Final Decision,Negative,"LLOYD, BRENDA",Poland,F,Particular Social Group Sexual Orientation,Lesbian,"Toronto, ON",Ontario,Y,NaN,"EDOH, ROBIN",31 days,2014
16191,VB7-03561,2017-06-30,2017-07-27,2017-07-31,E,First Time Referral,Final Decision,Negative,"FOX, MICHAL",Mexico,M,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Vancouver, BC",British Columbia,Y,VB7-03571/VB7-03573/VB7-03574/VB7-03575,"ANDREWS, EMMA",31 days,2017
20465,VB3-01551,2013-07-09,2013-07-30,2013-08-09,E,First Time Referral,Final Decision,Negative,"DAVIDSON, JESSE",Croatia,F,Race_Ethnicity,Varied/Other,"Edmonton, AB",Alberta,N,NaN,NaN,31 days,2013
9328,TB6-02617,2016-02-22,2016-03-09,2016-03-24,E,First Time Referral,Final Decision,Positive,"MEKHAEL, RANDA",Nigeria,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"DADEPO, MERCY",31 days,2016
9326,TB6-02615,2016-02-22,2016-03-09,2016-03-24,E,First Time Referral,Final Decision,Positive,"MEKHAEL, RANDA",Nigeria,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,NaN,31 days,2016
16192,VB7-03571,2017-06-30,2017-07-27,2017-07-31,E,First Time Referral,Final Decision,Negative,"FOX, MICHAL",Mexico,F,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Vancouver, BC",British Columbia,N,NaN,"ANDREWS, EMMA",31 days,2017
16193,VB7-03573,2017-06-30,2017-07-27,2017-07-31,E,First Time Referral,Final Decision,Negative,"FOX, MICHAL",Mexico,M,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Vancouver, BC",British Columbia,N,NaN,"ANDREWS, EMMA",31 days,2017
9327,TB6-02616,2016-02-22,2016-03-09,2016-03-24,E,First Time Referral,Final Decision,Positive,"MEKHAEL, RANDA",Nigeria,F,NaN,NaN,"Toronto, ON",Ontario,N,NaN,NaN,31 days,2016
16194,VB7-03574,2017-06-30,2017-07-27,2017-07-31,E,First Time Referral,Final Decision,Negative,"FOX, MICHAL",Mexico,F,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Vancouver, BC",British Columbia,N,NaN,"ANDREWS, EMMA",31 days,2017
16195,VB7-03575,2017-06-30,2017-07-27,2017-07-31,E,First Time Referral,Final Decision,Negative,"FOX, MICHAL",Mexico,F,No Nexus _ Criminality_Corruption,Witness/Victim of Organized crime,"Vancouver, BC",British Columbia,N,NaN,"ANDREWS, EMMA",31 days,2017
10759,TB5-03655,2015-04-11,2015-04-23,2015-05-11,E,First Time Referral,Final Decision,Positive,"POPATIA, BERZOOR",Hungary,M,Race_Ethnicity,Roma,"Toronto, ON",Ontario,N,NaN,"GRICE, JOHN",30 days,2015
4670,MB5-05093,2015-11-03,2015-11-16,2015-12-03,E,First Time Referral,Final Decision,Positive,"THIBAULT, MARIE-LYNE (THIM M)",Yemen,F,Political Opinion Varied_Other,Varied/Other,"Montreal, QC",Ontario,N,NaN,"ABUELHAIJA, THAER",30 days,2015
11362,TB7-04474,2017-03-06,2017-04-03,2017-04-04,E,First Time Referral,Final Decision,Negative,"LLOYD, BRENDA",Latvia,M,No Nexus Varied_Other,Fear is unspecified/unclear,"Toronto, ON",Ontario,Y,TB7-04490,NaN,29 days,2017
11370,TB7-04490,2017-03-06,2017-04-03,2017-04-04,E,First Time Referral,Final Decision,Negative,"LLOYD, BRENDA",Latvia,M,No Nexus Varied_Other,Fear is unspecified/unclear,"Toronto, ON",Ontario,N,NaN,NaN,29 days,2017
4667,MB5-05044,2015-11-10,2015-12-03,2015-12-08,E,First Time Referral,Final Decision,Expedited Positive,"SAINT-FLEUR, Love",Syria,F,Religion,Christian,"Montreal, QC",Quebec,Y,NaN,"BACHOUR, LOUAY",28 days,2015
19733,VB4-02625,2014-09-02,2014-09-26,2014-09-30,E,First Time Referral,Final Decision,Negative,"SCHMALZBAUER, JODIE",United States of America,M,Political Opinion Military Service,Varied/Other,"Winnipeg, MB",Manitoba,Y,NaN,NaN,28 days,2014
4458,MB5-04010,2015-09-11,2015-10-08,2015-10-09,F,First Time Referral,Final Decision,Expedited Positive,"SCHOEPFER, Jacqueline",Syria,F,Political Opinion Activism,Anti government,"Montreal, QC",Quebec,Y,NaN,"KARKAR, Anthony",28 days,2015
15834,VB5-02137,2015-07-22,2015-08-17,2015-08-19,E,First Time Referral,Final Decision,Negative,"YAMAUCHI, RON",United States of America,M,No Nexus _ Criminality_Corruption,Witness/Victim of State agents,"Vancouver, BC",British Columbia,Y,NaN,NaN,28 days,2015
14094,TB5-11877,2015-11-14,2015-12-10,2015-12-11,E,First Time Referral,Final Decision,Positive,"HART, LINDA",Kyrgyzstan,M,Race_Ethnicity,Varied/Other,"Toronto, ON",Ontario,N,NaN,"CINTOSUN, BRIAN IBRAHIM",27 days,2015
4673,MB5-05207,2015-11-18,2015-12-09,2015-12-10,E,First Time Referral,Final Decision,Expedited Positive,"SAINT-FLEUR, Love",Syria,F,Religion,Christian,"Montreal, QC",Ontario,Y,MB5-05208,"AZZI, Bassam",22 days,2015
4674,MB5-05208,2015-11-18,2015-12-09,2015-12-10,E,First Time Referral,Final Decision,Expedited Positive,"SAINT-FLEUR, Love",Syria,M,Religion,Christian,"Montreal, QC",Ontario,N,NaN,"AZZI, Bassam",22 days,2015
5269,MB4-02528,2014-07-03,2014-07-14,2014-07-25,E,First Time Referral,Final Decision,Positive,"SAINT-FLEUR, Love",Palestine,F,NaN,NaN,"Ottawa, ON",Ontario,N,NaN,NaN,22 days,2014
6145,MB3-03699,2013-10-04,2013-10-25,2013-10-25,F,First Time Referral,Final Decision,Positive,"LANGELIER, Michelle",Colombia,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"COLASURDO, JORGE J.",21 days,2013
19339,VB4-01474,2014-05-13,2014-05-23,2014-06-03,E,First Time Referral,Final Decision,Positive,"FABER, PAULA",Korea R. (South),M,Particular Social Group Sexual Orientation,Varied/Other,"Vancouver, BC",British Columbia,Y,NaN,"HUGHES, ROBERT",21 days,2014
6149,MB3-03706,2013-10-04,2013-10-25,2013-10-25,F,First Time Referral,Final Decision,Positive,"LANGELIER, Michelle",Colombia,F,NaN,NaN,"Montreal, QC",Quebec,N,NaN,"COLASURDO, JORGE J.",21 days,2013
9304,TB5-00995,2015-01-27,2015-02-11,2015-02-13,E,First Time Referral,Final Decision,Positive,"WONG, BING",Jamaica,M,NaN,NaN,"Toronto, ON",Ontario,N,NaN,"EDOH, ROBIN",17 days,2015
11012,TB5-04092,2015-04-23,2015-05-06,2015-05-08,E,First Time Referral,Final Decision,Positive,"FIGG, LOIS",Iraq,F,Religion,Christian,"Toronto, ON",Ontario,N,NaN,NaN,15 days,2015
6717,TB5-11814,NaT,2015-12-15,2016-01-07,NaN,First Time Referral,Final Decision,Positive,"YOUNG, DAVID",NaN,F,Particular Social Group Sexual Orientation,Lesbian,"Toronto, ON",Ontario,N,NaN,"HAMILTON, IAN",NaT,2016

## Datasets for specific regions

In [423]:
all_claims.residence_prov.value_counts()

Ontario                      58705
Quebec                       19304
Alberta                       5835
British Columbia              4178
Manitoba                       753
Saskatchewan                   337
Nova Scotia                    217
New Brunswick                   78
Newfoundland and Labrador       53
Prince Edward Island            25
Northwest Territories           21
Yukon                            8
Nunavut                          3
Name: residence_prov, dtype: int64

## Atlantic Canada

In [424]:
atlantic = all_claims[(all_claims.residence_prov == "New Brunswick") | (all_claims.residence_prov == "Prince Edward Island") | (all_claims.residence_prov == "Newfoundland and Labrador") | (all_claims.residence_prov == "Nova Scotia")]

In [425]:
atlantic.head()

,IRB_file_number,date_referred,decision_date,date_mailed,language,intake_type,disposition_type,explanation,board_member,country,gender,category,type,location,residence_prov,head_of_family,associated_file,counsel,processing_time,decision_year
30,MA8-06953,2008-06-24,2013-10-03,2013-10-11,E,First Time Referral,Final Decision,Positive,"ZICHERMAN, DORIS",Cuba,F,NaN,NaN,"Halifax, NS",Nova Scotia,Y,NaN,"REFUGEE CLINIC, HALIFAX",1935 days,2013
49,MA8-11655,2008-09-14,2013-09-25,2013-10-18,E,First Time Referral,Final Decision,Negative,"DOYLE, ELAINE",Mexico,M,NaN,NaN,"Saint John, NB",New Brunswick,Y,NaN,"DELONG, LARRY",1860 days,2013
144,MA9-02834,2009-01-14,2013-07-24,2013-07-29,E,First Time Referral,Final Decision,Positive,"BASMAJIAN, HAIG",Cuba,M,Political Opinion _ State Policy Issues,Overstayed Permit,"Halifax, NS",Nova Scotia,Y,NaN,"N-RÉMU. GREEN, LARA",1657 days,2013
476,MA9-08399,2008-09-19,2013-04-22,2013-04-24,E,First Time Referral,Final Decision,Withdrawn,NaN,Macedonia,M,Religion,Varied/Other,"Halifax, NS",Nova Scotia,Y,NaN,"COHEN, LEE",1678 days,2013
547,MA9-09153,2007-11-09,2013-10-03,2013-10-10,E,First Time Referral,Final Decision,Positive,"ZICHERMAN, DORIS",Romania,M,Race_Ethnicity,Roma,"Halifax, NS",Nova Scotia,Y,NaN,"REFUGEE CLINIC, HALIFAX",2162 days,2013

There were 373 refugee claimants over this time period who lived in Atlantic Canada. Most of them settled in Nova Scotia.

In [426]:
atlantic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373 entries, 30 to 11433
Data columns (total 20 columns):
IRB_file_number     373 non-null object
date_referred       373 non-null datetime64[ns]
decision_date       373 non-null datetime64[ns]
date_mailed         373 non-null datetime64[ns]
language            373 non-null object
intake_type         373 non-null object
disposition_type    373 non-null object
explanation         373 non-null object
board_member        366 non-null object
country             373 non-null object
gender              373 non-null object
category            303 non-null object
type                303 non-null object
location            373 non-null object
residence_prov      373 non-null object
head_of_family      373 non-null object
associated_file     60 non-null object
counsel             327 non-null object
processing_time     373 non-null timedelta64[ns]
decision_year       373 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 39.3+ KB

Which provinces did refugee claimants to Atlantic Canada settle in?

In [427]:
atlantic.residence_prov.value_counts()

Nova Scotia                  217
New Brunswick                 78
Newfoundland and Labrador     53
Prince Edward Island          25
Name: residence_prov, dtype: int64

Most live in Halifax.

In [428]:
atlantic.location.value_counts()

Halifax, NS           178
St. John's, NL         38
Saint John, NB         37
Montreal, QC           33
Fredericton, NB        25
Toronto, ON            22
Charlottetown, PEI     20
Gander, NL              4
Moncton, NB             4
Ottawa, ON              3
Vancouver, BC           3
ST. Stephen, NB         2
Calgary, AB             2
Edmonton, AB            1
ADRP                    1
Name: location, dtype: int64

Almost one in three refugees who settled in Atlantic Canada came from either Libya or Syria.

In [429]:
atlantic.country.value_counts()

Libya                       68
Syria                       40
Cuba                        18
Iran                        17
Kosovo                      16
Saudi Arabia                13
Cameroon                    11
Yemen                       11
Iraq                        10
Croatia                      8
Egypt                        7
Tunisia                      7
Honduras                     6
Guinea                       6
El Salvador                  5
Pakistan                     5
Ethiopia                     5
United States of America     5
Russia                       5
Unknown                      5
Korea R. (South)             5
Burundi                      5
Jordan                       4
Sudan                        4
Ukraine                      4
Kenya                        4
Nigeria                      4
Israel                       4
Mexico                       4
Afghanistan                  3
                            ..
Palestine                    2
Haiti                        2
Nicaragua                    2
Hungary                      2
Kuwait                       2
Chad                         2
Jamaica                      2
Serbia                       2
Uganda                       2
Morocco                      2
Ivory Coast                  1
Central African Rep          1
Lithuania                    1
Namibia                      1
Mauritania                   1
Ghana                        1
Zambia                       1
Guatemala                    1
Sri Lanka                    1
Liberia                      1
Qatar                        1
Saint Vincent                1
Philippines                  1
Macedonia                    1
Colombia                     1
Tanzania                     1
Romania                      1
Albania                      1
Benin                        1
Turkey                       1
Name: country, Length: 69, dtype: int64

The reasons refugees who came to Atlantic Canada fled their countries varied.

In [430]:
atlantic.category.value_counts()

Political Opinion  Activism                    51
Race_Ethnicity                                 49
No Nexus _ Criminality_Corruption              40
Particular Social Group  Gender_Age            39
Political Opinion  Varied_Other                37
Religion                                       34
Particular Social Group  Sexual Orientation    23
Political Opinion  Military Service             9
Particular Social Group  Varied_Other           7
No Nexus  Varied_Other                          7
Political Opinion  Organization                 6
Political Opinion _ State Policy Issues         1
Name: category, dtype: int64

In [431]:
atlantic_outcomes = pd.pivot_table(atlantic, index ="decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [432]:
atlantic_outcomes.head()

explanation,Abandoned,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,
2013,NaN,3.0,NaN,35.0,44.0,11.0
2014,4.0,NaN,1.0,30.0,48.0,5.0
2015,1.0,1.0,NaN,14.0,39.0,2.0
2016,NaN,7.0,NaN,13.0,62.0,4.0
2017,NaN,7.0,NaN,5.0,37.0,NaN

In [433]:
atlantic_outcomes.fillna(0, inplace=True)

In [434]:
del atlantic_outcomes["Abandoned"]

In [435]:
del atlantic_outcomes["Withdrawn"]

In [436]:
atlantic_outcomes["Total"] = atlantic_outcomes.sum(axis=1)

In [437]:
atlantic_outcomes["Tot_Pos"] = atlantic_outcomes["Positive"].add(atlantic_outcomes["Expedited Positive"])

In [438]:
atlantic_outcomes["Rate_Pos"] = atlantic_outcomes["Tot_Pos"]/atlantic_outcomes["Total"]

The acceptance rate of refugee claims in Atlantic Canada has climbed quite dramatically, albeit the numbers are quite small.

In [439]:
atlantic_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,3.0,0.0,35.0,44.0,82.0,47.0,0.573171
2014,0.0,1.0,30.0,48.0,79.0,48.0,0.607595
2015,1.0,0.0,14.0,39.0,54.0,40.0,0.740741
2016,7.0,0.0,13.0,62.0,82.0,69.0,0.841463
2017,7.0,0.0,5.0,37.0,49.0,44.0,0.897959

In [440]:
atlantic.to_csv("maritimes.csv", encoding="utf-8")

## Quebec

Giving Quebec its own dataframe

In [441]:
quebec = all_claims[all_claims.residence_prov == "Quebec"]

There were 19,304 refugee claimants who lived in Quebec.

In [442]:
quebec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19304 entries, 1 to 16214
Data columns (total 20 columns):
IRB_file_number     19304 non-null object
date_referred       19303 non-null datetime64[ns]
decision_date       19304 non-null datetime64[ns]
date_mailed         19304 non-null datetime64[ns]
language            19304 non-null object
intake_type         19304 non-null object
disposition_type    19304 non-null object
explanation         19304 non-null object
board_member        19163 non-null object
country             19304 non-null object
gender              19303 non-null object
category            15937 non-null object
type                15937 non-null object
location            19304 non-null object
residence_prov      19304 non-null object
head_of_family      19304 non-null object
associated_file     3212 non-null object
counsel             18366 non-null object
processing_time     19303 non-null timedelta64[ns]
decision_year       19304 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 2.0+ MB

The countries the most refugee claimants to Quebec came from. Notably 234 from the US, although the country of persecution sometimes changes throughout the IRB process.

In [443]:
quebec.country.value_counts()

Haiti                             1716
India                             1597
Mexico                            1120
Syria                             1013
Colombia                          1009
Congo, Dem Rep (Zaire)             804
Algeria                            588
Hungary                            540
Croatia                            482
Venezuela                          460
Burundi                            442
Pakistan                           431
El Salvador                        421
Cameroon                           415
Lebanon                            334
Egypt                              329
Honduras                           324
Guinea                             321
Bangladesh                         312
Chad                               306
Turkey                             289
Mali                               248
Guatemala                          247
Cuba                               236
United States of America           234
Tunisia                            221
Senegal                            213
Saint Vincent                      200
Peru                               189
Nigeria                            163
                                  ...
Azerbaijan                           5
Portugal                             4
Singapore                            4
Swaziland                            4
Seychelles                           4
Uganda                               4
Bosnia and Herzegovina               4
Netherlands                          4
Slovakia (Slovak Republic)           3
England                              3
Bahrain                              3
Taiwan                               2
Germany                              2
Korea DPR (North)                    2
Slovakia                             2
Paraguay                             2
Comoros                              2
Guyana                               2
Zambia                               2
Hong Kong (SAR)                      2
Oman                                 1
Thailand                             1
Turkmenistan                         1
Montenegro                           1
San Marino                           1
Saint Kitts and Nevis, Fed. Of       1
Tajikistan                           1
Dominica                             1
Czech Republic                       1
Cape Verde                           1
Name: country, Length: 153, dtype: int64

About two-thirds of the hearings were held in French.

In [444]:
quebec.language.value_counts()

F    12419
E     6885
Name: language, dtype: int64

Not surprisingly most of the hearings were held in Montreal

In [445]:
quebec.location.value_counts()

Montreal, QC          18819
Ottawa, ON              242
Toronto, ON             133
ADRP                     17
Moncton, NB              16
Saint John, NB           12
Gander, NL                9
Charlottetown, PEI        9
Calgary, AB               9
Edmonton, AB              8
St. John's, NL            8
Halifax, NS               7
Vancouver, BC             6
Fredericton, NB           3
ST. Stephen, NB           3
MONTREAL                  1
Regina, SK                1
Winnipeg, MB              1
Name: location, dtype: int64

How have acceptance rates in Quebec changed over the years?

In [446]:
quebec_outcomes = pd.pivot_table(quebec, index= "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [447]:
quebec_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,,
2013,171.0,3.0,9.0,20.0,104.0,2597.0,1659.0,453.0
2014,152.0,1.0,8.0,NaN,66.0,2058.0,1976.0,277.0
2015,75.0,12.0,1.0,12.0,30.0,1415.0,1828.0,176.0
2016,69.0,6.0,4.0,80.0,29.0,1115.0,1901.0,111.0
2017,68.0,NaN,2.0,172.0,39.0,970.0,1501.0,134.0

In [448]:
del quebec_outcomes["Abandoned"]

In [449]:
del quebec_outcomes["Administrative"]

In [450]:
del quebec_outcomes["Deceased"]

In [451]:
del quebec_outcomes["Withdrawn"]

In [452]:
quebec_outcomes.head()

explanation    Expedited Positive  Neg. No Cred Basis  Negative  Positive
decision_year
2013                         20.0               104.0    2597.0    1659.0
2014                          NaN                66.0    2058.0    1976.0
2015                         12.0                30.0    1415.0    1828.0
2016                         80.0                29.0    1115.0    1901.0
2017                        172.0                39.0     970.0    1501.0

In [453]:
quebec_outcomes.fillna(0, inplace=True)

In [454]:
quebec_outcomes["Total"] = quebec_outcomes.sum(axis=1)

In [455]:
quebec_outcomes["Tot_Pos"] = quebec_outcomes["Positive"].add(quebec_outcomes["Expedited Positive"])

In [456]:
quebec_outcomes["Rate_Pos"] = quebec_outcomes["Tot_Pos"]/quebec_outcomes["Total"]

Acceptance rates in Quebec have increased but are still below the rest of the country.

In [457]:
quebec_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,20.0,104.0,2597.0,1659.0,4380.0,1679.0,0.383333
2014,0.0,66.0,2058.0,1976.0,4100.0,1976.0,0.481951
2015,12.0,30.0,1415.0,1828.0,3285.0,1840.0,0.560122
2016,80.0,29.0,1115.0,1901.0,3125.0,1981.0,0.633920
2017,172.0,39.0,970.0,1501.0,2682.0,1673.0,0.623788

Is there a difference in acceptance rates between claims heard in English and French?

In [458]:
quebec_lang = pd.pivot_table(quebec, index= "language", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [459]:
quebec_lang.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
language,,,,,,,,
E,233,9,6,157,38,2550,3460,432
F,302,13,18,127,230,5605,5405,719

In [460]:
del quebec_lang["Abandoned"]

In [461]:
del quebec_lang["Administrative"]

In [462]:
del quebec_lang["Deceased"]

In [463]:
del quebec_lang["Withdrawn"]

In [464]:
quebec_lang["Total"] = quebec_lang.sum(axis=1)

In [465]:
quebec_lang["Tot_Pos"] = quebec_lang["Positive"].add(quebec_lang["Expedited Positive"])

In [466]:
quebec_lang["Rate_Pos"] = quebec_lang["Tot_Pos"]/quebec_lang["Total"]

Claims heard in English were more likely to be accepted than claims heard in French.

In [467]:
quebec_lang.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
language,,,,,,,
E,157,38,2550,3460,6205,3617,0.582917
F,127,230,5605,5405,11367,5532,0.486672

Which countries do the most claims heard in French come from?

In [468]:
quebec_fr = quebec[quebec.language =="F"]

The most claims heard in French come from Haiti, but also significant numbers from Mexico and Colombia.

In [469]:
quebec_fr.country.value_counts()

Haiti                       1684
Mexico                       964
Colombia                     828
Congo, Dem Rep (Zaire)       796
Algeria                      571
Burundi                      415
Hungary                      383
Cameroon                     373
India                        354
Syria                        332
Guinea                       316
Venezuela                    301
El Salvador                  290
Chad                         275
Honduras                     254
Mali                         245
Tunisia                      211
Senegal                      211
Guatemala                    206
Egypt                        195
Croatia                      182
Peru                         151
Congo (Brazzaville)          151
Cuba                         144
United States of America     137
Rwanda                       131
Morocco                      130
Ivory Coast                  129
Turkey                       119
Dominican Republic           118
                            ...
Somalia                        3
England                        3
Tanzania                       3
Singapore                      3
Netherlands                    3
Belize                         3
Zimbabwe                       3
Comoros                        2
Serbia                         2
Kenya                          2
Japan                          2
Saint Lucia                    2
Bahamas                        2
Bangladesh                     2
Bahrain                        2
Paraguay                       2
Germany                        1
Belarus(Byelorussia)           1
Dominica                       1
Norway                         1
Barbados                       1
Cape Verde                     1
Taiwan                         1
Thailand                       1
Bosnia and Herzegovina         1
Ethiopia                       1
Indonesia                      1
Nepal                          1
United Arab Emirates           1
Sri Lanka                      1
Name: country, Length: 129, dtype: int64

In [470]:
quebec_eng = quebec[quebec.language == "E"]

The most claims heard in English in Quebec originated in India. Second highest was Syria which could partly explain higher acceptance rate.

In [471]:
quebec_eng.country.value_counts()

India                             1243
Syria                              681
Pakistan                           422
Bangladesh                         310
Croatia                            300
Lebanon                            222
Colombia                           181
Turkey                             170
Saint Vincent                      162
Sri Lanka                          161
Venezuela                          159
Hungary                            157
Mexico                             156
Nigeria                            155
Egypt                              134
El Salvador                        131
Iraq                               131
Ghana                              109
United States of America            97
Cuba                                92
Iran                                90
Libya                               90
Eritrea                             89
Honduras                            70
Cambodia                            65
Afghanistan                         62
Yemen                               53
Romania                             51
Russia                              50
Albania                             48
                                  ...
Uruguay                              3
Hong Kong (SAR)                      2
Senegal                              2
Angola                               2
Togo                                 2
France                               2
Slovakia                             2
Zambia                               2
Kyrgyzstan                           2
Korea DPR (North)                    2
Madagascar                           2
Panama                               2
Guyana                               2
United Kingdom                       1
Tajikistan                           1
Belgium                              1
Ivory Coast                          1
Saint Kitts and Nevis, Fed. Of       1
Montenegro                           1
Netherlands                          1
Taiwan                               1
Germany                              1
Costa Rica                           1
San Marino                           1
Czech Republic                       1
Singapore                            1
Oman                                 1
Central African Rep                  1
Bahrain                              1
Turkmenistan                         1
Name: country, Length: 137, dtype: int64

Claims heard in French took a little longer to conclude, a seven month median compared with six for English. Median used instead of mean because there are several cases that took more than a decade to resolve and those throw off the mean figure. Nationally the median figure for processing time is 5 months.

In [472]:
quebec_fr.processing_time.median()

Timedelta('215 days 00:00:00')

In [473]:
quebec_eng.processing_time.median()

Timedelta('169 days 00:00:00')

In [474]:
all_claims.processing_time.median()

Timedelta('148 days 00:00:00')

In [475]:
quebec.to_csv("quebec.csv", encoding="utf-8")

## Ontario

Giving Ontario its own dataframe.

In [476]:
ontario = all_claims[all_claims.residence_prov == "Ontario"]

Two-thirds of refugee claimants lived in Ontario.

In [477]:
ontario.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58705 entries, 0 to 16243
Data columns (total 20 columns):
IRB_file_number     58705 non-null object
date_referred       58704 non-null datetime64[ns]
decision_date       58705 non-null datetime64[ns]
date_mailed         58705 non-null datetime64[ns]
language            58703 non-null object
intake_type         58705 non-null object
disposition_type    58705 non-null object
explanation         58705 non-null object
board_member        56819 non-null object
country             58704 non-null object
gender              58702 non-null object
category            49148 non-null object
type                49148 non-null object
location            58705 non-null object
residence_prov      58705 non-null object
head_of_family      58705 non-null object
associated_file     10775 non-null object
counsel             54732 non-null object
processing_time     58704 non-null timedelta64[ns]
decision_year       58705 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 6.0+ MB

Because Ontario accounts for such a high proportion of Canada's refugee claimants, the countries they come from (China, Hungary, Nigeria) essentially mirror the national figures.

In [478]:
ontario.country.value_counts()

China                       6689
Hungary                     4435
Nigeria                     3461
Pakistan                    3135
Colombia                    1993
Syria                       1915
Iraq                        1863
Turkey                      1819
Afghanistan                 1635
Somalia                     1628
Eritrea                     1508
Slovakia                    1364
Sri Lanka                   1344
Ukraine                     1026
Burundi                      950
Iran                         916
Korea DPR (North)            911
Ethiopia                     870
Jamaica                      865
Egypt                        849
Albania                      745
Congo, Dem Rep (Zaire)       724
Libya                        714
Bangladesh                   669
India                        665
El Salvador                  599
Croatia                      599
Lebanon                      561
Sudan                        557
Palestine                    545
                            ...
Myanmar, Burma                 8
Sudan (South)                  8
Zambia                         7
Dominica                       6
Qatar                          6
Switzerland                    5
Laos                           5
Turks and Caicos Islands       5
Bermuda                        5
Mozambique                     4
Austria                        4
Stateless                      4
Malta                          4
Singapore                      4
England                        4
Belize                         3
Cyprus                         3
Turkmenistan                   3
Malawi                         3
Madagascar                     3
Paraguay                       3
Guinea-Bissau                  2
Niger                          2
Fiji                           2
New Zealand                    1
Papua New Guinea               1
Nevis                          1
Denmark                        1
Mauritius                      1
Oman                           1
Name: country, Length: 176, dtype: int64

Most hearings were held in Toronto, with a couple thousand each in Ottawa and Montreal.

In [479]:
ontario.location.value_counts()

Toronto, ON           52794
Ottawa, ON             3045
Montreal, QC           2506
ADRP                    106
Vancouver, BC           100
Winnipeg, MB             33
Edmonton, AB             27
Calgary, AB              25
St. John's, NL           10
Saint John, NB           10
Halifax, NS               9
ST. Stephen, NB           8
Regina, SK                5
Charlottetown, PEI        5
Moncton, NB               4
Saskatoon, SK             4
Gander, NL                3
Fredericton, NB           3
TORONTO                   2
Coutts, AB                2
VANIER                    1
Toronto I, ON             1
Emerson, MB               1
MISSISSAUGA               1
Name: location, dtype: int64

In [480]:
ontario.language.value_counts()

E    55627
F     3076
Name: language, dtype: int64

In [481]:
ont_outcomes = pd.pivot_table(ontario, index= "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [482]:
ont_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Transfer Out,Withdrawn
decision_year,,,,,,,,,
2013,568.0,19.0,13.0,72.0,341.0,5584.0,5011.0,1.0,1366.0
2014,636.0,5.0,6.0,NaN,503.0,4111.0,6635.0,NaN,980.0
2015,271.0,4.0,2.0,46.0,485.0,2739.0,6557.0,NaN,634.0
2016,193.0,8.0,6.0,324.0,231.0,2949.0,6620.0,NaN,696.0
2017,242.0,NaN,3.0,774.0,60.0,2952.0,6442.0,NaN,616.0

In [483]:
ont_outcomes.fillna(0, inplace=True)

In [484]:
del ont_outcomes["Abandoned"]

In [485]:
del ont_outcomes["Administrative"]

In [486]:
del ont_outcomes["Deceased"]

In [487]:
del ont_outcomes["Transfer Out"]

In [488]:
del ont_outcomes["Withdrawn"]

In [489]:
ont_outcomes["Total"] = ont_outcomes.sum(axis=1)

In [490]:
ont_outcomes["Tot_Pos"] = ont_outcomes["Positive"].add(ont_outcomes["Expedited Positive"])

In [491]:
ont_outcomes["Rate_Pos"] = ont_outcomes["Tot_Pos"]/ont_outcomes["Total"]

Outcomes in Ontario by year mirror the national figures.

In [492]:
ont_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,72.0,341.0,5584.0,5011.0,11008.0,5083.0,0.461755
2014,0.0,503.0,4111.0,6635.0,11249.0,6635.0,0.589830
2015,46.0,485.0,2739.0,6557.0,9827.0,6603.0,0.671924
2016,324.0,231.0,2949.0,6620.0,10124.0,6944.0,0.685895
2017,774.0,60.0,2952.0,6442.0,10228.0,7216.0,0.705514

In [493]:
ontario.to_csv("ontario.csv", encoding="utf-8")

## Saskatchewan, Manitoba and the Territories

Giving region its own dataframe

In [494]:
sask_mb = all_claims[(all_claims.residence_prov == "Saskatchewan") | (all_claims.residence_prov == "Manitoba") | (all_claims.residence_prov == "Northwest Territories") | (all_claims.residence_prov == "Nunavut")| (all_claims.residence_prov == "Yukon")]

There were 1,122 refugee claimants who lived in the region during this time.

In [495]:
sask_mb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1122 entries, 638 to 16223
Data columns (total 20 columns):
IRB_file_number     1122 non-null object
date_referred       1122 non-null datetime64[ns]
decision_date       1122 non-null datetime64[ns]
date_mailed         1122 non-null datetime64[ns]
language            1122 non-null object
intake_type         1122 non-null object
disposition_type    1122 non-null object
explanation         1122 non-null object
board_member        1116 non-null object
country             1122 non-null object
gender              1122 non-null object
category            958 non-null object
type                958 non-null object
location            1122 non-null object
residence_prov      1122 non-null object
head_of_family      1122 non-null object
associated_file     152 non-null object
counsel             984 non-null object
processing_time     1122 non-null timedelta64[ns]
decision_year       1122 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 118.3+ KB

Most lived in Manitoba.

In [496]:
sask_mb.residence_prov.value_counts()

Manitoba                 753
Saskatchewan             337
Northwest Territories     21
Yukon                      8
Nunavut                    3
Name: residence_prov, dtype: int64

Almost one in three were from either Somalia or Pakistan.

In [497]:
sask_mb.country.value_counts()

Somalia                     190
Pakistan                    122
Djibouti                     58
Nigeria                      57
Eritrea                      50
Congo, Dem Rep (Zaire)       40
Ethiopia                     37
Namibia                      34
Ghana                        33
Bangladesh                   31
Burundi                      27
United States of America     23
Syria                        22
India                        18
El Salvador                  17
Honduras                     17
Iraq                         17
Libya                        14
Mexico                       13
Yemen                        13
Colombia                     13
Venezuela                    13
Afghanistan                  12
South Africa                 12
Guatemala                    11
Egypt                        11
China                        11
Hungary                      10
Iran                          9
Israel                        9
                           ...
Rwanda                        4
Malaysia                      4
Saudi Arabia                  4
Botswana                      4
Algeria                       3
Indonesia                     3
Russia                        3
Saint Lucia                   3
Japan                         3
Jamaica                       3
Dominican Republic            3
Cameroon                      3
Korea R. (South)              2
Jordan                        2
Romania                       2
Mali                          2
Philippines                   2
Bosnia and Herzegovina        2
Burkina Faso                  2
Peru                          1
Laos                          1
Palestine                     1
Myanmar, Burma                1
Lithuania                     1
Haiti                         1
Congo (Brazzaville)           1
Italy                         1
Mauritania                    1
Unknown                       1
Lebanon                       1
Name: country, Length: 78, dtype: int64

Most claimants lived in Winnipeg.

In [498]:
sask_mb.location.value_counts()

Winnipeg, MB     686
Regina, SK       104
Saskatoon, SK     99
Toronto, ON       82
Edmonton, AB      53
Calgary, AB       50
Vancouver, BC     27
Montreal, QC      19
Halifax, NS        1
Ottawa, ON         1
Name: location, dtype: int64

How have acceptance rates changed over the years?

In [499]:
sask_mb_outcomes = pd.pivot_table(sask_mb, index= "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [500]:
sask_mb_outcomes.head()

explanation,Abandoned,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,
2013,19.0,NaN,2.0,125.0,122.0,10.0
2014,2.0,NaN,5.0,89.0,91.0,8.0
2015,4.0,1.0,NaN,51.0,87.0,5.0
2016,2.0,4.0,2.0,71.0,113.0,5.0
2017,4.0,19.0,2.0,93.0,181.0,5.0

In [501]:
sask_mb_outcomes.fillna(0, inplace=True)

In [502]:
del sask_mb_outcomes["Abandoned"]

In [503]:
del sask_mb_outcomes["Withdrawn"]

In [504]:
sask_mb_outcomes["Total"] = sask_mb_outcomes.sum(axis=1)

In [505]:
sask_mb_outcomes["Tot_Pos"] = sask_mb_outcomes["Positive"].add(sask_mb_outcomes["Expedited Positive"])

In [506]:
sask_mb_outcomes["Rate_Pos"] = sask_mb_outcomes["Tot_Pos"]/sask_mb_outcomes["Total"]

Acceptance rates climbed from 49% in 2013 to 68% in the first nine months of 2017. This is comparable to the increase in the rest of Canada.

In [507]:
sask_mb_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,0.0,2.0,125.0,122.0,249.0,122.0,0.489960
2014,0.0,5.0,89.0,91.0,185.0,91.0,0.491892
2015,1.0,0.0,51.0,87.0,139.0,88.0,0.633094
2016,4.0,2.0,71.0,113.0,190.0,117.0,0.615789
2017,19.0,2.0,93.0,181.0,295.0,200.0,0.677966

In [508]:
sask_mb.to_csv("sask_mb.csv", encoding="utf-8")

## Alberta

Giving Alberta its own dataframe.

In [509]:
ab = all_claims[all_claims.residence_prov == "Alberta"]

There were 5,835 refugee claimants who lived in Alberta.

In [510]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5835 entries, 14 to 16258
Data columns (total 20 columns):
IRB_file_number     5835 non-null object
date_referred       5835 non-null datetime64[ns]
decision_date       5835 non-null datetime64[ns]
date_mailed         5835 non-null datetime64[ns]
language            5835 non-null object
intake_type         5835 non-null object
disposition_type    5835 non-null object
explanation         5835 non-null object
board_member        5758 non-null object
country             5835 non-null object
gender              5835 non-null object
category            4804 non-null object
type                4804 non-null object
location            5835 non-null object
residence_prov      5835 non-null object
head_of_family      5835 non-null object
associated_file     946 non-null object
counsel             4911 non-null object
processing_time     5835 non-null timedelta64[ns]
decision_year       5835 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 615.4+ KB

Refugee claims in Alberta mostly came from Pakistan, Colombia and Namibia.

In [511]:
ab.country.value_counts()

Pakistan                  419
Colombia                  340
Namibia                   302
Turkey                    217
Syria                     202
Somalia                   184
Yemen                     179
El Salvador               177
Mexico                    172
Nigeria                   171
Albania                   166
Venezuela                 164
Hungary                   154
Libya                     146
Iraq                      136
Ethiopia                  132
Cameroon                  123
Lebanon                   118
Eritrea                   114
India                     113
Croatia                   111
Zimbabwe                   96
Congo, Dem Rep (Zaire)     73
Honduras                   72
Burundi                    67
Afghanistan                67
Uganda                     65
Egypt                      60
Bangladesh                 58
Palestine                  58
                         ...
Bahamas                     3
Trinidad and Tobago         3
Singapore                   3
Central African Rep         2
Germany                     2
Tajikistan                  2
Belize                      2
Belarus(Byelorussia)        2
Taiwan                      2
Barbados                    2
Sierra Leone                2
Argentina                   2
Moldova                     2
Dominican Republic          2
Guinea-Bissau               1
Sweden                      1
Slovakia                    1
Armenia                     1
Cyprus                      1
Finland                     1
Hong Kong (SAR)             1
Malaysia                    1
Stateless                   1
Kuwait                      1
Burkina Faso                1
Montenegro                  1
United Arab Emirates        1
Oman                        1
Bahrain                     1
Myanmar, Burma              1
Name: country, Length: 136, dtype: int64

Fear of criminals or gangs was the most common reason refugees claimed asylum in Alberta.

In [512]:
ab.category.value_counts()

No Nexus _ Criminality_Corruption              1207
Political Opinion  Activism                     755
Particular Social Group  Gender_Age             591
Religion                                        546
Political Opinion  Organization                 457
Particular Social Group  Sexual Orientation     375
Race_Ethnicity                                  374
Political Opinion  Varied_Other                 218
No Nexus  Varied_Other                           97
Political Opinion  Military Service              79
Particular Social Group  Varied_Other            61
Political Opinion _ State Policy Issues          44
Name: category, dtype: int64

Most claimants lived in Calgary.

In [513]:
ab.location.value_counts()

Calgary, AB        3150
Edmonton, AB       1747
Toronto, ON         485
Montreal, QC        268
Vancouver, BC       121
Ottawa, ON           26
Winnipeg, MB         18
Emerson, MB           6
Saskatoon, SK         3
Regina, SK            3
Halifax, NS           2
ADRP                  2
Calgary               1
Coutts, AB            1
Fredericton, NB       1
Moncton, NB           1
Name: location, dtype: int64

In [514]:
ab_outcomes = pd.pivot_table(ab, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [515]:
ab_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,,
2013,46.0,2.0,3.0,3.0,15.0,678.0,519.0,84.0
2014,55.0,1.0,NaN,NaN,25.0,582.0,599.0,60.0
2015,14.0,NaN,NaN,18.0,20.0,424.0,569.0,48.0
2016,7.0,2.0,NaN,57.0,4.0,361.0,573.0,27.0
2017,19.0,NaN,NaN,66.0,2.0,237.0,688.0,27.0

In [516]:
ab_outcomes.fillna(0, inplace=True)

In [517]:
del ab_outcomes["Abandoned"]

In [518]:
del ab_outcomes["Administrative"]

In [519]:
del ab_outcomes["Deceased"]

In [520]:
del ab_outcomes["Withdrawn"]

In [521]:
ab_outcomes["Total"] = ab_outcomes.sum(axis=1)

In [522]:
ab_outcomes["Tot_Pos"] = ab_outcomes["Positive"].add(ab_outcomes["Expedited Positive"])

In [523]:
ab_outcomes["Rate_Pos"] = ab_outcomes["Tot_Pos"]/ab_outcomes["Total"]

The acceptance rate of refugee claimants in Alberta has increased to 76 per cent in 2017, up from 43 per cent in 2013. This is higher than the overall rate of 70 per cent for all of Canada. There were also more claims decided in the first nine months of 2017 than any previous year, which may reflect an uptick of refugee claims in the province in 2016-17.

In [524]:
ab_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,3.0,15.0,678.0,519.0,1215.0,522.0,0.429630
2014,0.0,25.0,582.0,599.0,1206.0,599.0,0.496683
2015,18.0,20.0,424.0,569.0,1031.0,587.0,0.569350
2016,57.0,4.0,361.0,573.0,995.0,630.0,0.633166
2017,66.0,2.0,237.0,688.0,993.0,754.0,0.759315

In [525]:
edmonton = ab[ab.location == "Edmonton, AB"]

Most of the claimants from Somalia and Colombia are in Edmonton whereas most of the claims from Pakistan are in Calgary.

In [526]:
edmonton.country.value_counts()

Somalia                   105
Colombia                  101
Libya                      95
Syria                      78
El Salvador                68
Ethiopia                   65
Uganda                     49
Turkey                     48
Pakistan                   48
Namibia                    48
Eritrea                    47
Lebanon                    46
Burundi                    45
Cameroon                   42
Zimbabwe                   39
Nigeria                    37
Cuba                       36
Croatia                    35
Congo, Dem Rep (Zaire)     33
India                      31
Iraq                       30
Mexico                     30
Guatemala                  29
Mauritania                 25
Palestine                  24
Afghanistan                23
Ukraine                    22
Djibouti                   20
Hungary                    17
Jordan                     17
                         ...
Peru                        3
Central African Rep         2
Bahamas                     2
Argentina                   2
Fiji                        2
Sierra Leone                2
Azerbaijan                  2
France                      2
Trinidad and Tobago         2
Morocco                     2
Belize                      1
Greece                      1
Germany                     1
Serbia                      1
Chad                        1
Romania                     1
Angola                      1
Swaziland                   1
Dominican Republic          1
Armenia                     1
Burkina Faso                1
Togo                        1
Saint Lucia                 1
Korea DPR (North)           1
United Arab Emirates        1
Algeria                     1
Ivory Coast                 1
Guinea-Bissau               1
Bosnia and Herzegovina      1
Botswana                    1
Name: country, Length: 102, dtype: int64

In [527]:
calgary = ab[ab.location == "Calgary, AB"]

In [528]:
calgary.country.value_counts()

Pakistan                347
Colombia                197
Yemen                   163
Venezuela               140
Albania                 135
Turkey                  130
Hungary                 125
Nigeria                 111
Syria                   106
Mexico                  103
El Salvador             102
Iraq                     93
Lebanon                  68
Ethiopia                 65
Cameroon                 63
Somalia                  57
Eritrea                  55
India                    52
Honduras                 49
Libya                    48
Mongolia                 47
Zimbabwe                 45
Egypt                    40
Bangladesh               37
Croatia                  36
Georgia                  34
Afghanistan              33
Kosovo                   32
Palestine                30
Jordan                   30
                       ...
Latvia                    3
Singapore                 3
Morocco                   3
Saint Vincent             3
Costa Rica                3
Brazil                    3
Czech Republic            3
Turkmenistan              3
Vietnam                   3
Peru                      2
Barbados                  2
Belarus(Byelorussia)      2
Chile                     2
Togo                      2
Uzbekistan                2
Germany                   1
France                    1
Swaziland                 1
Trinidad and Tobago       1
Cyprus                    1
Myanmar, Burma            1
Malaysia                  1
Tajikistan                1
Moldova                   1
Liberia                   1
Thailand                  1
Mali                      1
Bahrain                   1
Azerbaijan                1
Sweden                    1
Name: country, Length: 115, dtype: int64

In [529]:
ab.to_csv("ab.csv", encoding="utf-8")

## British Colombia

Giving BC its own dataframe

In [530]:
bc = all_claims[all_claims.residence_prov == "British Columbia"]

4,178 refugee claimants lived in BC

In [531]:
bc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4178 entries, 35 to 16257
Data columns (total 20 columns):
IRB_file_number     4178 non-null object
date_referred       4176 non-null datetime64[ns]
decision_date       4178 non-null datetime64[ns]
date_mailed         4178 non-null datetime64[ns]
language            4177 non-null object
intake_type         4178 non-null object
disposition_type    4178 non-null object
explanation         4178 non-null object
board_member        4102 non-null object
country             4178 non-null object
gender              4177 non-null object
category            3482 non-null object
type                3482 non-null object
location            4178 non-null object
residence_prov      4178 non-null object
head_of_family      4178 non-null object
associated_file     691 non-null object
counsel             3666 non-null object
processing_time     4176 non-null timedelta64[ns]
decision_year       4178 non-null int64
dtypes: datetime64[ns](3), int64(1), object(15), timedelta64[ns](1)
memory usage: 440.6+ KB

Most of B.C.'s refugee claimants came from China, Afghanistan and Iraq.

In [532]:
bc.country.value_counts()

China                       450
Afghanistan                 390
Iraq                        323
Colombia                    237
Honduras                    231
Iran                        222
Mexico                      186
India                       158
Pakistan                    128
Hungary                     117
Syria                       112
Sri Lanka                   110
El Salvador                  90
United States of America     87
Turkey                       74
Libya                        71
Nigeria                      60
Palestine                    46
Burundi                      45
Venezuela                    44
Guatemala                    37
Lebanon                      35
Saudi Arabia                 35
Mongolia                     34
Ukraine                      31
Cuba                         28
Romania                      27
Zimbabwe                     27
Albania                      26
Russia                       25
                           ...
Sudan                         2
Congo (Brazzaville)           2
Burkina Faso                  1
Barbados                      1
Papua New Guinea              1
Laos                          1
Guyana                        1
Bosnia and Herzegovina        1
Tunisia                       1
Swaziland                     1
Equatorial Guinea             1
Lithuania                     1
Uzbekistan                    1
Liberia                       1
Uruguay                       1
Sudan (South)                 1
Norway                        1
Gabon                         1
New Zealand                   1
Georgia                       1
Haiti                         1
Bahamas                       1
United Arab Emirates          1
Belarus(Byelorussia)          1
Panama                        1
Kuwait                        1
Netherlands                   1
Qatar                         1
Saint Vincent                 1
Turkmenistan                  1
Name: country, Length: 137, dtype: int64

Almost all of these claims were heard in Vancouver.

In [533]:
bc.location.value_counts()

Vancouver, BC     3955
Montreal, QC        74
Toronto, ON         72
Calgary, AB         31
Edmonton, AB        20
Regina, SK          12
Winnipeg, MB         6
Saskatoon, SK        2
Halifax, NS          2
ADRP                 1
Ottawa, ON           1
Vancouver            1
St. John's, NL       1
Name: location, dtype: int64

In [534]:
 bc_outcomes = pd.pivot_table(bc, index = "decision_year", columns = "explanation", values="IRB_file_number", aggfunc=np.count_nonzero)

In [535]:
bc_outcomes.head()

explanation,Abandoned,Administrative,Deceased,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Withdrawn
decision_year,,,,,,,,
2013,51.0,2.0,2.0,NaN,10.0,439.0,360.0,113.0
2014,16.0,NaN,2.0,NaN,3.0,308.0,529.0,52.0
2015,18.0,1.0,NaN,4.0,9.0,154.0,373.0,54.0
2016,23.0,1.0,1.0,44.0,9.0,192.0,457.0,59.0
2017,19.0,1.0,1.0,64.0,5.0,194.0,562.0,46.0

In [536]:
bc_outcomes.fillna(0, inplace=True)

In [537]:
del bc_outcomes["Abandoned"]

In [538]:
del bc_outcomes["Administrative"]

In [539]:
del bc_outcomes["Deceased"]

In [540]:
del bc_outcomes["Withdrawn"]

In [541]:
bc_outcomes["Total"] = bc_outcomes.sum(axis=1)

In [542]:
bc_outcomes["Tot_Pos"] = bc_outcomes["Positive"].add(bc_outcomes["Expedited Positive"])

In [543]:
bc_outcomes["Rate_Pos"] = bc_outcomes["Tot_Pos"]/bc_outcomes["Total"]

Acceptance rates in BC were typically higher than in the rest of Canada, possibly due to the number of claims from Afghanistan and Iraq. In the first 9 months of 2017 more than three-quarters of claims were accepted. By the end of September the number of claims heard in BC had already surpassed the previous year's total.

In [544]:
bc_outcomes.head()

explanation,Expedited Positive,Neg. No Cred Basis,Negative,Positive,Total,Tot_Pos,Rate_Pos
decision_year,,,,,,,
2013,0.0,10.0,439.0,360.0,809.0,360.0,0.444994
2014,0.0,3.0,308.0,529.0,840.0,529.0,0.629762
2015,4.0,9.0,154.0,373.0,540.0,377.0,0.698148
2016,44.0,9.0,192.0,457.0,702.0,501.0,0.713675
2017,64.0,5.0,194.0,562.0,825.0,626.0,0.758788

In [545]:
bc.to_csv("bc.csv", encoding="utf-8")

In [546]:
bc.category.value_counts()

No Nexus _ Criminality_Corruption              864
Political Opinion  Activism                    640
Religion                                       436
Particular Social Group  Gender_Age            307
Political Opinion  Organization                283
Race_Ethnicity                                 240
Particular Social Group  Sexual Orientation    207
Political Opinion _ State Policy Issues        162
Political Opinion  Varied_Other                120
Particular Social Group  Varied_Other          105
No Nexus  Varied_Other                          83
Political Opinion  Military Service             35
Name: category, dtype: int64